@import "variables";
// overrides _reboot.scss line 39
// Body
//
// 1. Remove the margin in all browsers.
// 2. As a best practice, apply a default `background-color`.
// 3. Set an explicit initial text-align value so that we can later use
//    the `inherit` value on things like `<th>` elements.

body {
  margin: 0; // 1
  font-family: $font-family-base;
  @include font-size($font-size-base);
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
}

// overrides _reboot.scss line 97
p {
  color: $body-color;
  font-size: 1rem;
  font-size: 16px;
  line-height: 24px;

  a {
    color: var(--il-alma-mater);
    text-decoration: underline;

    &:visited {
      color: var(--il-alma-mater-1);
    }
    &:hover {
      color: var(--il-altgeld);
    }
    &:focus {
      outline: 2px dotted var(--il-altgeld);
    }
  }
}

// overrides _reboot.scss line 182
a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.

  @include hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}


