// Override bootstrap framework variables.
// Full list of variables in [path to themes/contrib]/bootstrap4/dist/bootstrap/4.4.1/scss/_variables.scss
// or [path to themes/contrib]/bootstrap4/scss/_theme_variables.scss.

// overrides _variables.scss line 164
// Body
//
// Settings for the `<body>` element.

$body-color:                #252525;

// overrides _variables.scss line 172
// Links
//
// Style anchor elements.

$link-color:                              var(--il-alma-mater);
$link-hover-color:                        var(--il-altgeld);
$link-decoration:                         underline;
$link-hover-decoration:                   underline;

// overrides _variables.scss line 295
// Typography
//
// Font, line-height, and color for body text, headings, and more.

$h1-font-size:                40px !default;
$h2-font-size:                32px !default;
$h3-font-size:                28px !default;
$h4-font-size:                24px !default;
$h5-font-size:                20px !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-family:        var(--il-sans-source) !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              var(--il-blue) !default;
