#block-search {
  font-size: 18px;

  .fa-search {
    padding: 10px;
  }

  span {
    display: none;
  }

  .search {

    &__form {

      &--hidden {
        display: none;
      }
      &--visible {
        display: block;
      }
    }
    &__box {
      display: block;
      position: absolute;
      right: 45px;
      z-index: 9999;
      width: 200px;
      height: 39px;
      top: 0px;

      @include breakpoint(tablet-down) {
        top: -8px;
      }
    }
    &__submit {
      background: transparent;
      border: none;
      width: 30px;
      height: 28px;
      position: absolute;
      right: 9px;
      top: -11px;

      @include breakpoint(tablet-down) {
        right: 14px;
        top: -18px;
      }

      &:after {
        content: "\f002";
        font-family: FontAwesome;
      }
    }
  }
}
.wms-custom-search {
  padding: 0;
  margin-top: 10px; //1px is all that is needed to move block down below secondary navigation
  font-family: $font-primary;

  .gsc-control-cse,
  .gsc-thumbnail-inside,
  .gsc-url-top {
    padding: 0 !important;
  }
  .gsc-input {
    padding-left: 0 !important;
  }
  .gsc-table-result {
    border: none !important;
    font-family: $montserrat !important;
    width: 80% !important;
  }
}
#cse-search-form {
  #___gcse_0 {
    .gsc-control-cse {
      font-family: $montserrat;
      .gsc-control-wrapper-cse {

        form.gsc-search-box {
          width: 80% !important;
        }
      }
    }
  }
}
.gsc-input {
  height: inherit !important;
  border: none !important;
  margin: 0 !important;
}
.gsib_a {
  padding: 0 !important;
  margin: 0 !important;

  input {
    text-indent: 5px !important;
    height: inherit !important;
    padding: 12px 0 !important;
  }
}
.gsc-search-button-v2, .gsc-search-button-v2:hover, .gsc-search-button-v2:focus {
  border-color: rgba(233, 233, 233, 0.6) !important;
}
.gsc-search-button-v2 svg {
  fill: #444 !important;
}
.cse .gsc-search-button-v2, .gsc-search-button-v2 {
  font-size: 20px !important;
  padding: 14px 27px !important;
}
.gsc-resultsHeader {
  display: none;
}
.gsc-above-wrapper-area-container {
  border: none;
}
.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
  color: $color-ui-5 !important;
}
.gs-webResult.gs-result a.gs-title:visited:hover, .gs-webResult.gs-result a.gs-title:visited:hover b, .gs-imageResult a.gs-title:visited:hover, .gs-imageResult a.gs-title:visited:hover b {
  color: $color-primary-univ-orange !important;
}
.gs-result .gs-title, .gs-result .gs-title * {
  color: $color-ui-text !important;
  text-decoration: none !important;
  height: 1.4em !important;

  a {
    border-bottom: 1px solid $color-primary-univ-orange !important;

    &:hover {
      color: $color-primary-univ-orange !important;
    }
  }
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
  color: $color-tertiary-blue !important;
}
.gcsc-branding {
  display: none !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  color: $color-primary-univ-orange !important;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: $color-primary-univ-orange !important;
}
