#block-side-nav {
  //position: fixed;

  // .block-side-nav-menu__header {
  //   background-color: $color-secondary-aces-dk-blue;
  //   color: white;
  //   font-weight: bold;
  //   @include font-size(20px,24px);
  //   padding: 10px 10px 10px 20px;
  // }

  ul.c-menu-main {
    background-color: rgb(249,249,249);
    box-shadow: 1px 1px 6px #c6bfbf;
    font-weight: 500;
    list-style: none;
    padding: 10px 0px;
    margin-bottom: 0;


    li.c-menu-main__item {
      color: $color-primary-univ-blue;
      padding: 6px 20px;
    }
    li.c-menu-main__item--active-trail {
      border-bottom: 1px solid #d5d5d580;
      padding: 6px 20px;


      > a.is-active {
        text-decoration: none;
        border-bottom: 1px solid $color-primary-univ-orange;
        color: var(--il-orange);
      }
    }
  }
  ul.c-menu-main__submenu {
    font-weight: normal;
    list-style: none;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 5px 0 0 0;

    > li.c-menu-main__item {
      color: $color-default-text;
      padding: 5px 0;

      &--active-trail {
        border: none;
      }
    }
  }
}
#block-side-nav-header {
  background-color: $color-primary-univ-blue;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px 1px 6px #c6bfbf;
  color: white;
  font-weight: bold;

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 15px; //redundant for aces but needed for webtools calendar

    li {
      display: none;
    }
    li.c-menu-main__item--active-trail {

      display: block;
      @include font-size(20px,24px);
      padding: 10px 10px 10px 5px;

      a {
        color: white;
      }
    }
  }
}
body.simple {
  #block-side-nav-header {
    ul {
      height: 10px;
    }
  }
  #block-side-nav {
    ul.c-menu-main > li:first-child {
      font-weight: bold;
    }
  }
}