// TODO: break this out into _components.pager.scss ??
.block,
.views {
  &__pager {
    margin-bottom: 30px;

    .pager {

      &__item {

        &--previous {
          float: left;

          &__text {
            @include font-size(14px);
            font-weight: 600;

            @include breakpoint(large-up) {

              &:before {
                content: 'Previous';
                padding-left: 5px;
              }
            }
            
            @include breakpoint(medium-down) {

              &:before {
               content: 'Prev';
              }

            }

          }
        }
        &--first {
          float: left;

          &__text {
            @include font-size(14px);
            font-weight: 600;

            &:before {
              content: '\f100';
              font-family: FontAwesome;
              // font-size: smaller;
              padding-right: 5px;
            }

            @include breakpoint(tablet-down) {
              visibility: hidden;

              &:after {
                content: '\f100';
                font-family: FontAwesome;
                right: 14px;
                top: 13px;
                position: absolute;
                visibility: visible;
                width: auto;
              }
            }
          }
        }
        &--next {
          float: right;

          &__text {
            @include font-size(14px);
            font-weight: 600;


            @include breakpoint(large-up) {

              &:before {
                content: 'Next';
                padding-left: 5px;
              }
            }
            
            @include breakpoint(medium-down) {

              &:before {
                content: 'Next';
              }
            }
          }
        }
        &--last {
          float: right;

          &__text {
            @include font-size(14px);
            font-weight: 600;

            &:after {
              content: '\f101';
              font-family: FontAwesome;
              // font-size: smaller;
              padding-left: 5px;
            }
            @include breakpoint(tablet-down) {
              visibility: hidden;

              &:after {
                content: '\f101';
                font-family: FontAwesome;
                right: 14px;
                top: 13px;
                position: absolute;
                visibility: visible;
                width: auto;
              }
            }
          }
        }
      }
      &__items {
        @include breakpoint(tablet-down) {
          display: flex;
        }
        &--left {
          padding: 0;

          @include breakpoint(small) {

            a.button {
              height: 44px;
//              width: 44px;
            }
          }
        }

        &--center {
          margin-top: 11px;
          text-align: center;

          &.pager__item {
            display: inline;
            font-weight: bold;
            padding: 0px 5px 0px 0px;

            &.is-active {

              a {
                background-color: rgba($color-secondary-aces-lt-blue, 0.2);
                color: black !important;
              }
            }
            a {
              border: 2px solid rgba($color-secondary-aces-lt-blue, 0.5);
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
               border-radius: 3px;
               color: $color-primary-univ-orange;
               padding: 9.5px 18px;

              &:hover {
                background-color: rgba($color-secondary-aces-lt-blue, 0.2);
                color: black;
              }
            }

            @include breakpoint(small) {
              display: none;
            }

          }

          .pager__item {
            display: inline;
            font-weight: bold;
            padding: 0px 5px 0px 0px;

            &.is-active {

              a {
                background-color: rgba($color-secondary-aces-lt-blue, 0.2);
                color: black !important;
              }
            }

            a {
            border: 2px solid rgba($color-secondary-aces-lt-blue, 0.5);
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
             border-radius: 3px;
             color: $color-primary-univ-orange;
             padding: 9.5px 18px;

              &:hover {
                background-color: rgba($color-secondary-aces-lt-blue, 0.2);
                color: black;
              }
            }

          }
        }
        &--right {
          padding: 0;

          @include breakpoint(tablet-down) {

            a.button {
              height: 44px;
//              width: 44px;
            }
          }
        }
      }
    }
    &--taxonomy {

      .pager {
        text-align: center;
      }

      &--left {
        float: left;
        padding: 0 10px !important;
      }
      ul.pager__items {
        display: inline-flex;
        list-style: none;
        padding: 0;
        position: relative;
        top: 10px;

        li.pager__items--center {
           margin-top: 9px;

          a {
            @include breakpoint(phone) {
              border: none;
              padding: 10px;
            }
          }
        }

        a.button {
          padding: 7px 15px;
        }
      }

      &--right {
        float: right;
        padding: 0 10px !important;

        a {
          float: right;
        }
      }
      .views {
        &__pager {
          &--wrapper {
            text-align: center;
          }
        }
      }
    }
  }
}
.views__pager {
  height: 100px;

  &--wrapper {
    padding: 20px 0 !important;
  }
}
