/* Overrides for the Slick Carousel
 * ========================================================================== */

.image-slider {
  .slick-prev,
  .slick-next {
    &:before {
      color: $color-primary-univ-orange;
    }
  }
  img {

  }
}
.image-slider2 {
  .slick-prev,
  .slick-next {
    &:before {
      color: $color-primary-univ-orange;
    }
  }
  img {
    padding: 10px;
  }
}
//.node-7030 {
//  .image-slider {
//    .slick-prev,
//    .slick-next {
//      &:before {
//        color: $color-primary-univ-orange;
//      }
//    }
//    img {
//      height: 300px;
//      padding: 10px;
//    }
//  }
//}
//.news-slider{
//    @include IE(9) {
//      background-color: rgba(200, 200, 200, 0.7) !important;
//    }
//    @include IE(10) {
//      background-color: rgba(200, 200, 200, 0.7) !important;
//    }
//  //gaussian change
//  //background-color: $color-newslider-background;
//}
//
//.slickcarousel {
//
//  max-width:1170px;
//  margin:0 auto;
//  padding: 20px 20px 40px 20px;
//  margin-top: 0px;
//  color: $blue-sapphire;
//
//  .slick-prev:before, .slick-next:before{
//    color:#000;
//  }
//  .slick-dots{
//    position: inherit;
//    bottom:0px;
//    margin-left:0px;
//  }
//  .slick-news-title {
//    text-transform: initial;
//    font-size: 44px;
//    line-height: 51px;
//    text-align: center;
//    font-weight: normal;
//    font-family: $montserrat;
//  }
//  .slick-readmore{
//    a {
//      color:#fff;
//    }
//  }
//  .slick-prev, .slick-next{
//    height: auto;
//    width: auto;
//    margin-top:0px;
//    top:30%;
//  }
//  .slick-prev{
//    left: 0px;
//  }
//  .slick-prev:before{
//    content: url(../images/arrow-left.png);
//  }
//  .slick-next:before{
//    content: url(../images/arrow-right.png);
//  }
//}
//.statement {
//  padding-top: 0px;
//  width:100%;
//  max-width:none;
//
//  .quote, .news-statement, .video-statement {
//    text-align: center;
//    margin: 0 40px;
//    font-size: 20px;
//    line-height: 26px;
//
//    .tiny.button{
//      margin-top:15px;
//    }
//  }
//
//  .quote {
//    font-style: italic;
//    font-size: 20px;
//    line-height: 26px;
//
//      &:before{
//        color: rgb(204, 204, 204);
//        content: open-quote;
//        font-size: 3em;
//        line-height: 26px;
//        margin-right: 0.25em;
//        vertical-align: -0.4em;
//      }
//  }
//  .quote-cite {
//      display:block;
//      text-align: right;
//      margin-top: 0;
//
//
//  }
//}
//@media only screen and (min-width: 280px) and (max-width: 479px) {
//  .slickcarousel {
//    max-width:1170px;
//    margin:0 auto;
//    padding: 0px;
//    margin-top:-80px;
//
//    .slick-prev:before, .slick-next:before{
//      color:#000;
//    }
//    .slick-dots{
//      position: inherit;
//      bottom:0px;
//      margin-left:0px;
//    }
//    .slick-news-title {
//      padding-bottom: 10px;
//
//    }
//    .slick-readmore{
//      a {
//        color:#fff;
//      }
//    }
//    .slick-prev, .slick-next{
//      height: auto;
//      width: auto;
//      margin-top:0px;
//      top:30%;
//
//    }
//    .slick-prev{
//      left: -15px;
//    }
//    .slick-next{
//      right:-15px;
//
//    }
//    .slick-prev:before{
//      content: url(../images/arrow-left.png);
//      display:none;
//    }
//    .slick-next:before{
//      content: url(../images/arrow-right.png);
//      display:none;
//    }
//  }
//  .statement {
//    padding-top: 90px;
//    width:100%;
//    max-width:none;
//
//    .quote, .news-statement, .video-statement {
//      text-align: center;
//      margin: 0px;
//      font-size: 16px;
//      line-height: 18px;
//
//      .tiny.button {
//        margin-top:15px;
//      }
//    }
//
//    .quote {
//      font-style: italic;
//      font-size: 20px;
//      line-height: 26px;
//
//      &:before {
//        color: rgb(204, 204, 204);
//        content: open-quote;
//        font-size: 3em;
//        line-height: 26px;
//        margin-right: 0.25em;
//        vertical-align: -0.4em;
//      }
//    }
//    .quote-cite {
//      display:block;
//      text-align: center;
//      margin-top: 0.6em;
//      padding-bottom: 10px;
//    }
//  }
//}
//@media only screen and (max-width: 479px) {
//  .slickcarousel {
//    .slick-news-title {
//      font-size: 25px;
//      line-height: 32px;
//    }
//  }
//}
//@media only screen and (min-width: 480px) and (max-width: 639px) {
//  .slickcarousel {
//
//    .slick-prev:before, .slick-next:before{
//
//    }
//    .slick-dots{
//
//    }
//    .slick-news-title {
//      font-size: 32px;
//      line-height: 40px;
//    }
//    .slick-readmore{
//      a {
//
//      }
//    }
//    .slick-prev, .slick-next{
//      height: auto;
//      width: auto;
//      margin-top:0px;
//      top:30%;
//    }
//    .slick-prev{
//      left: -15px;
//    }
//    .slick-next{
//      right:-15px;
//    }
//    .slick-prev:before{
//
//    }
//    .slick-next:before{
//
//    }
//  }
//  .statement {
//
//    .quote, .news-statement, .video-statement {
//      margin: 0 20px;
//
//      .tiny.button {
//
//      }
//    }
//    .quote {
//
//      &:before {
//
//      }
//    }
//    .quote-cite {
//
//    }
//  }
//}
//@media only screen and (min-width: 640px) and (max-width: 767px) {
//  .slickcarousel {
//
//    .slick-prev:before, .slick-next:before{
//
//    }
//    .slick-dots{
//
//    }
//    .slick-news-title {
//      font-size: 32px;
//      line-height: 40px;
//    }
//    .slick-readmore{
//      a {
//
//      }
//    }
//    .slick-prev, .slick-next{
//      height: auto;
//      width: auto;
//      margin-top:0px;
//      top:30%;
//    }
//    .slick-prev{
//      left: -15px;
//    }
//    .slick-next{
//      right:-15px;
//    }
//    .slick-prev:before{
//
//    }
//    .slick-next:before{
//
//    }
//  }
//  .statement {
//
//    .quote, .news-statement, .video-statement {
//      margin: 0 20px;
//
//      .tiny.button {
//
//      }
//    }
//    .quote {
//
//      &:before {
//
//      }
//    }
//    .quote-cite {
//
//    }
//  }
//}
//@media only screen and (min-width: 768px) and (max-width: 959px) {
//  .slickcarousel {
//
//    .slick-prev:before, .slick-next:before{
//
//    }
//    .slick-dots{
//
//    }
//    .slick-news-title {
//
//    }
//    .slick-readmore{
//      a {
//
//      }
//    }
//    .slick-prev, .slick-next{
//      height: auto;
//      width: auto;
//      margin-top:0px;
//      top:30%;
//    }
//    .slick-prev{
//      left: -15px;
//    }
//    .slick-next{
//      right:-15px;
//    }
//    .slick-prev:before{
//
//    }
//    .slick-next:before{
//
//    }
//  }
//  .statement {
//
//    .quote, .news-statement, .video-statement {
//      margin: 0 20px;
//
//      .tiny.button {
//
//      }
//    }
//    .quote {
//
//      &:before {
//
//      }
//    }
//    .quote-cite {
//
//    }
//  }
//}
//@media only screen and (min-width: 960px) and (max-width: 1024px) {
//  .slickcarousel {
//
//    .slick-prev:before, .slick-next:before{
//
//    }
//    .slick-dots{
//
//    }
//    .slick-news-title {
//
//    }
//    .slick-readmore{
//      a {
//
//      }
//    }
//    .slick-prev, .slick-next{
//      height: auto;
//      width: auto;
//      margin-top:0px;
//      top:30%;
//    }
//    .slick-prev{
//      left: -15px;
//    }
//    .slick-next{
//      right:-15px;
//    }
//    .slick-prev:before{
//
//    }
//    .slick-next:before{
//
//    }
//  }
//  .statement {
//
//    .quote, .news-statement, .video-statement {
//      margin: 0 20px;
//
//      .tiny.button {
//
//      }
//    }
//    .quote {
//
//      &:before {
//
//      }
//    }
//    .quote-cite {
//
//    }
//  }
//}
//@media only screen and (min-width : 1025px) {
//  .slickcarousel {
//
//    .slick-prev:before, .slick-next:before{
//
//    }
//    .slick-dots{
//
//    }
//    .slick-news-title {
//
//    }
//    .slick-readmore{
//      a {
//
//      }
//    }
//    .slick-prev, .slick-next{
//      height: auto;
//      width: auto;
//      margin-top:0px;
//      top:30%;
//    }
//    .slick-prev{
//      left: -15px;
//    }
//    .slick-next{
//      right:-15px;
//    }
//    .slick-prev:before{
//
//    }
//    .slick-next:before{
//
//    }
//  }
//  .statement {
//
//    .quote, .news-statement, .video-statement {
//      margin: 0 20px;
//
//      .tiny.button {
//
//      }
//    }
//    .quote {
//
//      &:before {
//
//      }
//    }
//    .quote-cite {
//
//    }
//  }
//}
