// Basic Headings
//
// Page Headings used in the WMS template.  Headings are purposely left without
// specific font sizes because they are used for structural purposes only
//
// Markup:
// <{{modifier_class}}>Headings</{{modifier_class}}>
//
// h1 - Heading 1
// h2 - Heading 2
// h3 - Heading 3
// h4 - Heading 4
// h5 - Heading 5
// h6 - Heading 6
//
// Styleguide 4.2

//h1, h2, h3, h4, h5, h6 {
//  margin: 0;
//  padding: 0;
//  border: 0;
//  color: #444;
//  font-size: 100%;
//  font: inherit;
//  font-family: $montserrat;
//  text-rendering: optimizeLegibility;
//  vertical-align: baseline;
//}
h1 {

}
h2 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-weight: 500;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
h4 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
h5 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
h6 {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
// h1.u-font-size--xl {
//   @include breakpoint(phone) {
//     @include font-size(24px); //u-font-size--l
//   }
// }
// h2.u-font-size--xl {
//   @include breakpoint(phone) {
//     @include font-size(24px); //u-font-size--l
//   }
// }
// h3.u-font-size--m {
//   @include breakpoint(phone) {
//     @include font-size(18px);
//   }
// }
h1.front {
  height: 0px;
  visibility: hidden;
}
