// Buttons
//
// Buttons used in the WMS template.
//
// Markup:
// <button class="{{modifier_class}}"><a href="#">Button</a></button>
//
// .e-button--action - Action button
// .e-button--ghost - Ghost button
// .e-button--success - Success button
// .e-button--alert - Alert button
// .e-button--slider - Slider button
// .e-button--secondary - Secondary button
// .e-button--primary-color - Primary Site Color button
// .e-button--secondary-color - Secondary Site Color button
// .e-button--primary-color.large - Large button
// .e-button--primary-color.small - Small button
// .e-button--primary-color.tiny - Tiny button
// .e-button--primary-color.radius - Radius button
// .e-button--primary-color.expand - Expand to 100% width button
// .e-button--primary-color.round - Round button
// .e-button--primary-color.disabled - Disabled button
//
// Styleguide 4.11


button {
  background-color: $color-primary-univ-orange-hex;
  background-color: rgba($color-primary-univ-orange,1);
  border-color: $color-primary-univ-orange-hex;
  border-radius: $base-radius;
  border-style: solid;
  border-width: $base-border;
  color: #fff;
  display: inline-block;
  font-family:$montserrat;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-secondary-aces-orange;
  }

  > a {
    display: block;
    color: white;

    &:hover,
    &:focus,
    &:active {
      color: #FFF;
      text-decoration: none;
    }
  }
  > i.fa {
    color: inherit !important;
  }
}
.e-button,
.button,
a.e-button,
a.button {
  background-color: var(--il-orange);
  border-color: var(--il-orange);
  border-radius: $base-radius;
  border-style: solid;
  border-width: $base-border;
  color: #FFF;
  display: inline-block;
  font-family:$montserrat;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--il-orange);
    border-color: var(--il-altgeld);
    color: #FFF;
    text-decoration: none;
  }

  > a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #FFF;

    &:hover,
    &:focus,
    &:active {
      color: #FFF;
      text-decoration: none;
    }
  }
  > i.fa {
    color: inherit !important;
  }
  &--ghost {
    background-color: transparent;
    border: 2px solid $color-primary-univ-orange !important;
    box-shadow: unset;
    color: $color-primary-univ-orange !important;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-ui-2;
      border: 2px solid $color-secondary-aces-orange !important;
    }
    > a {
      color: $color-secondary-aces-orange !important;
    }
  }
  &--label {
    background: none;
    border-bottom: 2px solid $color-primary-univ-orange !important;
    color: $color-primary-univ-blue !important;
    text-decoration: none !important;
    text-shadow: none;
    @include font-size(18px);
    font-weight: 600 !important;

    &:after {
      content: '\f054';
      color: $color-primary-univ-orange;
      font-family: 'FontAwesome';
      font-size: smaller;
      text-decoration: none;
      margin: 6px 0px 0px 2px;
      position: absolute;
    }
    &:hover {
      border-bottom: 2px solid $color-primary-univ-blue !important;
    }
  }
  // &--ghost--override {
  //   background-color: transparent !important;
  //   border: 2px solid white !important;
  //   box-shadow: unset !important;
  //   color: white !important;

  //   &:hover,
  //   &:focus {
  //     background-color: rgba(white, 0.1) !important;
  //     border: 2px solid white !important;
  //   }
  //   &:active {
  //     background-color: rgba(white, 0.2) !important;
  //     border: 2px solid white !important;
  //   }
  //   > a {
  //     color: white !important;
  //   }
  // }
  // &--action {
  //   background-color: darken($color-action,5%);
  //   border-color: darken($color-action,5%);
  //   color: #fff;
  //   font-weight: bolder;

  //   &:hover,
  //   &:focus,
  //   &:active {
  //     background-color: darken($color-action,10%);
  //     border-color: darken($color-action,10%);
  //     color: #fff;
  //   }
  // }
  &--success {
    background-color: #5da423;
    border-color: #5da423;
    box-shadow: unset;
    color: white;

    &:hover,
    &:focus,
    &:active {
      background-color: #4a831c;
      border-color: #4a831c;
      color: white;
    }
    > a {
      color: white;
    }
  }
  &--alert {
    background-color: #c60f13;
    border-color:  #c60f13;
    box-shadow: unset;
    color: white;

    &:hover,
    &:focus,
    &:active {
      background-color: #9e0c0f;
      border-color: #9e0c0f;
      color: white;
    }
    > a {
      color: white;
    }
  }
  // &--slider {
  //   margin: 0 auto;
  //   top: -30px;
  //   font-weight: bolder;
  //   z-index: 99;
  //   width: 100%;

  //   @include breakpoint(small) {
  //     //margin: 0;
  //   }
  //   @include breakpoint(tablet) {
  //     //margin: 0 25%;
  //   }
  //   > a {
  //     color: white;
  //   }

  //   &__button {
  //     background-color: $color-action;
  //     border-color: $color-action;
  //     margin: 0 auto;
  //     max-width: 300px;
  //     padding: 1rem;

  //     @include breakpoint(phone) {
  //       margin-bottom: 10px;
  //     }

  //     &:hover,
  //     &:focus,
  //     &:active {
  //       background-color: darken($color-action, 10%);
  //       border-color: darken($color-action, 10%);
  //       color: #fff;
  //     }
  //     > a {
  //       color: white;
  //     }
  //   }
  //   &__button.secondary {
  //     background-color: #e9e9e9;
  //     border-color: #e9e9e9;
  //     color: #333333;

  //     &:hover,
  //     &:focus,
  //     &:active {
  //       background-color: #f7f7f7;
  //       border: 2px solid #f7f7f7;
  //       color: #444;
  //       text-decoration: none;
  //     }
  //   }
  // }
  &--secondary {
    background-color: #e9e9e9;
    background-color: var(--il-cloud-2);
    border: 2px solid var(--il-cloud-2);
    box-shadow: none;
    color: #444;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      background-color: var(--il-cloud-2);
      border: 2px solid var(--il-cloud-3);
      color: #444;
      text-decoration: none;
    }
    > a {
      color: #444 !important;
      text-decoration: none;

      &:hover {
        color: #444 !important;
        text-decoration: none;
      }
    }
  }
  &--secondary--override {
    background-color: #e9e9e9 !important;
    background-color: rgba(233,233,233,1) !important;
    border: 2px solid rgba(233,233,233, 0.6) !important;
    box-shadow: none !important;
    color: #444 !important;
    display: inline-block !important;
    padding: 1rem !important;
    text-align: center !important;
    text-decoration: none !important;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(233,233,233, 0.6) !important;
      border: 2px solid rgba(233,233,233, 0.6) !important;
      color: #444 !important;
      text-decoration: none !important;
    }
    > a {
      color: #444 !important;
      text-decoration: none !important;

      &:hover {
        color: #444 !important;
        text-decoration: none !important;
      }
    }
  }
  &--site {
    background-color: $color-primary-univ-orange-hex;
    background-color: rgba($color-primary-univ-orange,1);
    border: 2px solid rgba($color-primary-univ-orange,0.6);
    box-shadow: none;
    color: white;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: auto;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($color-primary-univ-orange, 0.6);
      border: 2px solid rgba($color-primary-univ-orange, 0.6);
      color: #fff;
      text-decoration: none;
    }
    > a {
      color: white !important;
      text-decoration: none;

      &:hover {
        color: white !important;
        text-decoration: none;
      }
    }
  }
  &--site--override {
    background-color: $color-primary-univ-orange-hex !important;
    background-color: rgba($color-primary-univ-orange,1) !important;
    border: 2px solid rgba($color-primary-univ-orange,0.6) !important;
    box-shadow: none !important;
    color: white !important;
    display: inline-block !important;
    padding: 1rem !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($color-primary-univ-orange, 0.6) !important;
      border: 2px solid rgba($color-primary-univ-orange, 0.6) !important;
      color: #fff !important;
      text-decoration: none !important;
    }
    > a {
      color: white !important;
      text-decoration: none;

      &:hover {
        color: white !important;
        text-decoration: none !important;
      }
    }
  }
  &--action {
    background-color: $color-action-hex;
    background-color: rgba($color-action,1);
    border: 2px solid rgba($color-action, 0.6);
    box-shadow: none;
    color: white;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: auto;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($color-action, 0.6);
      border: 2px solid rgba($color-action, 0.6);
      color: #fff;
      text-decoration: none;
    }
    > a {
      color: white !important;
      text-decoration: none;

      &:hover {
        color: white !important;
        text-decoration: none;
      }
    }
  }
  &--action--override {
    background-color: $color-action-hex !important;
    background-color: rgba($color-action,1) !important;
    border: 2px solid rgba($color-action, 0.6) !important;
    box-shadow: none !important;
    color: white !important;
    display: inline-block !important;
    padding: 1rem !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($color-action, 0.6) !important;
      border: 2px solid rgba($color-action, 0.6) !important;
      color: #fff !important;
      text-decoration: none !important;
    }
    > a {
      color: white !important;
      text-decoration: none !important;

      &:hover {
        color: white !important;
        text-decoration: none !important;
      }
    }
  }
  &--ghost,
  &--ghost--override,
  &--action,
  &--action--override,
  &--site,
  &--site--override,
  &--secondary,
  &--secondary--override,
  &--slider,
  &--success,
  &--alert {

    &.large {
      padding-top: 1.125rem;
      padding-right: 2.25rem;
      padding-bottom: 1.1875rem;
      padding-left: 2.25rem;
      font-size: 1.25rem;
    }
    &.small {
      padding-top: 0.875rem;
      padding-right: 1.75rem;
      padding-bottom: 0.9375rem;
      padding-left: 1.75rem;
      font-size: 0.8125rem;
    }
    &.tiny {
      padding-top: 0.625rem;
      padding-right: 1.25rem;
      padding-bottom: 0.6875rem;
      padding-left: 1.25rem;
      font-size: 0.6875rem;
    }
    &.expand {
      padding-right: 0;
      padding-left: 0;
      width: 100% !important;
    }
    &.radius {
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
    &.round {
      -webkit-border-radius: 1000px;
      border-radius: 1000px;
    }
    &.disabled {
      background-color: #2ba6cb;
      border-color: #2285a2;
      color: white;
      cursor: default;
      opacity: 0.7;
      -webkit-box-shadow: none;
      box-shadow: none;

      &:hover,
      &:focus,
      &:active {
        background-color: #2285a2;
        color: white;
      }
    }
  }
}
// Google search button IE fix
.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
  width: auto !important;
  height: auto !important;
  margin-bottom: -10px !important;
  padding: 14px 30px !important
}
