.l-region {

  &--header {
    background-color: #FFFFFF;
  }

  &--highlighted {
    width: var(--il-mega-menu-max-width);
    margin: auto;
  }
  &--tabs {
    width: var(--il-mega-menu-max-width);
    margin: auto;
  }
  &--content {
    width: var(--il-mega-menu-max-width);
    margin: auto;
  }
  &--footer {
    padding: 2rem 0;
  }
}
