.l-region {

  &--header {
    background-color: #FFFFFF;
  }

  &--highlighted {
    margin: auto;
    max-width: var(--il-framework--max-width);
    padding: 0 10px;
    width: 100%;
  }
  &--tabs {
    margin: auto;
    max-width: var(--il-framework--max-width);
    width: 100%;
  }
  &--content {
    margin: auto;
    max-width: var(--il-framework--max-width);
    padding: 0 10px;
    width: 100%;
  }
  &--footer {
    padding: 2rem 0;
  }
}
