.node--type-layer-two-column-text-img,
.node--type-layer-two-column-text-img .node--type-layer-two-column-video {

  .twocoltxtimg {

    &__content {
      display: flex;
      flex-wrap: wrap;
    }

    &__image-container {

      &--left {
        padding-left: 20px;
      }
      &--right {
        padding-right: 20px;
      }
      @include breakpoint(small) {
        order: 1;
        padding-bottom: 20px;
      }
    }

    &__text-container {

      &--left {
        padding-right: 20px;
      }
      &--right {
        padding-left: 20px;
      }
      @include breakpoint(small) {
        order: 2;
      }
    }

    &__title {

    }
    &__body {

    }
    &__image {

    }
    &__col {
      padding-right: 20px;

      @include breakpoint(small) {
        padding: 0px 10px 50px;
      }

      & ~ .twocoltxtimg__col {
        padding-right: 10px;
        padding-left: 20px;

        @include breakpoint(small) {
          padding: 0px 10px 50px;
        }
      }
    }
    &__button--label {

      &__link {

      }
      &__text {

        > a {
          text-decoration: none;
          border-bottom: 2px solid $color-primary-univ-orange;
        }
        &:after {
          font-family: 'FontAwesome';
          font-size: smaller;
          content: '\f054';
          color: $color-primary-univ-orange;
          margin-left: 6px;
          margin-top: 6px;
          position: absolute;
        }
      }
    }
  }
  &.node-7184,
  &.node-7284 {
    .layer-background__header {
      display: none;
    }
    .twocoltxtimg__text-container--left {
      width: 83.333%;

      @include breakpoint(tablet-down) {
        width: 100%;
      }
    }
  }
  &.u-bg-color--univ-blue {
    .twocoltxtimg__body {
      a {
        color: white !important;
        text-shadow: none;
        background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top,left bottom,from($color-primary-univ-orange),to($color-primary-univ-orange));
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient($color-primary-univ-orange,$color-primary-univ-orange);
        background-size: 0.05em 0px, 0.05em 0px, 1px 1px;
        background-repeat: no-repeat,no-repeat,repeat-x;
        //text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
        background-position: 0 95%,100% 95%,0 95%;

        &:hover {
          color: white !important;
          background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top,left bottom,from($color-primary-univ-orange),to($color-primary-univ-orange));
          background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient(#fff,#fff);
          background-size: 0.05em 0px, 0.05em 0px, 1px 1px;
          background-repeat: no-repeat,no-repeat,repeat-x;
          //text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
          background-position: 0 100%,100% 100%,0 100%;

          &:after {
            color: white !important;
          }
        }

        &:after {
          color: white !important;
        }
      }
    }
  }
  &.node-7735 {
    .layer-background__header {
      height: 200px;

      &__title {
        display: block !important;
        float: left;
        left: 0;
        margin: 0 auto;
        margin-top: 150px;
        position: absolute;
        width: 100%;

        span {
          @include font-size($font-size--alpha);
          color: $color-primary-univ-orange;
          font-weight: 300;
          padding: 0 10px;
        }
      }
    }
  }
}
