.node-shared-news {
  margin-left: 50px;

  &__social-share {
    float: left;
    line-height: 28px;
    padding-top: 100px;
    width: 50px;
    //position: fixed;

    &--share {
      letter-spacing: 0.6px;
    }
    &--facebook {

    }
    &--twitter {

    }
  }

  &__wrapper {

    &--content {
      padding: 20px 0;
    }
    &--source {

    }
    &--author {

    }
  }

  &__title {
    color: $color-site;
    margin: 1.25rem 0 0.5rem 0;
  }
  &__image {
    display: block;
    padding: 0 0 16px 16px;

    @include breakpoint(mobile-down) {
      display: none;
    }
  }
  &__date {

  }
  &__body {

  }
  &__source {

    &--heading {

    }
    &--item {

    }
  }
  &__author {

    &--heading {

    }
  }
}
