.hero__container {
  display: flex;
  overflow: hidden;
  background-color: rgba(19, 41, 75);

  @include breakpoint(tablet-down) {
    flex-direction: column;
    align-items: center;
    background-color: rgba(19, 41, 75);
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.hero__text {
  color: white;
  height: 428px;
  min-width: 350px;
  padding-left: 10px;
  padding-right: 10px;

  @include breakpoint(tablet-down) {
    order: 2;
    height: auto;
    padding-bottom: 10px;
  }

  &-body {
    margin-bottom: 15px;
    z-index: 10;
    min-width: 350px;

    p {
       color: white;
       font-size: $font-size--epsilon;
       font-weight: 500;
       width: 100%;
       z-index: 11;

      @media only screen and (max-width: 1330px) {
        @include font-size($font-size--zeta);
      }
    }
  }
}

.hero__title {
  @include font-size(32px);
  color: white;
  padding: 40px 10px 20px;
  text-shadow: 0px 1px 1px $color-primary-univ-orange;
  min-width: 350px;
  z-index: 2;

  span {
    font-weight: 900;
  }

  @media only screen and (min-width: 1201px) and (max-width: 1330px) {
    @include font-size(24px);
  }

  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    @include font-size(24px);
    padding: 25px 0px 10px 5px;
  }

  @media only screen and (max-width: 1024px) {
    @include font-size(24px);
  }
}

.hero__image {
  width: 100%;
}

.hero__image-container {
  margin-right: 12px;
  margin-left: 12px;
  flex-shrink: 0;
  position: relative;
  height: 428px;
  width: 642px;
  z-index: 1;

  @include breakpoint(tablet-down) {
    margin-left: 0px;
    margin-right: 0px;
    max-width: none;
    width: 100%;
    height: auto;
    order: 1;
  }

  &:before {
    content: "";
    background-color: rgba(19, 41, 75);
    width: 100px;
    height: 100%;
    z-index: 1;
    transform: skew(-10deg, 0deg);
    box-shadow: 15px 0px 20px -10px #000;
    -webkit-backface-visibility: hidden;
    display: block;
    position: absolute;
    left: -38px;

    @include breakpoint(tablet-down) {
      width: 0px;
      height: 0px;
    }
  }

  &:after {
    content: "";
    background-color: rgba(19, 41, 75);
    width: 100px;
    height: 100%;
    z-index: 2;
    transform: skew(-10deg, 0deg);
    box-shadow: 0px 0px 20px #000;
    -webkit-backface-visibility: hidden;
    display: block;
    position: absolute;
    top: 0px;
    right: -60px;

    @media only screen and (max-width: 1142px) {
      width: 0px;
      height: 0px;
    }
  }
}

.hero__image {
   display: block;
   width: 100%;
}

.hero__left-border-container {
    width: 12px;
}

.hero__left-border {
  background-color: rgba(19, 41, 75);
  width: 100px;
  height: 100%;
  position: relative;
  right: 38px;
  z-index: 1;
  transform: skew(-10deg, 0deg);
  box-shadow: 15px 0px 20px -10px #000;
  -webkit-backface-visibility: hidden;
  display: block;
}

.hero__right-border-container {
    width: 12px;
}

.hero__right-border {
  background-color: rgba(19, 41, 75);
  width: 100px;
  height: 100%;
  position: relative;
  right: 38px;
  z-index: 2;
  transform: skew(-10deg, 0deg);
  box-shadow: 0px 0px 20px #000;
  -webkit-backface-visibility: hidden;
  display: block;
}

.hero__button {
  text-transform: uppercase;
  font-size: 0.75rem !important;
  font-weight: 600;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  z-index: 3;

  @media only screen and (max-width: 1330px) {
    font-size: 0.6875rem !important;
  }

  @include breakpoint(tablet-down) {
    font-size: 0.875rem !important;
  }

  @media only screen and (max-width: 640px) {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.hero__button--ghost {
  color: white !important;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  font-weight: 600;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: transparent !important;
  border: 2px solid white !important;
  box-shadow: unset;
  z-index: 4;

  @media only screen and (max-width: 1330px) {
    font-size: 0.6875rem !important;
  }

  @include breakpoint(tablet-down) {
    font-size: 0.875rem !important;
  }

  @media only screen and (max-width: 640px) {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
