.taxonomy--term {

  &__header {
    background-color: $color-primary-univ-orange;
  }

  &__header--name {
    height: 150px;
    margin-top: 0;
    padding-top: 48px;
    color: white;
    font-size: 48px;
    text-align: left;
    position: relative;

    @include breakpoint(tablet-down) {
      @include font-size($font-size--alpha);
    }
    @include breakpoint(phone) {
      @include font-size($font-size--beta);
    }
  }

  &__term-header {
    color: $color-primary-univ-blue;
    font-size: 48px;
    margin-top: 30px;
  }

  &__article-wrapper {
    background-color: #fff;

    div:first-of-type.block--aces-news--taxonomy__date {
      padding-top: 10px;
      color: purple;
    }
  }

}

.block--aces-news--taxonomy__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
