// Text Transform
//
// Transform text from the normal appearance.
//
// Markup:
// <div class="{{modifier_class}}">transform text from UPPERCASE to lowercase or Capitalized</div>
//
// .uppercase - Uppercase
// .lowercase - Lowercase
// .capitalize - Capitalize
//
// Styleguide 8.4

.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
