.views-view--blog {
  header {
    z-index: 0 !important;
  }

  &__header {
    background-color: $color-primary-univ-blue;
    color: white;
    font-size: 54px;
    //font-weight: 600;
    height: 300px;
    margin-top: 0;
    padding-top: 50px;
    position: relative;
    text-align: center;

    a {
      background: none;
      border-bottom: 3px solid white;
      color: white;
      text-shadow: none;

      &:hover {
        border-bottom: 3px solid $color-primary-univ-orange;
        color: $color-primary-univ-orange;
      }
    }

    @include breakpoint(tablet-down) {
      @include font-size(36px);
    }

    @include breakpoint(phone) {
      @include font-size(28px);
    }
  }
  &__wrapper {

    &--highlight {

    }
    &--filters {
      padding: 10px;
    }
    &--content {
      border-radius: 3px;
      box-shadow: 0px 3px 5px $color-ui-6;
      padding: 30px 0px 50px;
    }
  }
  &__content {

    &--highlight {
      background-color: white;
      border-top: 5px solid $color-primary-univ-orange;
      color: $color-primary-univ-blue;
      height: auto;
      padding: 15px 10px 10px;
      position: relative;
      top: -175px;
      margin-bottom: -175px;
      z-index: 1;

      @include breakpoint(phone) {
        padding: 0 !important;
      }

      &--left {
        float: left;
        padding-right: 10px;
        width: 60%;

        @include breakpoint(tablet-down) {
          width: 100%;
        }
        @include breakpoint(phone) {
          padding-right: 0px;
        }
      }
      &--right {
        width: 40%;
        float: right;
        padding: 0 10px;

        @include breakpoint(tablet-down) {
          margin-top: 20px;
          padding: 0;
          width: 100%;
        }
      }
      &__title {
        @include font-size(24px);
        margin-top: 5px;

        a {
          color: $color-primary-univ-blue;

          &:hover {
            border-bottom: 2px solid $color-primary-univ-orange;
            text-decoration: none;
          }
        }
      }
      &__summary {
        font-style: italic;
        margin-top: 10px;
        padding-bottom: 20px;
      }
      &__author {

        @include font-size(14px);
        float: left;
        margin-bottom: 10px;

        width: auto;
        span {
          border-bottom: 2px solid $color-primary-univ-orange;
          text-decoration: none;
        }
      }
    }
    &--filters {

      &--mobile {
        display: none;

        @include breakpoint(tablet-down) {
          display: block;

          .row {
            padding: 0;
            margin: 0;

            .large-12.columns {
              padding: 0;
            }
          }
        }
      }
      &--desktop {
        display: block;
        padding: 10px 0px 0px 10px;

        @include breakpoint(tablet-down) {
          display: none;
        }

        a {
          color: $color-primary-univ-blue;
          font-weight: 600;
          margin-right: 30px;

          &:hover {
            border-bottom: 2px solid $color-primary-univ-orange;
            text-decoration: none;
          }
        }
      }
    }
    &--main {
      padding: 10px 0 !important;

      &--left {
        padding-bottom: 10px;
      }
      &--right {

      }

      &__type {
        height: 44px;
        padding-top: 10px;
      }
      &__date {
        color: $color-ui-5;
        @include font-size(10px);
        font-weight: 600;
        padding-top: 7px;
        text-transform: uppercase;
      }
      &__author {
        color: $color-primary-univ-blue;
        @include font-size(12px);
        font-weight: 500;
        padding-top: 5px;
      }
      &__title {
        margin-top: 5px;
        padding-bottom: 10px;

        a {
           color: $color-primary-univ-blue;
           @include font-size(24px);

          &:hover {
            border-bottom: 2px solid $color-primary-univ-orange;
            text-decoration: none;
          }
        }
      }
      &__body {
        @include font-size(16px,24px);
      }
      &__hr {
        border-color: $color-primary-univ-orange;
        margin: 10px 0px;
        width: 50%;
      }
      &__label {
        border-radius: 3px;
        margin-bottom: 10px;
      }
    }
    &--no-results {
      padding: 50px 0;

      a {
        border-bottom: none;
        color: rgba(0,0,0,1);
        text-decoration: none;
        background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top,left bottom,from($color-primary-univ-orange),to($color-primary-univ-orange));
        background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient($color-primary-univ-orange,$color-primary-univ-orange);
        background-size: .05em 1px,.05em 1px,1px 1px;
        background-repeat: no-repeat,no-repeat,repeat-x;
        //text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
        background-position: 0 95%,100% 95%,0 95%;

        &:hover {
          color: $color-primary-univ-orange;
          text-decoration: none;
        }
      }
    }
  }
}
