.view-calendar {

  &--accordion {

    &__wrapper {

      &--title {
        margin-top: 30px;
      }
      &--header {

        &:hover,
        &.active {
          background-color: #54a0da;
          color: #fff;

          .view-calendar--accordion__date--weekday,
          .view-calendar--accordion__subtitle--content {
            color: #000;
          }
        }
      }
      &--content {
        display:none;
        float: left;
        width:100%;
      }
      &--body {
        padding-left:20px;
        padding-right: 20px;
        display: flex;
      }
      &--footer {
        margin-top: 2px;
        font-family: $montserrat;
        height: 68px;
        margin-bottom: 40px;
        color: #000;
      }
    }
    &__title {
      &--header {
        color: #fff;
        font-family: $montserrat;
      }
      &--content {

      }
    }
    &__subtitle {

      &--content {
        font-style: italic;
        @include font-size(20px);
        font-weight: 300;
        margin-top: -0.5rem;
      }
    }
    &__date {

      &--month {
        float: left;
        @include font-size(32px);
        font-family: $montserrat;
        width: 50%;
      }
      &--weekday {
        float: left;
        @include font-size(16px);
        font-style: italic;
        width: 100%;
        margin-top: -0.4rem;
      }
      &--day-of-month {
        @include font-size(32px);
        font-family: $montserrat;
        font-weight: 400;
        float: left;
        letter-spacing: -4px;
        width: 50%;
      }
    }
    &__body {
      background-color: #a8cfec;
      margin: 0 10px;

      &--venue {
        font-size: 20px;
        font-weight: bolder;
        padding-bottom: 10px;
      }
      &--text {

        p {
          ont-weight: 300;
          line-height: 1.4em;
        }

      }
    }
    &__image {
      padding: 10px;
    }
    &__spacer {

      &--top-left {
        height: 0;
        border-style: solid;
        border-width: 30px 0 0 20px;
        border-color: #7eb8e3 transparent  transparent transparent;
        float: left;
      }
      &--top {
        background-color: #7eb8e3;
        height: 30px;
      }
      &--top-right {
        height: 0;
        border-style: solid;
        border-width: 30px 20px 0px 0;
        border-color:  #7eb8e3 transparent transparent transparent;
        float: right;
      }
      &--bottom-left {
        height: 0;
        border-style: solid;
        border-width: 0 0 30px 20px;
        border-color: transparent transparent #d2e6f5 transparent;
        float: left;
      }
      &--bottom {
        background-color: #d2e6f5;
        height: 30px;
      }
      &--bottom-right {
        height: 0;
        border-style: solid;
        border-width: 0 20px 30px 0;
        border-color:  transparent transparent #d2e6f5 transparent;
        float: right;
      }
    }
  }
  &--table {
    border: none;
    margin-bottom: 1.1em;
    width: 100%;

    &__tbody {
      border-top: none;
    }
    &__table-row { //tr

      &:hover {
        background: none repeat scroll 0% 0% #F3F3F3 !important;
      }
    }
    &__table-data { //td
      border-bottom: 1px solid #d3d4d4;
      border-top: none;
      display: table-cell;
      line-height: 1.125rem;
      padding: 18px 0;
      vertical-align: top;
    }
    &__table-header { //th
      border-bottom: 1px solid #d3d4d4;
      border-top: none;
      padding: 18px 0;
      vertical-align: top;
    }
    &__date {
      @include font-size(24px);
      padding: 18px 10px 18px 0;
      width: 12%;

      @include breakpoint(mobile-down) {
        font-size: 100% !important;
        line-height: 100% !important;
        padding: 18px 15px 18px 0;
      }
      &__wrapper {
        width: 100%;
      }

      &--month {

      }
      &--day-of-month {
        font-weight: bold;
      }
    }
    &__content {
      font-weight: bold;
      font-size: 18px;
    }
    &__title {
      @include font-size(24px);
      margin-left: 0px;
      @include breakpoint(mobile-down) {
        font-size: 100% !important;
        line-height: 130% !important;
      }

      &--link {
        color: $color-action;
        @include font-size(24px);
        text-decoration: none;

        @include breakpoint(mobile-down) {
          font-size: 100% !important;
          line-height: 100% !important;
        }

        &:hover,
        &:focus,
        &:active {
          color: darken($color-action, 10%);
          text-decoration: none;
        }
      }
    }
    &__time {
       @include font-size(14px);
      font-weight: normal;
      margin-left: 0px;

      @include breakpoint(mobile-down) {
        font-size: 75% !important;
        line-height: 120% !important;
        margin-top: 10px;
      }
    }
    &__label {

      &__wrapper {
        width: 100%;
      }

      &.label {
        font-family: $montserrat;
        //margin-top: 20px;
        @include breakpoint(mobile-down) {
          @include font-size(8px);
          margin-top: 10px;
          padding: 0.25rem;
        }
      }
    }
  }
}
