// Include parent theme with all things Bootstrap for full override.
// Relative path to this styles.scss file.
// Example: @import "../../../../../themes/contrib/bootstrap4/scss/style";
@import '../../../../themes/contrib/bootstrap4/dist/bootstrap/4.5.3/scss/bootstrap';

// Web components
@import "web-components/web-components.menu";
@import "web-components/web-components.footer";

// Custom Functions
@import "illinois-framework/functions/px2rem";

// Custom Variables
@import 'illinois-framework/variables';

// Custom Mixins
@import "illinois-framework/mixins/media-queries";

// Include bootstrap variables definitions overrides.
@import 'bootstrap-overrides/variables';
@import 'bootstrap-overrides/reboot';
@import 'bootstrap-overrides/type';
@import 'bootstrap-overrides/breadcrumb';
@import 'bootstrap-overrides/buttons';
@import 'bootstrap-overrides/lists';

// Layouts
@import "illinois-framework/regions";
@import "illinois-framework/region.header";
@import "illinois-framework/region.footer";

// 3rd Party/Campus Components
@import "illinois-framework/components.google-translate";
@import "illinois-framework/components.one-trust";

// Blocks
//@import "illinois-framework/block.main-menu--simple";
//@import "custom/block.main-menu--mega";
@import "illinois-framework/block.sidebar-menu";
@import "illinois-framework/block.page-title";
@import "illinois-framework/block.illinois-framework-theme-breadcrumbs";
@import "illinois-framework/block.illinois-framework-theme-content";
@import "illinois-framework/block.illinois-framework-theme-local-tasks";

// Content Types
@import "illinois-framework/node.content-page";

// Paragraphs
@import "illinois-framework/paragraphs";
@import "illinois-framework/paragraphs.page-intro";
@import "illinois-framework/paragraphs.feature--split";
@import "illinois-framework/paragraphs.cta";
@import "illinois-framework/paragraphs.cta--narrow";
@import "illinois-framework/paragraphs.feature--video";
@import "illinois-framework/paragraphs.feature--boxed";
@import "illinois-framework/paragraphs.bb";
@import "illinois-framework/paragraphs.cards";
@import "illinois-framework/paragraphs.rt";
@import "illinois-framework/paragraphs.list";
@import "illinois-framework/paragraphs.expand--collapse";
@import "illinois-framework/paragraphs.intro-home";
@import "illinois-framework/paragraphs.icon-row";
@import "illinois-framework/paragraphs.feature--grouped";
@import "illinois-framework/paragraphs.contact-info";

// Views
@import "illinois-framework/view.frontpage";

// Forms
@import "illinois-framework/form.user-login-form";

// Utility Classes
@import "illinois-framework/utilities/ie--11";
@import "illinois-framework/utilities/fingerprint";
@import "illinois-framework/utilities/background--color";
@import "illinois-framework/utilities/fingerprint";
@import "illinois-framework/utilities/max-width";
@import "illinois-framework/utilities/margin";

