$u-bg-color--illinois-gray--mix-white-30: #9b9d9c;
$u-bg-color--illinois-orange--mix-white-30: #ef8068;
$u-bg-color--illinois-blue--mix-white-30: #5a6981;

.view-tile--block--news {

  .background-gradient--illinois-gray {
    background: linear-gradient(to right, $u-bg-color--illinois-gray--mix-white-30, $color-illinois-gray);
  }
  .background-gradient--illinois-blue {
    background: linear-gradient(to right, $u-bg-color--illinois-blue--mix-white-30, $color-illinois-blue);
  }
  .background-gradient--illinois-orange {
    background: linear-gradient(to right, $u-bg-color--illinois-orange--mix-white-30, $color-illinois-orange);
  }

  &__wrapper {
    padding: 10px 10px 10px 0;

  }
  &__content  {
    height: 100%;
    width: 100%;

    &.horizontal-rectangle {
      float: left;
      height: 300px;
    }
    &.square {
      background-repeat: no-repeat;
      background-size: cover !important;
      float: left;
      height: 600px;
      z-index: 0;
      position: relative;
      overflow: hidden;

      .view-tile--block--news__overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.65;
        background-color: #414141;
      }

      .view-tile--block--news__octagon {
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        z-index: 2;

        &__wrapper {
          width: 100%;
          height: 100%;
          z-index: 3;
        }

        &--image {
          margin: 0 25%;
          content: '';
          position: relative;
          top: 0px;
          border-radius: 100%;
          width: 50%;
          height: 50%;
          border: 30px solid transparent;
          z-index: 7;
        }

        &--top {
          border-bottom: 58px solid transparent !important;
          position: relative;
          width: 50%;
          top: 40px;
          background: blue;
          content: '';
          height: 0;
          border-left: 58px solid #000000;
          border-right: 58px solid #000000;
          overflow: hidden;
          z-index: 1;
          bottom: 0;
          transform: translateZ(1px) rotate(0deg);
          margin: 0 auto;
        }
        &--bottom {
          border-bottom: 58px solid transparent !important;
          position: relative;
          width: 200px;
        }
      }
    }
    &.square--image-top {
      background-repeat: no-repeat;
      background-size: auto 300px !important;
      background-position: top center;
      float: left;
      height: 600px;
      position: relative;

      //padding: 10px 10px 10px 0;
      .view-tile--block--news__type {
       // position: relative;
        //bottom: -300px;
       // background: linear-gradient(to right, #9b9d9c, #707372);
      }
      .view-tile--block--news__title {
       // position: relative;
        //bottom: -300px;
       // background: linear-gradient(to right, #9b9d9c, #707372);
      }
    }
    &.vertical-rectangle {

      &--3 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
        height: 600px;
        padding: 30px 30px 0 30px; //testing my comments and summary with this change

        .view-tile--block--news__octagon--image {


          // margin: 40px 25% 0;
          // position: relative;
          // width: 50%;
          // z-index: 1;
          margin: 0 25%;
          content: '';
          position: relative;
          //left: 55px;
          top: 0px;
          border-radius: 100%;
          width: 50%;
          //height: 50%;
          border: 10px solid transparent;
          z-index: 7;

         //  margin: 0 0 0 33.3333%;
         //  width: 124px;
         //  height: 124px;
         // // background-image: url(http://csshexagon.com/img/meow.jpg);
         //  background-size: auto 100%;
         //  background-position: center;
         //  //background: black;
         //  position: relative;
         //  //transform: rotate(22.5deg);
         //  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
         //  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

          &:before {
            content: '';
            height: 0;
            border-top: 58px solid transparent;
            border-left: 58px solid #e84a27;
            border-right: 58px solid #e84a27;
            overflow: hidden;
            z-index: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            transform: translateZ(1px) rotate(0deg);
          }
          &:after {
            content: '';
            height: 0;
            border-bottom: 58px solid transparent;
            border-left: 58px solid #e84a27;
            border-right: 58px solid #e84a27;
            overflow: hidden;
            z-index: 0;
            position: absolute;
            top: 0;
            width: 100%;
            transform: translateZ(1px) rotate(0deg);
          }

          &--top {
             height: 0;
             border-top: 36px solid transparent;
             border-left: 29px solid #e84a27;
             border-right: 29px solid #e84a27;
             overflow: hidden;
             z-index: -1;
             position: absolute;
             bottom: 0;
             width: 100%;
             transform: translateZ(1px) rotate(0deg);
          }
          &--bottom {
             height: 0;
             border-bottom: 36px solid transparent;
             border-left: 29px solid #e84a27;
             border-right: 29px solid #e84a27;
             overflow: hidden;
             z-index: -1;
             position: absolute;
             top: 0;
             width: 100%;
             transform: translateZ(1px) rotate(0deg);
          }
        }

      }
      &--4 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        float: left;
        height: 600px;
        padding: 30px 30px 0 30px;

        .view-tile--block--news__octagon--image {
          margin: 0 25%;
          content: '';
          position: relative;
          top: 0px;
          border-radius: 100%;
          width: 50%;
         // border: 30px solid transparent;
          z-index: 7;
        }
      }
    }
  }
  &__details {

    &.square--image-top {
      background: linear-gradient(to right, #9b9d9c, #707372);
      position: absolute;
      height: 300px;
      width: 100%;
      bottom: 0;
    }
  }
  &__title {
    color: white;
    float: left;
    font-family: $montserrat;
    @include font-size(36px,44px);
    @include breakpoint(medium) {

    }
    @include breakpoint(small) {
      @include font-size(24px,32px);

    }
    padding: 0 15px;
    position: relative;
    width: 100%;
    z-index: 6;

    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }
    }

  }
  &__type {
    font-family: $montserrat;
    font-weight: bold;
    @include font-size(16px,20px);
    @include breakpoint(medium) {

    }
    @include breakpoint(small) {
      @include font-size(16px,20px);

    }
    letter-spacing: 0.5;
    opacity: 0.8;
    color: white;
    text-transform: uppercase;
    padding: 20px 15px 0;
    position: relative;
    z-index: 6;
  }
  &__author {
    font-family: $montserrat;
    font-style: italic;
    @include font-size(24px,28px);
    @include breakpoint(medium) {

    }
    @include breakpoint(small) {
      @include font-size(20px,26px);

    }
    opacity: 0.8;
    text-transform: capitalize;
    color: white;
    float: left;
    padding: 0 15px;
    width: 100%;
  }

  &__email {

  }
}
