.block--hero-layer--highlight {
  background-color: rgba(255, 255, 255, 0.3);
  height: 100%;
  position: relative;
  top: 530px;
  z-index: 999;

  @include breakpoint(phone) {
    top: 430px;
  }
  @include breakpoint(tablet) {
    top: 530px;
  }

  @media only screen and (min-width : 960px) and (max-width : 1024px) {
    height: 350px;
    position: absolute;
    top: 510px;
    width: 100%;
  }
  @include IE(9) {
    background-color: rgba(200, 200, 200, 0.7) !important;
  }
  @include IE(10) {
    background-color: rgba(200, 200, 200, 0.7) !important;
  }
  &__wrapper { //statement
    padding-top: 0px;
    width:100%;
    max-width:none;

    @media only screen and (min-width: 280px) and (max-width: 479px) {
      padding-top: 90px;
    }

    .quote, .news-statement, .video-statement {
      text-align: center;
      margin: 0 40px;
      font-size: 20px;
      line-height: 26px;

      @media only screen and (min-width: 280px) and (max-width: 479px) {
        margin: 0px;
        font-size: 16px;
        line-height: 18px;
      }
      @media only screen and (min-width: 480px) {
        margin: 0 20px;
      }
      .tiny.button {
        margin-top:15px;
      }
    }
    .quote {
      font-style: italic;
      font-size: 20px;
      line-height: 26px;

      &:before {
        color: rgb(204, 204, 204);
        content: open-quote;
        font-size: 3em;
        line-height: 26px;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }
    }
    .quote-cite {
      display:block;
      text-align: right;
      margin-top: 0;

      @media only screen and (min-width: 280px) and (max-width: 479px) {
        text-align: center;
        margin-top: 0.6em;
        padding-bottom: 10px;
      }
    }
  }
  &__content--wrapper { //slickcarousel
    max-width:1170px;
    margin:0 auto;
    padding: 20px 20px 40px 20px;
    margin-top: 0px;
    color: $blue-sapphire;

    @media only screen and (min-width: 280px) and (max-width: 479px) {
      padding: 0px;
      margin-top: -80px;
    }
    @media only screen and (min-width : 960px) and (max-width : 1024px) {
      @include breakpoint(phone) {
          padding: 20px 0 40px;
          margin-top: 0px;
      }
    }
  }
  &__content {  //slick-news-title
    text-transform: initial;
    font-size: 44px;
    line-height: 51px;
    text-align: center;
    font-weight: normal;
    font-family: $montserrat;
    color: rgba(255,255,255,1);
    text-shadow: 3px 3px 5px #666;

    @include breakpoint(mobile-down) {
      @include font-size(30px);
    }
    @include breakpoint(phone) {
      @include font-size(22px);
    }

    @media only screen and (max-width: 479px) {
      font-size: 25px;
      line-height: 32px;
    }
    @media only screen and (min-width: 480px) and (max-width: 767px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
