.block-views-blockaces-taxonomy-list-list {
  background-color: $color-ui-6;
  margin-bottom: -100px;
  padding: 50px 0 100px 0;

  &__header {
    color: $color-primary-univ-blue;
    font-weight: 500 !important;

    &__wrapper {

    }
  }
  &__link {
    border-top: 1px solid #e1e1e1;
    color: $color-primary-univ-orange;
    float: left;
    font-weight: 500;
    margin: 0 30px 0px 0px;
    padding: 10px 0px 20px 0px;
    width: 16.6666%;

    @include breakpoint(tablet-down) {
      width: 25%;
    }
    @include breakpoint(small) {
      width: 50%;
    }
  }
  &__term {
    &--visible {

    }
    &--hidden {
      display: none;
    }
  }
  &__button {
    font-weight: 500 !important;
    margin: 0 0 20px -20px;
  }
}
