.office-hours-title {
  border-width: 0px;

  &::after {
  font-family: 'FontAwesome';
  font-size: smaller;
  color: $color-primary-univ-orange;
  margin-left: 6px;
  position: absolute;
  }
}

.office-hours-title.c-accordion__a--active {

  &::after {
    content: '\f077';
  }
}

.office-hours-title:not(.c-accordion__a--active) {

  &::after {
    content: '\f078';
  }
}

.office-hours-body {
  border-width: 0px;

  p {
    margin-bottom: 0rem;
  }
}

.office-hours--button {
  margin-bottom: 20px;
}
