// Testimonial
//
// Markup: testimonials.html
//
// Styleguide 6.2

// Testimonial with Cite
//
// Markup: testimonials__cite.html
//
// Styleguide 6.2.1

.c-testimonial {
  padding: $base-spacing-unit;
  border-radius: $base-radius;
  background-color: $color-shadow;

  &__q {
    font-family: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
    font-style: italic;
    @include font-size(24px);
    vertical-align: middle;
  }

  &__source {
    display: block;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    @include font-size(12px);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: $color-default-text;

    &:before {
      content: "— ";
    }
  }
  cite {
    display: block;
    font-style: normal;
    font-weight: bold;
    @include font-size(12px);
    letter-spacing: 0.15em;

    &:before {
      content: "— ";
    }
  }
}
