@include breakpoint(tablet-down) { //0-1024
  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.4);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;

    &:hover {
      background: rgba(0, 0, 0, 0.9);
      //top: 5px;
      width: 40px;
      height: 40px;
    }

    img {
      color: #fff;
      margin: 0;
      position: relative;
      // left: 16px;
      // top: 13px;
      font-size: 19px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      width: 40px;
      height: 40px;
      //background: rgba(0, 0, 0, 1);
    }
  }
}
@include breakpoint(desktop-up) { //1025+
  #return-to-top {
    img {
      display: none;
    }
  }
}
