// on calendars.illinois.edu

#ws-calendar-container {
	background: $color-ui-6;
	@include border-radius(4px);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* x offset = 0, y offset = 2, blur = 4 */
	margin-top: 10px;

	#menu-items {
		li {
			a {
				margin: 0 !important;
				background: rgb(27, 29, 66);
			}
		}
	}
	&.detail-view  {

		.back-btn {
			background: rgb(27, 29, 66);
		}
	}

	.calendar-share-facebook a::after {
		color: white !important;
    content: '\f09a' !important;
    font-family: 'FontAwesome';
    margin-left: -7px !important;
   }
   .calendar-share-twitter a::after {
   	color: white !important;
    content: '\f099' !important;
    font-family: 'FontAwesome';
    margin-left: -14px !important;
   }
   .calendar-share-email a::after {
   	color: white !important;
    content: '\f0e0' !important;
    font-family: 'FontAwesome';
    margin-left: -14px !important;
   }

	#ws-calendar-content .entry.recurring-event .title a:before {
		text-shadow: none !important;
	}

	a {
		text-shadow: 0.03em 0 $color-ui-6, -0.03em 0 $color-ui-6, 0 0.03em $color-ui-6, 0 -0.03em $color-ui-6, 0.06em 0 $color-ui-6, -0.06em 0 $color-ui-6, 0.09em 0 $color-ui-6, -0.09em 0 $color-ui-6, 0.12em 0 $color-ui-6, -0.12em 0 $color-ui-6, 0.15em 0 $color-ui-6, -0.15em 0 $color-ui-6 !important;
	}

	&.grid-view {
		a {
			text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff !important;
		}

		.event-entries {
			padding: 0 15px 15px 15px;
		}

		.event-meta .date {
			display: none !important;
		}

		.entry {
			border: none !important;
			@include border-radius(4px);
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* x offset = 0, y offset = 2, blur = 4 */

			.title {
				@include font-size($font-size--gamma, auto);
				// padding-left: 15px !important;
				padding: 0 15px !important;
				margin-top: 20px !important;

				a:before {
					background-color: $color-ui-5 !important;
					margin-top: 10px;
				}
			}

			.summary {
				padding: 0 0 0 15px !important;

				p {
					@include font-size($font-size--epsilon, auto);
				}
			}
		}

		h2 {
			background-color: $color-primary-univ-blue !important;
			@include font-size($font-size--gamma, auto);
			padding-left: 15px;
			text-align: left !important;
		}

		.type {
			a {
				padding: 0 !important;
			}
		}
	}

	&.summary-view {
		.event-entries {
			padding-right: 15px;
		}

		.entry {

			.title {
				@include font-size($font-size--beta, auto);
				padding: 15px;

				a:before {
					background-color: $color-ui-5 !important;
					margin-top: 10px;
				}
			}

			.summary {
				padding-left: 15px;
			}
		}

		h2 {
			background-color: $color-primary-univ-blue !important;
			@include font-size($font-size--gamma, auto);
			padding-left: 15px;
			text-align: left !important;
		}
	}

	&.list-view {

		.entry .event-meta .date {
		  font-size: smaller !important;
		}

		.event-meta .location {
		  font-size: smaller !important;
		}

		.event-entries {
			padding-right: 15px;
		}

		.entry .title {
			font-size: 100% !important;
			top: 8px !important;
		}

		h2 {
			background-color: $color-primary-univ-blue !important;
			@include font-size($font-size--gamma, auto);
			padding-left: 15px;
			text-align: left !important;
		}
	}

	&.detail-view {
		.back-btn {
			color: white !important;
			margin: 20px 0 0 15px;
			margin-bottom: 0 !important;
			border-radius: 4px !important;
			text-shadow: none !important;
		}
	}
}

#menu-items li a {
	text-shadow: none !important;
}

#ws-title {
	color:$color-ui-text;
	font-family: "Montserrat", sans-serif;
	font-size: 2.25rem;
	line-height: 2.8125rem;
	font-weight: 300;
}

.detail-content {
	margin-left: 15px;
}

#dskCont {
	margin-top: 10px;
}

.search-time {
	border-top: none !important;
}

.event-meta {
	ul {
		margin-left: 0 !important;
		padding-left: 2px !important;

		li {
			margin-left: 0 !important;
		}
	}
}

// Recurring events and Search in webtools

#search-time {

	.time-presets {
		button {
			color: white !important;

			&:hover {
				background-color: $color-secondary-aces-orange !important;
			}

			&:focus, &:active {
				background-color: $color-secondary-aces-orange !important;
			}
		}

		ul#time-options {
			li {
				a {
					background: #45546E !important;
					background-color: $color-secondary-aces-blue-hex !important;
					text-shadow: none !important;
				}

				ul#months-options {
					margin-left: 0 !important;
					margin-bottom: 0 !important;

					li {
						padding-left: 0 !important;

						a {
							background-color: $color-ui-2 !important;
							color: $color-ui-text !important;
						}
					}

				}
			}
		}
	}

	.recurring-events {

		.title a {
			text-shadow: none !important;
		}

	}

	.toggle-view {
		button {
			line-height: 0 !important;
			padding: 0 !important;

			&#btn-list:before {
				vertical-align: middle;
			}

			&#btn-summary:before {
				vertical-align: middle;
			}

			&#btn-grid:before {
				vertical-align: middle;
			}
		}

	}

	.toggle-search {
		button {
			line-height: 0 !important;
			padding: 0 !important;

			&#btn-search:before {
				vertical-align: middle;
			}
		}

	}
}

	#search-options {

		.custom-time {

			.date-entry {
				input.user-entry {
					font-size: .75rem !important;
				}
			}
		}

		.search-bar {

			.search-button {

				input.small-btn {
					height: 37px;
				}
		}
	}
}

#no-events {
	padding: 0 20px 20px 20px;
}

// #ws-calendar-container #ws-calendar-content .entry.recurring-event .title a:before {
// 	background-color: $color-ui-5 !important;
// 	margin-top: 10px;
// }

// on aces.illinois.edu

.edu-il-ws-5784-1-content {
	background: $color-ui-6;
	@include border-radius(4px);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* x offset = 0, y offset = 2, blur = 4 */
	margin-top: 10px;
}

#edu-il-ws-5784-1-content-list {
	list-style-type: none;
	padding-right: 15px;

	li {
		border-bottom: 1px solid $color-ui-2;
		margin-bottom: 10px;
		padding-bottom: 20px;
		padding-top: 10px;

		&:last-of-type {
			border-bottom: none;
		}
	}
}

.edu-il-ws-5784-1-item-title {
	@include font-size($font-size--beta, auto);
	margin-bottom: 10px;
}

.edu-il-ws-5784-1-item-title a, .edu-il-ws-5784-1-item-title a:link {
	// color: $color-primary-univ-orange;
	@include font-size($font-size--beta, auto);
	text-decoration: none;
	text-shadow: none;
}
.edu-il-ws-5784-1-item-title a:hover, .edu-il-ws-5784-1-item-title a:active, .edu-il-ws-5784-1-item-title a:focus {
	color: $color-primary-univ-orange;
	// border-bottom:1px solid $color-ui-text;
}
.edu-il-ws-5784-1-time, .edu-il-ws-5784-1-extra-info {
	display:inline-block;
}

.edu-il-ws-5784-1-time, .edu-il-ws-5784-1-location {
	font-size: smaller;
}

.edu-il-ws-5784-1-extra-info {
	margin-top: 10px;
	display: block;
}

.edu-il-ws-5784-1-label {
	font-size: smaller;
	text-transform: uppercase;
	font-weight: bolder;
	display: block;
}

.edu-il-ws-5784-1-function {
  text-transform: capitalize;
}
