// Accordion
//
// Markup: accordion.html
//
// Styleguide 6.1


.c-accordion {

  &--hide-title {
    margin-top: 0.7rem;

    h2 {
      display: none;
    }
  }

  &__wrapper {

  }
  &__title {

  }
  &__content {
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #fff;
    display:none;

    &--active {
      display: block;
    }
  }
  &__ul {
    list-style: none;
    padding-left: 0;
  }
  &__li {
    &:last-of-type {
      border-bottom: 1px solid #e6e6e6;
    }
  }
  &__li--active {
    &:last-of-type {
      border-bottom: 0px;
    }
  }
  &__a {
    display: block;
    padding: 1.25rem 1rem;
    @include font-size(16px);
    color: #2199e8;
    position: relative;
    border: 1px solid #e6e6e6;
    border-bottom: 0;

    i.fa {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
    }
    &:after {
      content: '\02795';
      display: inline-block;
      float: right;
      text-decoration: underline; //IE 8-10 fix
    }
    &:after {
      text-decoration: none; //IE 8-10 fix
    }
    &:hover,
    &:focus {
      background-color: #f2f2f2;
      text-decoration: none;

      &:after {
        text-decoration: none; //IE 8-10 fix
      }
    }
  }
  &__a--active {
    &:after {
      content: "\2796";
      display: inline-block;
      float: right;
      text-decoration: underline; //IE 8-10 fix
    }
    &:after {
      text-decoration: none; //IE 8-10 fix
    }
    &:hover,
    &:focus {
      background-color: #f2f2f2;
      text-decoration: none;

      &:after {
        text-decoration: none; //IE 8-10 fix
      }
    }
  }
}
.c-accordion--faq {

}
