label {
  font-size: 10px;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 14px;
  margin-bottom: 0;
  text-transform: uppercase;

  &.right {
    float: none;
    text-align: right;
  }
  &.inline {
    margin: 0 0 1rem 0;
    padding: 0.625rem 0;
  }
  small {
    text-transform: capitalize;
    color: #676767;
  }
}

.label {
  background-color: #2BA6CB;
  color: white;
  display: inline-block;
  font-family: $montserrat;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 14px;
  margin-bottom: inherit;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  &.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
  }
  &--alert {
    background-color: #c60f13;
    color: white;
  }
  &--success {
    background-color: #5da423;
    color: white;
  }
  &--secondary {
    background-color: #e9e9e9;
    color: #333333;
  }
  &--light-background {
    background-color: #13294B;
    color: #FFFFFF;
  }
  &--dark-background {
    background-color: #DEE2E9;
    color: #13294B;
  }
  &--news,
  &--blog {
    background-color: $color-ui-6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: $color-primary-univ-blue;
    font-weight: 600;
    padding: 5px 9px 3px 9px;

    &--blue {
      background-color: $color-primary-univ-blue;
      color: white;
      text-align: left;
      white-space: normal;

      a {
        color: white;

        &:hover {
          color: $color-primary-univ-orange;
        }
      }
    }
  }
}