// Lists
//
// Styleguide 4.4

// Unordered List
//
// Markup:
// <ul>
//  <li>List Item</li>
//  <li>List Item</li>
// </ul>
//
// Styleguide 4.4.1

// Ordered List
//
// Markup:
// <ol>
//  <li>List Item</li>
//  <li>List Item</li>
// </ol>
//
// Styleguide 4.4.2

// Nested Unordered List
//
// Markup:
// <ul>
//  <li>List Item</li>
//    <ul>
//      <li>List Item</li>
//    </ul>
//  <li>List Item</li>
//    <ol>
//      <li>List Item</li>
//    </ol>
// </ul>
//
// Styleguide 4.4.3

// Nested Ordered List
//
// Markup:
// <ol>
//  <li>List Item</li>
//    <ul>
//      <li>List Item</li>
//    </ul>
//  <li>List Item</li>
//    <ol>
//      <li>List Item</li>
//    </ol>
// </ol>
//
// Styleguide 4.4.4

// Unordered List No Bullet
//
// Markup:
// <ul class="e-ul--no-bullet">
//  <li>List Item</li>
//    <ul>
//      <li>List Item</li>
//    </ul>
//  <li>List Item</li>
//    <ol>
//      <li>List Item</li>
//    </ol>
// </ul>
//
// Styleguide 4.4.5

ul,ol {
  margin-bottom: 1.25rem;
  padding-left: 15px;

  li > {

    ul,ol {
      //margin-left: 2 * $base-spacing-unit;
      margin-bottom: 1.25rem;

      li {
        padding-left: 15px;
      }
    }
  }
}

.e-ul {

  &--no-bullet {
    font-size: 20px !important;
    font-size: 1.25rem !important;
    line-height: 25px;
    line-height: 1.5625rem;
    list-style: none;
    margin-left: 0;
    margin-bottom: 1.25rem;
    padding-left: 0 !important;

    li {
      font-size: 20px !important;
      font-size: 1.25rem !important;
      line-height: 25px;
      line-height: 1.5625rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0 !important;
    }

    ul {
      list-style: disc;
      margin-left: 20px;
      margin-top: 15px;
      margin-bottom: 1.25rem;

      li {
        font-weight: normal;
        text-transform: none;
        padding: 4px 0;
        font-size: 20px !important;
        font-size: 1.25rem !important;
        line-height: 25px;
        line-height: 1.5625rem;
      }
    }

    a {

    }
  }
  &--no-bullet--footer {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      font-size: 14px;
      letter-spacing: .2px;
      line-height: 20px;
      margin-left: 0;
      text-transform: uppercase;

      a {
        color: #fff;
      }
    }
  }
}

// field collection Add link list
ul.action-links-field-collection-add {
  list-style: none;
  padding-left: 0;
  margin-left: 0;

  li {
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;

      li {
        padding: 10px 0 0 5px;
      }
    }
  }
}

// li > {

//   ul,
//   ol {
//       margin-left: 2 * $base-spacing-unit;
//       margin-bottom: 0;
//   }
// }
