// Buttons
//
// Buttons used in the WMS template.
//
// Markup:
// <button class="{{modifier_class}}"><a href="#">Button</a></button>
//
// .e-button--action - Action button
// .e-button--ghost - Ghost button
// .e-button--success - Success button
// .e-button--alert - Alert button
// .e-button--slider - Slider button
// .e-button--secondary - Secondary button
// .e-button--primary-color - Primary Site Color button
// .e-button--secondary-color - Secondary Site Color button
// .e-button--primary-color.large - Large button
// .e-button--primary-color.small - Small button
// .e-button--primary-color.tiny - Tiny button
// .e-button--primary-color.radius - Radius button
// .e-button--primary-color.expand - Expand to 100% width button
// .e-button--primary-color.round - Round button
// .e-button--primary-color.disabled - Disabled button
//
// Styleguide 4.11


button {
  background-color: $color-primary-univ-orange-hex;
  background-color: rgba($color-primary-univ-orange,1);
  border-color: $color-primary-univ-orange-hex;
  border-radius: $base-radius;
  border-style: solid;
  border-width: $base-border;
  color: #fff;
  display: inline-block;
  font-family:$montserrat;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-secondary-aces-orange;
  }

  > a {
    display: block;
    color: white;

    &:hover,
    &:focus,
    &:active {
      color: #FFF;
      text-decoration: none;
    }
  }
  > i.fa {
    color: inherit !important;
  }
}

// Google search button IE fix
.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
  width: auto !important;
  height: auto !important;
  margin-bottom: -10px !important;
  padding: 14px 30px !important
}
