// Links
//
// Default link color #444
//
// Markup:
// <div>
//  <a href="#">Generic Link</a>
// </div>
//
// Site link color
// <div class="node-page">
//  <a href="#">Generic Link</a>
// </div>
//
// :hover - hover site color darkened
// :focus - hover site color darkened
//
// Styleguide 4.3

a {
  text-decoration: none;
  color: $color-default-text;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;

  &:hover,
  &:focus {
    color: $color-primary-univ-orange;
  }
}