// Figure with Caption
//
// Markup: figure.html
//
// Styleguide 4.9

// Figure Box with Caption
//
// The box width will adjust to the parent container.
//
// Markup: figure--box.html
//
// Styleguide 4.9.1


//TODO: replace button classes background colors

figure {
  margin: 0;
  padding: 0;

  &.align-right {
    padding: 20px;
  }
  &.align-left {
    padding: 20px;
  }

  img {
    width: 100%;
  }
  figcaption {
    color: #9E9E9E;
    font-family: $montserrat;
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 5px 0px;
  }
}