// Links
//
// Default link color #444
//
// Markup:
// <div>
//  <a href="#">Generic Link</a>
// </div>
//
// Site link color
// <div class="node-page">
//  <a href="#">Generic Link</a>
// </div>
//
// :hover - hover site color darkened
// :focus - hover site color darkened
//
// Styleguide 4.3

a {
  text-decoration: none;
  color: $color-default-text;
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;

  &:hover,
  &:focus {
    color: $color-primary-univ-orange;
    // if we want underline to go away too background: none;
  }
  &.tags {
    color: $color-default-text;
    font-family: $montserrat;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;

    &:before {
      color: $color-primary-univ-orange;
      content: "\002F"; //forward slash /
      padding-right: 1.2em;
    }
  }
}
.node-page,
.node-basic-page-w-pictures,
.node-shared-news,
.node-box,
.node-2-column,
.node-accordion,
.view-employee-detail,
.node-shared-event,
.webform-client-form,
.page-giving,
.view-display-id-page,
.node--type-legacy-news,
.node--type-news,
.node-basic-page__content,
p {

  a {
    border-bottom: none;
    color: rgba(0,0,0,1);
    text-decoration: none;

    /// new stuff

    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)),-webkit-gradient(linear,left top,left bottom,from($color-primary-univ-orange),to($color-primary-univ-orange));
    background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient($color-primary-univ-orange,$color-primary-univ-orange);
    background-size: .05em 1px,.05em 1px,1px 1px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    //text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    background-position: 0 95%,100% 95%,0 95%;

    &:hover {
      color: $color-primary-univ-orange;
      text-decoration: none;
    }
  }
  button > a {
    text-decoration: none;
  }
}
.node-accordion {
  .c-accordion__li {
    a {
      color: $color-action;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: darken($color-action, 10%);
        text-decoration: underline;
      }
    }
  }
  .c-accordion__content {
    a {
      color: $color-action;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: darken($color-action, 10%);
        text-decoration: underline;
      }
    }
  }
}
