// Lists
//
// Styleguide 4.4

// Unordered List
//
// Markup:
// <ul>
//  <li>List Item</li>
//  <li>List Item</li>
// </ul>
//
// Styleguide 4.4.1

// Ordered List
//
// Markup:
// <ol>
//  <li>List Item</li>
//  <li>List Item</li>
// </ol>
//
// Styleguide 4.4.2

// Nested Unordered List
//
// Markup:
// <ul>
//  <li>List Item</li>
//    <ul>
//      <li>List Item</li>
//    </ul>
//  <li>List Item</li>
//    <ol>
//      <li>List Item</li>
//    </ol>
// </ul>
//
// Styleguide 4.4.3

// Nested Ordered List
//
// Markup:
// <ol>
//  <li>List Item</li>
//    <ul>
//      <li>List Item</li>
//    </ul>
//  <li>List Item</li>
//    <ol>
//      <li>List Item</li>
//    </ol>
// </ol>
//
// Styleguide 4.4.4

// Unordered List No Bullet
//
// Markup:
// <ul class="e-ul--no-bullet">
//  <li>List Item</li>
//    <ul>
//      <li>List Item</li>
//    </ul>
//  <li>List Item</li>
//    <ol>
//      <li>List Item</li>
//    </ol>
// </ul>
//
// Styleguide 4.4.5

ul,ol {
  margin-bottom: 1.25rem;
  padding-left: 15px;

  li > {

    ul,ol {
      //margin-left: 2 * $base-spacing-unit;
      margin-bottom: 1.25rem;

      li {
        padding-left: 15px;
      }
    }
  }
}