// Drupal comes with CSS quirks (Drupalisms). Unravel or override them here.

// Remove the bottom padding on status messages when displayed inside a Zurb
// Foundation Reveal modal.
#status-messages.reveal-modal {
  .alert-box {
    margin-bottom: 0;
  }
}
// Allow the system messages to appear on top of layers
div.status {
  position: relative;
  z-index: 9;
}
div.error, .error {
  position: relative;
  z-index: 98;
}
// when signed in and on mobile sizes, the tabs overflow the screen
nav.tabs {
  overflow: hidden;
}

// Fix Zurb Foundation Reveal Modal z-index and make it play nice with dropdown
// menus, lightboxes, etc.
.reveal-modal {
  z-index: 999;
}

// Override Drupal Core pager styles. This is necessary because we need to keep
// the .pager class on pagers for Views AJAX to work. If you are disabling
// Drupal Core CSS you can safely comment the following lines.
.item-list .pager {
  clear: none;
}

.item-list .pager li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
#admin-menu-search {
  display: none;
}