/* ie 11 CSS styles */
 @media all and (-ms-high-contrast:none) {
  .e-img--illinois {
    width: 167px;
  }
  .e-img--aces {
    width: 63px;
  }
  .node--type-layer-two-column-text.orangeright {
    -ms-overflow-y: hidden;
    padding: 0 0 20px 0;
  }
  .node--type-layer-two-column-text.blueright {
    -ms-overflow-y: hidden;
    padding: 0 0 20px 0;
  }
  #block-sitetheme-main-menu ul.c-menu-main li.c-menu-main__item--expanded ul.c-menu-main__submenu li.c-menu-main__item a,
  #block-sitetheme-main-menu ul.c-menu-main li.c-menu-main__item--expanded ul.c-menu-main__submenu li.c-menu-main__item span {
    padding: 0;
  }
  .views-view--blog__content--main__hr {
    float: left;
  }
  .author--profile__category--hr {
    float: left;
  }
  #block-sitetheme-main-menu ul.c-menu-main li.c-menu-main__item--expanded:hover > ul.c-menu-main__submenu {
    display: inline;
  }
  #block-sitetheme-main-menu ul.c-menu-main li.c-menu-main__item--expanded ul.c-menu-main__submenu {
    display: inline;
    transition: none;
  }
  #block-sitetheme-main-menu ul.c-menu-main li.c-menu-main__item {
    padding-bottom: 5px;
  }
  .c-menu-main__submenu--wrapper.active {
    transition: none;
  }
  .c-menu-main__submenu.active {
    transition: none;
  }
 }
