.node-box {

  &__box {
    padding-bottom: 20px;
  }
  &__content {
    padding-bottom: 20px;
  }
  &__buttons {

  }
  &__title {
    @include breakpoint(phone) {
      @include font-size(40px);
    }
    @include breakpoint(tablet) {
      @include font-size(50px);
    }
    @include font-size(60px);
  }
  &__sub-title {
    opacity: 0.6;

    @include breakpoint(phone) {
      @include font-size(24px);
    }
    @include breakpoint(tablet) {
      @include font-size(28px);
    }
    @include font-size(32px);
  }
  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  &__row {

    &--zero-images {
      .node-box {
        &__buttons {
          @include breakpoint(tablet-down) {
            padding-left: 0px;
            padding-right:0px;
          }
        }
      }
    }
    &--one-image {
      position: relative;

      .node-box {

        &__buttons {

          @include breakpoint(desktop-up) {
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
      }
    }
    &--two-images {

    }
    &--three-images {

    }
    &--four-images {

    }
    &--five-images {

    }
    &--six-images {

    }
    &--seven-images {

    }
    &--eight-images {

    }
    &--nine-images {

    }
    &--ten-images {

    }
    &--default-images {

    }
  }
  // custom colors for layer backgrounds
  .u-bg-color--primary-blue--darken-10,
  .u-bg-color--primary-light-grey,
  .u-bg-color--default {

    .node-box {

      &__title {
        color: white;
      }
      &__sub-title {
        color: white;
      }
      &__row {
        color: white;
      }
    }
  }
}
