.node-basic-page {
  margin-top: 30px;

  &__title {

    @include font-size($font-size--mega);

    @include breakpoint(tablet-down) {
      @include font-size($font-size--alpha);
    }

  }
  &__content {

    a {
      // redundant? border-bottom: 1px solid $color-primary-univ-orange;
      color: #444444;
      text-decoration: none;

      &:hover {
        color: $color-primary-univ-orange;
        text-decoration: none;
      }
    }
    button,
    .e-button,
    a.e-button,
    a.button {
      background: $color-primary-univ-orange-hex;
      background: $color-primary-univ-orange;
      border-color: $color-primary-univ-orange-hex;
      border-radius: $base-radius;
      border-style: solid;
      border-width: $base-border;
      color: #FFF;
      display: inline-block;
      font-family:$montserrat;
      @include font-size(14px);
      font-weight: 500;
      padding: 10px 15px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: none;

      &:hover,
      &:focus,
      &:active {
        background-color: $color-secondary-aces-orange;
        border-color: $color-secondary-aces-orange;
        color: #FFF;
        text-decoration: none;
      }
      > i.fa {
        color: inherit !important;
      }
      &--ghost {
        background-color: white;
        border: 2px solid $color-primary-univ-orange !important;
        box-shadow: unset;
        color: $color-primary-univ-orange !important;

        &:hover,
        &:focus,
        &:active {
          background-color: $color-ui-2;
          border: 2px solid $color-secondary-aces-orange !important;
        }
        > a {
          color: $color-secondary-aces-orange !important;
        }
      }
    }
    &--field-row {
      padding-bottom: 20px;
    }
    &--field-row-title {
      @include font-size($font-size--alpha);

      @include breakpoint(tablet-down) {
        @include font-size($font-size--beta);
      }
    }
    &--field-row-overview {
      margin: 25px 0;

    }
    &--field-row-body {

      figure {
        margin: 20px 0;

        figcaption {
          text-align: right;
        }
      }
    }
    ul,ol {
      font-weight: 400;
      @include font-size(20px);
      margin-bottom: 1.25rem;
      padding-left: 15px;

      li {
        margin-left: 5px;
        padding: 4px 0;

        ul,ol {
          margin-bottom: 1.25rem;

          li {
            //padding-left: 15px;
          }
        }
      }
    }
  }
}
