.node-accordion__container {

  @include breakpoint(tablet-down) {
    display: flex;
    flex-wrap: wrap;
  }
}

.node-accordion__column {
  width: 50%;
  float: left;

  @include breakpoint(tablet-down) {
    width: 100% !important;
  }
}

.node-accordion__title {
  border-width: 0px;

  &::after {
  font-family: 'FontAwesome';
  font-size: smaller;
  color: $color-primary-univ-orange;
  margin-left: 6px;
  position: absolute;
  }
}

.node-accordion__title.c-accordion__a--active {

  &::after {
    content: '\f077';
  }
}

.node-accordion__title:not(.c-accordion__a--active) {

  &::after {
    content: '\f078';
  }
}

.node-accordion__node-body {
  border-width: 0px;
  margin-bottom: 20px;

  p {
    margin-bottom: 0rem;
  }

  a {
    @include font-size(18px);
    text-decoration: none;
    background-size: 0;
    color: $color-secondary-aces-dk-blue;
    border-bottom: 2px solid #e84a27;
    -webkit-transition: color 0.1s linear, border-color 0.1s linear;
    transition: color 0.1s linear, border-color 0.1s linear;

    &:hover {
      border-bottom: 2px solid $color-primary-univ-blue !important;
    }

    &.button {
      text-shadow: none;
      color: white;

      &:hover {
        border-bottom: 2px solid $color-secondary-aces-orange !important;
      }
    }

    &[href*="//"]:not([href*="#{$site-url}"]):not( [href^='#'] ):not( [href^='/'] ) {

      &:after {
        padding-right: 15px;
      }
    }
  }
}

.node-accordion__button {
  margin-bottom: 20px;
}

.node-accordion__body {
  border-style: none;

  a {
    @include font-size(18px);
    color: $color-secondary-aces-dk-blue;
    text-decoration: none;
    background-size: 0;
    border-bottom: 2px solid #e84a27;
    -webkit-transition: color 0.1s linear, border-color 0.1s linear;
    transition: color 0.1s linear, border-color 0.1s linear;

    &:hover {
      border-bottom: 2px solid $color-primary-univ-blue !important;
    }

    &[href*="//"]:not([href*="#{$site-url}"]):not( [href^='#'] ):not( [href^='/'] ) {

      &:after {
        padding-right: 15px;
      }
    }
  }
}

.node-accordion__node-title {
  color: $color-primary-univ-orange;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.u-bg-color--univ-orange {
  .node-accordion__node-title {
    background-color: $color-primary-univ-orange;
    color: white !important;
  }

  .node-accordion__node-body {
    background-color: $color-primary-univ-orange;
    color: white !important;

    a {
      background-color: $color-primary-univ-orange;
      color: white;
      text-shadow: none;
      border-bottom: 2px solid $color-primary-univ-blue !important;

      &:after {
        color: $color-primary-univ-blue !important;
      }
      &:hover {
        border-bottom: 2px solid white !important;
      }
    }
  }

  .node-accordion__title {
    background-color: $color-primary-univ-orange;
    color: white !important;

    &::after {
      color: $color-primary-univ-blue !important;
    }
  }
  .node-accordion__body {
    background-color: $color-primary-univ-orange;
    color: white !important;

    a {
      background-color: $color-primary-univ-orange;
      color: white;
      text-shadow: none;
      border-bottom: 2px solid $color-primary-univ-blue !important;

      &:after {
        color: $color-primary-univ-blue !important;
      }
      &:hover {
        border-bottom: 2px solid white !important;
      }
    }
  }
}

.u-bg-color--ui-6 {
  .node-accordion__body {
    background-color: $color-ui-6;

    a {
      background-color: $color-ui-6;
      color: $color-secondary-aces-dk-blue !important;
    }
  }

  .node-accordion__node-body {

    a {
      color: $color-secondary-aces-dk-blue !important;
    }
  }
}

.u-bg-color--univ-blue {
  .node-accordion__node-title {
    background-color: $color-primary-univ-blue;
    color: white !important;
  }

  .node-accordion__node-body {
    background-color: $color-primary-univ-blue;
    color: white !important;

    a {
      background-repeat: unset;
      background-color: $color-primary-univ-blue;
      text-decoration: none;
      text-shadow: none;
      color: white !important;
      border-bottom: 2px solid #e84a27;
      -webkit-transition: color 0.1s linear, border-color 0.1s linear;
      transition: color 0.1s linear, border-color 0.1s linear;

      &:after {
        content: '\f054';
        color: $color-primary-univ-orange;
        float: right;
        font-family: 'FontAwesome';
        font-size: smaller;
        margin-left: 6px;
        margin-top: 4px;
        position: absolute;
      }
      &:hover {
        border-bottom: 2px solid $color-primary-univ-blue !important;
      }
    }
  }

  .node-accordion__title {
    background-color: $color-primary-univ-blue;
    color: white !important;
  }

  .node-accordion__body {
    background-color: $color-primary-univ-blue;
    color: white !important;

    a {
      background-repeat: unset;
      background-color: $color-primary-univ-blue;
      text-decoration: none;
      text-shadow: none;
      color: white !important;
      border-bottom: 2px solid #e84a27;
      -webkit-transition: color 0.1s linear, border-color 0.1s linear;
      transition: color 0.1s linear, border-color 0.1s linear;

      &:hover {
        border-bottom: 2px solid $color-primary-univ-blue !important;
      }
    }
  }
}

.node-accordion__a-anchor {
  &::after {
    content: "" !important;
  }
}
