.node--type-legacy-blog,
.node--type-blog {

  .blog {

    &__header {

      &--aces {
        font-weight: 500;
        padding: 30px 0 15px;
        text-align: center;
        // text-decoration: underline;
        a {
          background: none;
          border-bottom: 3px solid white;
          color: white;
          text-shadow: none;

          &:hover {
            border-bottom: 3px solid $color-primary-univ-orange;
            color: $color-primary-univ-orange;
          }
        }
      }
      &--title {
        @include font-size(42px);
        font-weight: 400;
        padding: 20px 20px 30px 20px;
        text-align: center;

        @include breakpoint(tablet-down) {
          @include font-size(36px);
        }
        @include breakpoint(phone) {
          @include font-size(28px);
        }
      }
      &--wrapper {
        background-color: $color-primary-univ-blue;
        color: white;

        &--image {
          padding-bottom: 200px;

          .blog__social {

            &--top {
              display: none;
            }
          }
        }
        &--no-image {
          padding-bottom: 0px;

          .blog__social {

            &--top {
              display: inline-block;
              float: none;

              a.share-facebook-popup,
              a.share-twitter-popup,
              a.share-more-popup {
                position: relative;
                display: inline-block;
                right: unset;
                top: unset;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    &__photo-caption {
      color: $color-ui-4;
      font-style: italic;
      padding: 20px 0;
    }
    &__photo-credit {
      color: $color-ui-4;
    }
    &__content {
      padding-top: 50px;

      &--wrapper {

        &--image {

          .blog__social {

            &--left {
              display: block;

              @include breakpoint(tablet-down) {
                display: inline-block;
                position: relative;
                top: -200px;
                height: 60px;
                width: 100%;
                float: left;
              }
            }
          }
        }
        &--no-image {

          .blog__social {

            &--left {
              display: none;
            }
          }
        }
      }

      &--left-sidebar {

        &__wrapper {

          @include breakpoint(tablet-down) {
            padding: 0px;
          }
        }
        &__content {

        }
      }
      &--right-sidebar {

        &__wrapper {
          padding-right: 0px;
          padding-left: 20px;
        }
      }
    }
    &__image {
      width: 100%;

      &--wrapper {
        float: left !important;
        margin-bottom: -200px;
        padding: 0;
        position: relative;
        top: -200px;
      }
    }
    &__social {
      padding: 20px 0px;
      text-align: center;

      a {
        color: white;
        display: block;
        border: none;
      }
      a.share-facebook-popup {
        background-color: #e0e0e0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 20px;

        @include breakpoint(tablet-down) {
          right: 56%;
          top: 20%;
        }
        @include breakpoint(phone) {
          right: 60%;
          top: 20%;
        }

        &:before {
          content: '\f09a';
          position: absolute;
          right: 15px;
          top: 10px;
          font-family: FontAwesome;
          color: grey;
        }
      }
      a.share-twitter-popup {
        background-color: #e0e0e0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 70px;

        @include breakpoint(tablet-down) {
          right: 48%;
          top: 20%;
        }
        @include breakpoint(phone) {
          right: 45%;
          top: 20%;
        }

        &:before {
          content: '\f099';
          position: absolute;
          right: 12px;
          top: 10px;
          font-family: FontAwesome;
          color: grey;
        }
      }
      a.share-more-popup {
        background-color: #e0e0e0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: 120px;

        @include breakpoint(tablet-down) {
          right: 40%;
          top: 20%;
        }
        @include breakpoint(phone) {
          right: 30%;
          top: 20%;
        }

        &:before {
          content: '\f141';
          position: absolute;
          right: 14px;
          top: 12px;
          font-family: FontAwesome;
          color: grey;
        }
      }
    }
    &__main {
      padding: 0;
    }
    &__body {
      color: #6c6c6c;
      @include font-size(18px,26px);
      font-weight: 500;
    }
    &__right-sidebar {
      padding: 0 0 0 10px;

      &__header {
        color: $color-primary-univ-grey;
        font-weight: 300;
      }
      &__hr {
        color: $color-ui-4;
        margin: 10px 40px 10px 0;
      }
      &__content {

      }
    }
    &__author {
      padding-bottom: 20px;

      &--name {
        @include font-size(14px);

        span {
          font-weight: bold;
        }
      }
      &--title {
        @include font-size(14px);
      }
      &--phone {
        @include font-size(14px);
      }
      &--email {
        @include font-size(14px);
      }
    }
    &__published {
      @include font-size(14px);
      color: $color-ui-4;
      padding-bottom: 15px;
    }
    &__field-categories {

      &--ul {
        @include font-size(10px);
        font-weight: normal;
      }
      &--li {
        @include font-size(10px);
        font-weight: 500;
        padding: 4px 0 !important;

        span {
          color: $color-primary-univ-orange;
          padding-right: 8px;
        }
      }
    }
  }
}
