.node--type-layer-three-column-cards {

  .threecolcards {

    &__wrapper {

      &--content {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
      }

      &--box {
        background-color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* x offset = 0, y offset = 2, blur = 4 */
        padding-bottom: 62px;
        width: 100%;
        @include border-radius(4px);

        @include breakpoint(medium) {
          margin-bottom: 20px;
          padding-bottom: 20px;
        }
        @include breakpoint(small) {
          margin-bottom: 20px;
          padding-bottom: 20px;
        }
      }
      &--buttons {
        justify-content: center;
        display: flex;
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

        @include breakpoint(medium) {
          position: relative;
        }

        @include breakpoint(small) {
          display: inherit;
          padding: 0 20px;
          position: relative;
        }
      }
    }
    &__content {
      display: flex;

      &--btnlabels {
        display: block;

        @include breakpoint(medium-down) {
          padding-bottom: 30px;
        }
      }
    }
    &__body {
      a,
      a:hover {
        background-size: 0 1px, 0 1px, 1px 1px;
        text-shadow: none;
      }
      p,div {
        a,
        a:hover {
          background-size: 0 1px, 0 1px, 1px 1px;
          text-shadow: none;
        }
      }
    }
    &__image {
      width: 100%;
      @include border-top-radius(4px);
    }
    &__title {
      color: $color-primary-univ-orange !important;
    }
    &__button {

      @include breakpoint(medium) {
        width: 50%;
      }
      @include breakpoint(small) {
        width: 100%;
      }

      &--2 {
        padding-left: 10px;

        @include breakpoint(small) {
          padding-left: 0px;
          padding-top: 10px;
        }
      }

      > a {
        font-size: 14px;
        font-weight: 500;
        padding: 10px;
        text-transform: uppercase;

        @include breakpoint(medium) {
          width: 100%;
        }
        @include breakpoint(small) {
          width: 100%;
        }
      }
      &--ghost {

      > a.e-button--ghost {
          background-color: white;
          border: 2px solid $color-primary-univ-orange !important;
          box-shadow: unset;
          color: $color-primary-univ-orange !important;

          &:hover,
          &:focus {
            background-color: rgba(white, 0.1);
            border: 2px solid $color-primary-univ-orange !important;
          }
          &:active {
            background-color: rgba(white, 0.2);
            border: 2px solid $color-primary-univ-orange !important;
          }
          > a {
            color: $color-primary-univ-orange !important;
          }
        }
      }
    }
    &__button--label {

      &__link {

      }
      &__text {

        > a {
          text-decoration: none;
          border-bottom: 2px solid $color-primary-univ-orange;
        }
        &:after {
          content: '\f054';
          color: $color-primary-univ-orange;
          font-family: 'FontAwesome';
          font-size: smaller;
          margin-left: 6px;
          margin-top: 6px;
          position: absolute;
        }
      }
    }
  }
}
