// http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/



@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin darklightmix-colors($pairs...) {

  @each $color, $value in $pairs {
    .u-color--#{$color} {
      color: #{$value};

      $i: 10;
      @while $i <= 90 {
        $percent: $i * 1%;
        &--darken-#{$i} {
          color: darken($value,$percent);
        }
        &--lighten-#{$i} {
          color: lighten($value,$percent);
        }
        &--mix-black-#{$i} {
          color: mix(black,$value,$percent);
        }
        &--mix-white-#{$i} {
          color: mix(white,$value,$percent);
        }
        $i: $i + 10;
      }
    }
  }
}
@mixin darklightmix-bgcolors($pairs...) {
  @each $color, $value in $pairs {
    .u-bg-color--#{$color} {
      background-color: #{$value};

      $i: 10;
      @while $i <= 90 {
        $percent: $i * 1%;
        &--darken-#{$i} {
          background-color: darken($value,$percent);
        }
        &--lighten-#{$i} {
          background-color: lighten($value,$percent);
        }
        &--mix-black-#{$i} {
          background-color: mix(black,$value,$percent);
        }
        &--mix-white-#{$i} {
          background-color: mix(white,$value,$percent);
        }
        $i: $i + 10;
      }
    }
  }
}
