// Background Images
//
// Background Images used in the WMS template.
//
// Markup:
// <div class="u-padding--top-bottom-50 {{modifier_class}}"></div>
//
// .u-bg-image--blue-mural - Blue Mural
// .u-bg-image--green-map - Green Map
// .u-bg-image--graduation - Students at Graduation
//
// Styleguide 8.2.2

.u-bg-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @include breakpoint(small) {
    background-position: 50% 50% !important;
    background-size: auto 100% !important;
  }
  @include breakpoint(medium) {
    background-position: top center !important;
    background-size: auto 100% !important;
  }
  @include breakpoint(large-up) {
    background-position: top center !important;
    background-size: cover !important;
  }
  &--blue-mural {
    background: url("../images/bg/blue_mural.png");
  }
  &--green-map {
    background: url("../images/bg/green_map.png");
  }
  &--graduation {
    background: url("../images/bg/graduation.jpg");
  }
}
