/* Variables
 * ==========================================================================
 * Only declare variables here, so we can keep track of them and make sure they
 * aren't accidentally overridden.
 * color names pulled from http://www.color-blindness.com/color-name-hue/
 */

/* Mega Menu Height */
$mega-menu-min-height:              330px !important;

/* New Colors from JJD
 * ------------------------------------------------------ */
$black-black:                       rgba(0,0,0,1); //pure black
$white-white:                       rgba(255,255,255,1); //pure white



$grey-charcoal:                     rgba(68,68,68,1); //default text color
$grey-charcoal-secondary:           rgba(68,68,68,0.6); //secondary text color | consider removing if opacity mixin is more viable using $grey-charcoal and value as parameters
$grey-charcoal-disabled:            rgba(68,68,68,0.3); //disabled text color | consider removing if opacity mixin is more viable using $grey-charcoal and value as parameters
$site-accent:                       rgba(253,72,181,1); //site accent color
$alert-red:                         rgba(195,78,49,1); //alert color | secondary color in ACES Style Guide


// ACES Style Guide Colors
$primary-dark-blue:                 rgba(69,85,110,1);
$primary-blue:                      rgba(36,109,164,1);
$primary-light-blue:                rgba(66,173,203,1);
$primary-red:                       rgba(225,91,39,1);
$primary-orange:                    rgba(239,128,36,1);
$primary-dark-grey:                 rgba(83,61,51,1);
$primary-light-grey:                rgba(128,122,119,1);

$secondary-dark-blue:               rgba(48,70,103,1);
$secondary-blue:                    rgba(92,135,180,1);
$secondary-light-blue:              rgba(164,181,201,1);
$secondary-red:                     rgba(195,78,49,1);
$secondary-orange:                  rgba(236,167,75,1);
$secondary-light-grey:              rgba(175,170,169,1);

$tertiary-dark-green:               rgba(38,57,53,1);
$tertiary-green:                    rgba(66,98,88,1);
$tertiary-light-green:              rgba(151,197,36,1);
$tertiary-light-blue:               rgba(203,243,243,1);

/* Color
 * ------------------------------------------------------ */
//used in new colors $black-black:                       #000;
$blue-bahama-opacity:               rgba(35, 81, 130, 0.3);
$blue-blizzardblue:                 #9CD9EC;
$blue-lochmara:                     #246DA4;
$blue-light-steel-blue:             #A7C6D8;
$blue-shakespeare:                  #5c87b4;
$blue-sapphire:                     #081B3B;
$blue-mayablue:                     #7EC6DC;
$blue-allports:                     #1A7498;
$blue-scooter:                      #2B8DA9;
$blue-scooter-opacity:              rgba(43,141,169,0.9);
$blue-spray-opacity:                rgba(119,201,224,0.9);
$blue-powderblue:                   #B9D9E5;
$blue-pale-turquoise:               #CBF3F3;
$blue-pelorous:                     #2285A2;
$blue-pelorous-too:                 #1C95C4;
$blue-viking:                       #42ADCB;
$orange-carrot:                     #EA8024;
$orange-carrot-opacity:             rgba(239,128,36,0.4);
$blue-onahau:                       #C2E0EC;
$green-pigmentgreen:                #597521;
$green-bahia:                       #9AB517;
$green-bahia-opacity:               rgba(154,181,23,0.7);
$green-wasabi:                      #7D9B41;
$grey-suvagrey:                     #8C8685;
$grey-darkgray-opacity:             rgba(169,164,164,0.4);
$grey-dimgraylight:                 #5D5D5D;
$grey-grey:                         #848484;
$grey-nero:                         #141414;
$grey-shadylady:                    #989898;
$grey-verylightgrey:                #CCCCCC;
$white-white:                       #FFFFFF;
$white-smokewhite:                  #EEEEEE;
$yellow-goldenglow:                 #FBD283;
$yellow-lightgoldenrodyellow:       #F8FCE5;

/* Site Specific Colors
 * ------------------------------------------------------ */


// Events Panels ( _eventDatepicker.scss)
$blue-pattens-blue:                 #CEEBEE;




/* Typography
 * ------------------------------------------------------ */
// fonts
// $proxima-nova:                         "proxima-nova",
//                                        helvetica,
//                                        arial,
//                                        sans-serif;
// $proxima-nova-alt-condensed:           "proxima-nova-alt-condensed",
//                                        helvetica,
//                                        arial,
//                                        sans-serif;
// $akzidenz:                                            "akzidenz-grotesk-condensed",
//                                        helvetica,
//                                        arial,
//                                        sans-serif;

// $orator:                               "orator-std",
//                                         monospace;

// $oneCol1pictxb2btn-title:               90px;
// $oneCol1pictxb2btn-title-padding-tb:    20px;
// $oneCol1pictxb2btn-title-padding-lr:     0px;
// $color-oneCol1pictxb2btn-title-background:    $orange-carrot-opacity;
// $color-oneCol1pictxb2btn-body-background:     $orange-carrot-opacity;


// ACES pallet
$color-action:                       $orange-carrot;
$color-accent:                       $orange-carrot;
$color-actionbtn-hover-background:   $blue-pelorous;
$color-box-shadow:                   $grey-nero;

// idbar
// $color-idbar-background:             $blue-sapphire;
// $color-idbar-text:                   $white-white;

// header
$color-header-background:            $blue-shakespeare;

// menu
$color-menu-section-background:      $white-white;
$color-menu-section-link:            $orange-carrot;
$color-menu-section-link-active:     $blue-mayablue;
$color-menu-page-link:               $blue-mayablue;
$color-menu-link-hover:              $blue-onahau;
$color-menu-link-active:             $orange-carrot;

// hero
//$color-hero-background:              $blue-light-steel-blue;

// news slider:
// $color-newslider-background:         $blue-light-steel-blue;

// section navigation
$color-sectionnav-background:        $white-white;
$color-sectionnav-text:              $blue-sapphire;

//-> region right
$color-region-right-background:      $orange-carrot;

// footer
$color-footer-h3-text:               $white-white;
$color-footer-link-text:             $white-white;
$color-footer-link-hover-text:       $white-white;
$color-footer-address-text:          $white-white;
$color-footer-univ-links-text:       $blue-powderblue;
$color-univ-links-background:        $blue-sapphire;
$color-aces-links-background:        $blue-allports;
$color-footer-background:            $blue-scooter;


// foundation overrides
$color-accordion-active-link-background:          $green-pigmentgreen;
$color-accordion-link-background:                 $green-wasabi;
$color-accordion-hover-link-background:           $green-wasabi;
$color-accordion-content-active-background:       $yellow-lightgoldenrodyellow;

// home page
$color-layer1-background:                         $grey-darkgray-opacity;
$color-layer1-h1:                                 $blue-lochmara;
$color-layer1-h2:                                 $grey-suvagrey;
$color-gradrecruit-background:                    $blue-spray-opacity;
$color-layer4-background:                         $blue-pale-turquoise;


//section page
$color-section-page-heading:                      $blue-shakespeare;
$color-section-page-heading-h1:                   $orange-carrot-opacity;

//-> banner text
$color-bannertext-background-opacity:             $green-bahia-opacity;
$color-bannertext-background:                     $green-bahia;

//-> slick carousel
$color-slickcarousel-text:                        $white-white;

//-> spotlights
$color-spotlight-link-background:                 $blue-viking;
$color-spotlight-link-background-hover:           #258FAF;
//$spotlight-link-font:                             $montserrat;

//-> news and events
$color-calnews-background:                        $grey-dimgraylight;
// $font-newsevents-tabs:                            $montserrat;
$color-newsevents-active-tab-background:          $grey-shadylady;
$color-newsevents-inactive-tab-background:        $grey-grey;
$color-newsevents-dates:                          $blue-allports;
$highlight: #597521;
$lighthighlight: #7D9B41;
$tint: #F8FCE5;

// recruit page
//-> header section
$color-recruit-header-background:                 $yellow-goldenglow;
$color-recruit-header-h2-background:              $blue-shakespeare;
$color-recruit-header-h2-text:                    $white-white;
$color-recruit-header-p-background:               $blue-shakespeare;
$color-recruit-header-p-text:                     $white-white;

//-> overview section
$color-recruit-overview-background:               $white-white;
$color-recruit-overview-button-link:              $white-white;
$color-recruit-overview-button-background:        $orange-carrot;
$color-recruit-overview-button-hover-background:  $blue-shakespeare;

//-> about section
$color-recruit-about-title-text:                  $white-white;
$color-recruit-about-overview-text:               $white-white;
$color-recruit-about-background:                  $blue-shakespeare;
$color-recruit-about-image-background:            $blue-mayablue;
$color-recruit-about-image-link:                  $white-white;

//-> paths section
$color-recruit-paths-background:                  $yellow-goldenglow;

//-> opportunities section
$color-recruit-opportunities-background:          $white-white;

//-> font styling
//$font-body-alt-condensed:                         $montserrat;
$font-size-h2:                                    2.3125rem;

// components
//-> fourColumn50
$color-four-column50-background:                  $blue-blizzardblue;
$color-four-column50-h3-background:               $blue-shakespeare;
$color-four-column50-statement-text:              $blue-allports;
