$accordion-background-color:     #246E83;

.view-faq {
  margin-top: 10px;

  &__title {
    font-family: $montserrat;
    font-size: 2rem;
    color: #fff;
    background: $accordion-background-color;
    font-weight: 300;
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
    text-shadow: -1px -1px 0px black;
    letter-spacing: -1px;
  }

  .view-content {

    dl.accordion {
      color: white;
      padding: 5px 0px 0px 15px;
      background-color: $accordion-background-color;
      font-size: 18px;

      /* FAQ closed */
      .faq-section {
        background-color: $color-site-hex;
        margin-top: -5px;
        margin-left: -15px;
        padding: 5px 15px;
        margin-bottom: 0px;
        border-bottom: 1px solid $accordion-background-color;
      }

      .faq-section-arrow-up {

        &:after {
          content:'\25B2';
          color: #FFF;
          position:absolute;
          right:20px;
        }
      }

      .faq-section-arrow-down {

        &:after {
          content:'\25BC';
          color: #FFF;
          position:absolute;
          right:20px;
        }
      }

      dd {
        margin-left:-10px;
        margin-right:5px;
        display:none;
        background-color:#ccc;
      }

      dd.accordion-navigation:last-child {
        margin-bottom:10px !important;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

        .content {
          -webkit-border-bottom-right-radius: 5px;
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
      /* Changes background color of odd questions and their answers/content */
      .accordion-navigation:nth-child(odd) {
        background-color: #ECF7FA;

        .content {
          background-color: #ECF7FA;
        }
      }
      .accordion-navigation:nth-child(even) {
        background-color:#FFF;
      }
      .accordion-navigation:nth-child(2) {
        margin-top:10px !important;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    /* FAQ Open */
    dl.accordion.active {

      background-color:#ccc;

      .faq-section{
        background-color: #68BDD5;
        border-bottom: 0px;
      }
    }
    /* Changes question text color */
    .accordion .accordion-navigation > a,
    .accordion dd > a {
      background-color: transparent;
      background: none;
      color: $accordion-background-color;
      padding: 0.4rem 1rem 0.4rem 10px;
      text-decoration: none;
    }

    /* Makes top of answer text closer to question */
    .content {
      background-color: #fff;
      color:#000;
      padding: 0 15px 15px 30px;
      border-bottom: 1px solid #ececec;

      p {
        //margin-bottom: 0px; not needed that I can see JJD
        line-height: 1.4em;
      }
    }
  }
  .view-footer {
    //margin: 0px 5px;
  }
  /* Changes footer background-color and removes box shadow */
  .faqrowfooter {
    height:40px;
    background: $accordion-background-color;
    padding: 0px 10px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 30px;
  }
}

.hideviewfaq {
  display: none;
}
.showviewfaq {
  display: block;
}
dd.accordion-navigation > a.faq-arrow-down {

  &:before{
    content:'\25BC';
    color: #41ADCA;
  }
}
.accordion .accordion-navigation > a.faq-arrow-right,
.accordion dd > a.faq-arrow-right {

  &:before{
    content:'\25BA';
    color: #41ADCA;
  }
}

.faq-expand {

  &:after {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: $montserrat;
    font-weight: normal;
    line-height: normal;
    //margin: 0px 0px 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #2BA6CB;
    border-color: #2285A2;
    color: #FFF;
    transition: background-color 300ms ease-out 0s;
    padding: 5px 10px;
    font-size: 1rem;
    height:30px;
    content: "Expand All";
    position:absolute;
    right:25px;
    top:15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: none;
  }
}
.faq-close {

  &:after {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: $montserrat;
    font-weight: normal;
    line-height: normal;
    //margin: 0px 0px 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #2BA6CB;
    border-color: #2285A2;
    color: #FFF;
    transition: background-color 300ms ease-out 0s;
    padding: 5px 10px;
    font-size: 1rem;
    height:30px;
    content: "Close All";
    position:absolute;
    right:25px;
    top:15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: none;
  }
}

// Weight Section Page

.views-form {

  .views-table {
    width: 100%;

    .handle {
      width:30px;
      height:60px;
    }

    caption {
      font-size: 20px;
      margin-bottom:10px;
    }
  }
}
