.paragraph--type--list {

  .subtitle {
    font-weight: 600;
    font-size: 1.75rem;
    color: var(--il-blue);
  }
  .list-image-wrapper {
    padding: 1.875rem 1.875rem 0 0;
  }
  .image-side-right {
    .list-image-wrapper {
      padding: 0;
      @media (min-width: 600px) {
        padding: 1.875rem 0 0 1.875rem;
      }
    }
  }
}
