.paragraph--type--vertical-tab {
  h2 {
    padding: 3rem 0 0 0;
    margin: 0;
  }
  ilw-tabs {
    background: var(--ilw-color--background);
  }
  ilw-tabs[width="auto"] {
    padding: 60px 30px 75px;
  }
}
