.paragraph--type--contact {
  margin-top: 2rem;
  ilw-columns {
    .d-flex {
      @include media-breakpoint-down(sm) {
        display: block !important;
      }
    }
  }
  ilw-content[theme='gray'] {
    .paragraph--type--contact__title {
      h2 {
        padding: 2rem 0 1.5rem;
        margin: 0;
      }
    }
  }

  .field--name-field-contact__content__image__wrapper.left {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 600px) {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  .field--name-field-contact__content__wrapper.right {
    text-align: center;
    @media (min-width: 600px) {
      text-align: right;
    }
  }

  .field--name-field-contact__content__image__wrapper.right {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 600px) {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  .field--name-field-contact__content__image__wrapper.righttxt {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 600px) {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  .field--name-field-contact__content__wrapper.left {
    text-align: center;
    @media (min-width: 600px) {
      text-align: left;
    }
  }

  .paragraph--type--contact__title {
    h2 {
      color: var(--il-orange);
      font-size: 2.1875rem;
      font-weight: 600;
      padding: 0 0.9375rem 2.5rem;
      text-align: center;
    }
  }
  .field--name-field-contact__content__title {
    color: var(--il-blue);
    font-family: var(--il-source-sans);
    font-size: 1.8125rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.1875rem;
    letter-spacing: normal;
    padding-bottom: 1.875rem;
  }

  .field--name-field-contact__content__subtitle {
    font-family: var(--il-source-sans);
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 1.8125rem;
  }

  .field--name-field-contact__content__address {
    address {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
  }
  a.ilw-button.ilw-theme-orange-1 {
    border: 2px solid var(--il-orange);/*toolkit override*/
  }

  ilw-columns[width='auto'] {
    .field--name-field-contact__content__image__wrapper {
      img {
        max-width: 250px;
        width: 100%;
        height: auto;
      }
    }
  }
}
