.paragraph--type--bb {
  .field--name-field-bb__subtitle.subtitle {
    font-size: 1.813rem;
    line-height: 2.188rem;
    font-style: normal;
    font-weight: 700;
    font-family: var(--il-font-sans);
    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
  }
  ilw-card {
    /*max-width: 400px;*/
  }
  .center {
    text-align: center;
  }
}


