.paragraph--type--list {
padding-bottom: 30px;

  .subtitle {
    font-weight: 600;
    font-size: 1.75rem;
    color: var(--il-blue);
  }
  .list-image-wrapper {
    padding: 30px 20px 0 0;
      @media (max-width: 600px) {
        padding: 20px 0 0 0;
      }
  }
  .image-side-right {
    .list-image-wrapper {
      padding: 30px 20px 0 20px;
        @media (max-width: 600px) {
          padding: 20px 0 0 0;
        }
    }
  }

  ilw-columns[theme="white"] {
    padding: 0 20px;
      @media (max-width: 600px) {
        padding: 0;
      }
}

  ilw-columns[theme="gray"] {
    .list-image-wrapper {
      padding: 30px 20px 0 20px;
      @media (max-width: 600px) {
        padding: 30px 20px 0 0;
      }
    }
    .list-body-wrapper{
    padding: 30px 20px 20px 20px;
      @media (max-width: 600px) {
        padding: 0;
      }
    }
    .image-side-right {
      .list-image-wrapper {
        padding: 30px 20px 0 20px;
        @media (max-width: 600px) {
          padding: 30px 20px 0 0;
        }
      }
    }
  }

  ilw-columns[width="auto"] {
    .list-image-wrapper {
      padding: 30px 20px 0 0;
      @media (max-width: 600px) {
        padding: 30px 20px 0 0;
      }
    }
    .list-body-wrapper {
    padding: 30px 0 20px 0;
    }
  }
}

  ilw-columns[width="auto"].image-side-right {
    .list-image-wrapper {
      padding: 30px 0 0 20px;
       @media (max-width: 600px) {
        padding: 30px 20px 0 0;
      }
    }
}


