/* article.news */

article.news {

  /*adjustments to main content width*/
  .field--name-body,
  .field--name-field-if-story-source,
  .field--name-field-tags,
  .field--name-field-paragraph {
    max-width: 900px !important;
    margin: 0 auto;
  }

  .field--name-field-if-subtitle {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.875rem;
    color: var(--il-orange);
  }
  .field--name-field-if-author {
    padding: 1rem 0;
    color: var(--il-blue);
    font-weight: 600;
    float: left;
      &:after{
        content: "";
        display: inline-block;
        width: 2px;
        height: 35px;
        background-color: var(--il-orange);
        margin: -10px 1rem;
      }
  }
  .field--name-field-if-date {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 1rem 0;
    line-height: 1.75rem;
    color: var(--il-blue);
    font-weight: 600;
    margin: 0 0 1.875rem 0;
  }
  .field--name-field-if-meda-featured-image {
    float: none;
    padding: 1.875rem 1.5rem 0;
    max-width: 600px;
    margin: 0 auto;
    .field__item {
      display: flex;
      img {
        margin: 0 auto;
      }
    }
  }
  .field--name-body {
    padding: 1.875rem 0 !important;
    h2 {
      color: var(--il-orange) !important;
    }
  }
  .field--name-field-if-story-source {
    font-weight: 600;
    font-style: oblique;
    color: var(--il-blue);
    padding: 1.125rem 0;
    display: flex;
    gap: 1rem;
    .field__label{
      &:after{
        content: ":";
      }
    }
  }
  .field--name-field-tags {
    font-style: oblique;
    font-weight: 600;
    color: var(--il-blue);
    border-top: 1px solid #d8d8d8;
    padding: 1.125rem 0;
    display: flex;
    gap: 1rem;
    .field__label{
      &:after{
        content: ":";
      }
    }
    .field__items {
      display: flex;
      gap: 1rem;
    }
  }
  .paragraph {
    .fixed-width {
      padding: 0;
    }
  }
}

/* hides featured image if featured_image_toggle field is true */
article.news.hide-image {
  .field--name-field-if-meda-featured-image {
    display: none;
  }
}

/* news archive page and news archive block */
.news-page .news-title {
  font-weight: 600;
}
.news-page .item-list ul {
  list-style: none;
}
.news-page .item-list li {
  padding: 1.875rem 0;
  border-bottom: 2px solid #d8d8d8;
  margin: 0;
  list-style: none;
  overflow: auto;
}
.news-page .views-field-body {
  padding-left: 7.8125rem;
}
.news-page .views-field-field-if-meda-featured-image {
  float: left;
}


/*news blocks more news*/
.news-block {
  margin: 0 auto;
  max-width: 900px;
  .item-list {
    width: auto;
    ul {

      li {
        padding: 1.0rem 0;
        border-bottom: 1px solid #C6C7C7;
        margin: 0;
        list-style: none;
        &:before {
          content: "\25A0";
          padding-right: 1rem;
          float: left;
          color: #C6C7C7;
        }
      }
      li:last-child {
        border-bottom: none;
      }
    }
    .title {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 400;
      a {
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    text-indent: -999em;
  }
}

/*highlighted news block*/
.highlighted-news {
  margin: 0 auto;
  max-width: 900px;
  &.fixed-width {
    padding: 0;
  }
  .item-list {
    width: auto;
    ul {
      list-style: none;
      li {
        padding: 1.875rem 0;
        border-bottom: 2px solid var(--il-cloud-3);
        margin: 0;
        list-style: none !important;
        overflow: auto;
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }

  a{
    &.readmore{
      text-decoration: none;
      &:after {
        content: "\f054";
        display: inline-block;
        font-family: FontAwesome;
        vertical-align: bottom;
        padding: 0 0.25rem;
        font-size: 0.75rem;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
      &:hover:after {
        text-decoration: none !important;
      }
    }
  }

  ul {
    li {
      clear: both;
    }
  }
  .highlighted-news-wrapper {
    display: flex;
    @include media-breakpoint-down(sm) {
      display: block;
    }
    .highlighted-news-content {
      max-width: 850px;
      padding-right: 50px;

      @include media-breakpoint-down(sm) {
        min-height: auto;
       padding-right: 0;
      }

      .title h2 {
        color: var(--il-orange);
        font-size: rem(26px);
        line-height: rem(32px);
        margin-top: 0;
        a {
          color: var(--il-orange);
          text-decoration: none;
          &:hover,
          &:focus {
            color: var(--il-altgeld);
            text-decoration: underline;
          }
        }
      }
      .button {
        margin: auto 0 0 0;
        padding-left: 0;
      }
    }
  }

}

/*Styles for the news teaser template.*/
.news-list-item {
  .media--view-mode-news-teaser {
    padding-right: calc(var(--il-content-margin) * 1.5);
    float: left;
  }

  .field--name-field-if-date {
    float: left;
    font-style: italic;
  }

  .field--name-field-if-date::after {
    content: "-";
    display: table;
    float: right;
    padding: 0 0.2em;
  }
}

/* news cards */
.hvrbox-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 3%;
  flex-basis: 100%;
  @media (min-width: 768px) {
    gap: 2.25rem 3%;
  }
    &.hvrbox-col-2 {
      > div {
        @media (min-width: 600px) {
          flex-basis: 48%;
        }
      }
      header {
        flex: 0 0 100%;
        margin-bottom: -2.25rem; /*overrides flex gap to remove excess space between header and news cards*/
      }
      footer {
        flex: 0 0 100%;
        p{
          text-align: center;
          margin-bottom: 2.25rem;
        }
      }
      .hvrbox {
        .hvrbox-title {
          font-size: 1.25rem;
          line-height: 1.6875rem;
          font-weight: 700;
          @media (min-width: 992px) {
            font-size: 1.8125rem;
            line-height: 2.1875rem;
          }
        }
          .hvrbox-body {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 6; /* number of lines to show */
                  line-clamp: 6;
          -webkit-box-orient: vertical;
          .field--name-body {
            padding: 0;
          }
        }
      }

    }
    &.hvrbox-col-3 {
      > div {
        flex-basis: 100%;
        @media (min-width: 768px) {
          flex-basis: 48%;
        }
          @media (min-width: 600px) {
            flex-basis: 31%;
          }
      }
      header {
        flex: 0 0 100%;
        margin-bottom: -2.25rem; //overrides flex gap to remove excess space between header and news cards
      }
      footer {
        flex: 0 0 100%;
        p{
          text-align: center;
          margin-bottom: 2.25rem;
        }
      }
      .hvrbox {
        .hvrbox-title {
          font-size: 1.25rem;
          line-height: 1.6875rem;
          font-weight: 700;
        }
        .hvrbox-body {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
                  line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        .hvrbox-layer_slideup {
          -moz-transform: translateY(50%);
          -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
          transform: translateY(50%);
        }
      }
    }
    .hvrbox {
      position: relative;
      overflow: hidden;
      height: auto;
      border: 1px solid #707070;
      .field--name-field-if-meda-featured-image {
        padding: 0;
        float:  none;
      }
        img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
        .hvrbox-title {
          color: #13294B;
          margin-bottom: 1.25rem;
          &:after {
            content: '\f101';
            font-family: FontAwesome;
            vertical-align: bottom;
            padding: 0 0.5rem;
            position: absolute;
          }
        }
        .hvrbox-body{
          opacity: 0;
          font-size: 1.25rem;
          line-height: 1.6875rem;
          font-weight: 500;
          -moz-transition: all 0.4s ease-in-out 0s;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -ms-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s;
          .field--name-body {
            padding: 0 !important;
          }
        }
        .hvrbox-layer_bottom {
          display: block;
        }
        .hvrbox-layer_top {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.8);
          padding: 10px 15px 0px 15px;
          -moz-transition: all 0.4s ease-in-out 0s;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -ms-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s;
            > a {
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 1001;
              text-decoration: none;
            }
        }
        .hvrbox-layer_slideup {
          -moz-transform: translateY(65%);
          -webkit-transform: translateY(65%);
          -ms-transform: translateY(65%);
          transform: translateY(65%);
        }
        &:hover,
        &.active {
          .hvrbox-layer_slideup {
          -moz-transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          background: rgba(255, 255, 255, 1);
        }
        .hvrbox-body {
          opacity: 1;
        }
        .hvrbox-title {
          color: var(--il-orange);
          transition: all 0.4s;
        }
        }
    }
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.related-news.embedded-block .news-sub-title {
  font-size: 1rem;
  line-height: 1.5rem;
}
