.block-page-title-block {
  @extend %fixed-width;

  @media screen and (min-width: 992px) {
    padding-left: 50px !important;
  }
}
.il-content {
  .block-page-title-block {
    margin: 0;
    padding: 0 !important;
    z-index: 0;

    h1 {
      margin: 0 0 1.25rem;
    }
  }
}
