#block-illinois-framework-theme-content {

  article.profile {
    @extend %fixed-width;
  }
  article {
    .field--name--body {
      @extend %fixed-width;

      p {
        max-width: 900px;
      }
    }
  }
}
