.region-content {

  ul.navbar-nav {
    flex-direction: column;
    z-index: 1;

    li.dropdown {

      .dropdown-menu {
        position: relative;
      }
    }
  }
}

.il-formatted {
  il-section-nav {
    h3 {
      padding: 10px 20px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
