.block-system-breadcrumb-block {
  @extend %fixed-width;
  padding-top: rem(28px) !important;

  @media (min-width: 992px) {
    padding-left: rem(50px) !important;
  }

  ol.breadcrumb {
    display: inline;
    line-height: 1;

    li.breadcrumb-item {
      height: rem(20px);
    }
    li.breadcrumb-item + .breadcrumb-item::before {
      content: '>';
    }
  }
}
.il-content {
  .block-system-breadcrumb-block {
    padding: 0 0 10px 0 !important;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
