/*
  TODO: add external link icons to items that cause a user to leave the site
 */

/* mainnav toggler button */
@media all {
  body {

    .mainnav-toggler {
      flex: 1;
    }
  }
}

/* navbar */
@media all {
  /* main nav bar */
  .main-navigation {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0;
  }

  body header .navbar {
    background-color: var(--il-cloud-1);

    /*//display: flex;*/
    max-width: 1200px;
    @include media-breakpoint-down(md) {
     margin: 0;
    }
    font-family:  var(--il-source-sans);
    font-size: 0.8rem;
    font-weight: 700;
    z-index: 99;

    ul {
      font-size: 1rem;



      /* last three links open to the left so the menu doesn't overflow outside of
       the container - uncomment the rules below */

      //li.menu-item--level-1:nth-last-child(-n+3) {
      //
      //  &.show {
      //
      //    .dropdown-menu {
      //      left: unset;
      //      right: 0;
      //    }
      //  }
      //}
    }

    .nav-item {
      padding: 0.5rem;

      &.mega {
        /*position: static;  removed static to make standard relative dropdown */
      }

      &.simple:last-child .dropdown-menu {
        left: auto;
        right: 0px;
      }

      > a.nav-link {
        font-weight: 700;
        padding: 0 0.5rem;
        line-height: 40px;

        &:hover {
          color: var(--il-orange);
          text-decoration: underline;
        }
        &:focus {
          color: var(--il-orange);
          text-decoration: underline;
          outline: 1px solid var(--il-orange);
        }
        &:after {
          text-decoration: none;
        }
      }
    }

    section .nav-item {
      height: unset;

      &.active a.nav-link:not([href*='#']),
      a.active-link {
        color: var(--il-orange);
        text-decoration: underline;
        text-decoration-color: var(--il-orange);
      }

      > a.nav-link {
        font-weight: 400;
        text-align: left;
        font-size: 0.9rem;
        flex-grow: unset;
        line-height: 1.2;
        padding: 0.5rem;
        margin: 0;
        width: 100%;

        &:hover {
          color: var(--il-orange);
          text-decoration: underline;
        }
        &:focus {
          outline: 1px solid var(--il-orange);
        }
      }

      &:first-child > a.nav-link {
        //font-weight: 700;
      }

      > a.nav-link:hover {
        color: var(--il-orange);
      }

      h3 {
        font-style: inherit;
        font-weight: 400;
        font-variation-settings: "wght" 700;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: var(--il-blue);
        font-size: 18px;
        line-height: 31px;
        width: 100%;

        a {
          padding: 5px 15px;
          &:hover,
          &:focus {
            color: var(--il-orange);
            text-decoration: underline;
            outline: 1px solid var(--il-orange);
          }
        }
      }
    }

    .dropdown {
      > a.nav-link {
        padding: 0 1.5rem 0 0.5rem;
      }
      > a.nav-link::after {
        border: none;
        font-family: 'FontAwesome';
        content: '\f078';
        font-size: 12px;
        font-weight: lighter;
        color: var(--il-orange);
        margin-left: 5px;
        position: absolute;
      }

      &.show {
        > a {
          &.nav-link::after {
            content: '\f077';
          }

          color: var(--il-orange);
        }

        background-color: #ffffff;
      }
    }

    .dropdown-menu {
      background-color: white;
      display: none;
      position: absolute;
      min-width: 250px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 25px;
      border-radius: 0;
      border: none;
      font-size: 0.8rem;
      max-width: 300px;
      top: 56px;
      white-space: wrap;
      z-index: 999;
    }

    .dropdown {
      &.twocol {
        columns: initial;

        .menu > ul {
          columns: 2;
        }
      }

      &.threecol {
        columns: initial;

        .menu > ul {
          columns: 3;
        }
      }

      &.twocol .menu > ul > li, &.threecol .menu > ul > li {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
      }
    }

    .nav-item.simple .dropdown-menu {
      max-height: 50vh;
      overflow: auto;
      width: 300px;

      .menu {}
    }

    .dropdown-menu.show {
      display: flex;
      display: flow-root;
    }

    .dropdown {
      //&:nth-last-child(2) .dropdown-menu.show, &:nth-last-child(1) .dropdown-menu.show {
      //  left: unset;
      //  right: 0;
      //}

      &.show ul.dropdown-menu {
        display: flow-root !important;

        li {
          padding-left: 0;

          a {
            text-align: left;

            &:hover {
              color: var(--il-orange);
            }
          }
        }
      }
    }

    .dropdown-menu {
      &.tile-list .tile {
        &.w110 {
          order: 2;
        }

        &:not(.w110):not(.menu) {
          margin-bottom: 1.2rem;
        }
      }

      section:not(.w110) + .menu {
        padding-left: 40px;
      }

      .menu {
        h2 {
          margin: 0 0 0.5rem 0;
        }

        a {
          color: #13294b;

          &:hover {
            color: var(--il-orange);
          }
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
        }

        li {
          margin-top: 0.25rem;
          line-height: 1.5;
          position: relative;
        }

        ul ul {
          li {
            padding-left: 20px;
            padding-right: 10px;

            &:before {
              position: absolute;
              left: 8px;
              color: #e0e0e0;
              content: '\f111';
              font-family: 'FontAwesome';
              font-size: 5px;
              font-weight: 900;
              padding-top: 7px;
            }
          }

          ul {
            display: none;
          }
        }
      }
    }
  }
}

/* childnav */
@media all {
  body {
    &.home.landing #childnav {
      display: none;
    }

    #childnav {
      background-color: #121b21;
      color: #ffffff;
      background-image: linear-gradient(to right, rgba(19, 41, 75, 0.8), rgba(18, 27, 33, 0.8));

      a {
        color: #ffffff;
      }

      ul {
        columns: 4;
        margin: 0;
        padding: 3rem 15px 3rem 15px;
        list-style-type: none;
        width: 100%;

        li {
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;
          line-height: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }

  #childnav ul li a {
    position: relative;
  }

  body #childnav li {
    display: flex;
    flex-wrap: nowrap;

    .bullet {
      margin-right: 8px;
      flex-grow: 0;
      font-size: 5px;
      color: var(--il-orange);
    }

    .item {
      display: block;
      flex-grow: 1;
      padding-right: 15px;
    }
  }
}

@media screen and (max-width: 1200px) {
  body header .navbar ul {
    font-size: 0.8rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0.8rem 0.5rem;
  }

  body header .navbar {
    section .nav-item > a.nav-link {
      font-size: 0.8rem;
    }

    li.menu-item--level-2 div.dropdown-menu {
      position: absolute;
      display: block;
      top: 0;
      left: 191px;
      box-shadow: none;
      border-left: 1px solid black;
    }
  }
}

@include media-breakpoint-down(md)  {
  body.mobile.simple {
    #mainnav-toggler-container {
      width: auto;

      button {
        display: block;
      }
    }

    header {
      .navbar-collapse {
        display: none;

        &.show {
          display: block;
        }
      }

      span.sr-only {
        display: none;
      }

      .navbar .nav-item.mega {
        /*position: static;  removed static to make standard relative dropdown */
        width: 100%;
      }
    }

    &.mobile header .navbar {
      //margin-top: 36px;
      margin-top: 0;
      //margin: 0 -15px 0 -15px;
    }
    &.mobile.navopen header .navbar {
      margin-top: 36px;
    }

    header .navbar {

      ul {
        display: block;
        padding: 0;
      }

      .dropdown-menu.tile-list {
        max-width: none;
        width: 100%;
      }

      .nav-item {
        display: block;
        height: auto;
      }
    }

    body.landing #hero .row {
      padding-top: 80px;
    }

    .mainnav-toggler {
      flex-grow: 1;
    }

    #mainnav-toggler-container {
      display: flex;
      flex-grow: 1;
      align-items: flex-end;
      flex-direction: column;
    }

    header .navbar {
      .dropdown-menu {
        position: relative;
        box-shadow: initial;
        z-index: 2;
        top: 1px;
        margin: 0;
      }

      li.nav-item {
        border-top: 1px solid #e0e0e0;
        padding: 1px 0;
      }

      .nav-item > a {
        &.nav-link {
          display: block;
          padding: 0;
          text-align: left;
          width: 100%;
        }

        &::before {
          content: '';
          padding-left: 15px;
        }
      }

      .dropdown-menu {
        &.tile-list .tile:not(.menu) {
          display: none;
        }

        border-top: 1px solid #e0e0e0;

        &.show {
          li.nav-item {
            border: none;
          }

          .nav-item > a.nav-link {
            padding: 10px 0px;
          }
        }

        section:not(.w110) + .menu {
          padding-left: 20px;
        }
      }

      .nav-item.simple .dropdown-menu {
        width: 100%;
      }

      .dropdown-menu .menu {
        margin: 0;
        padding: 10px 0;
      }
    }

    &.mobile {
      #header-search-container {
        display: none;
      }

      &.navopen {
        #header-search-container {
          position: absolute;
          min-height: 30px;
          width: 36px;
          right: 14px;
          bottom: -50px;
          display: block;
          visibility: visible;

          i.fa-search {
            right: 8px;
          }
        }

        #search-form--header {
          input.form-control {
            display: block !important;
            visibility: visible !important;
          }
        }
      }
    }
  }



  /* search */
}

@media screen and (max-width: 575px) {
  body {
    header {
      .site .parent_name {
        display: none;
      }

      .site_name {
        font-size: 20px;
      }

      .navbar {
        .dropdown-menu {
          padding: 0;
        }

        .dropdown {
          &.twocol .menu > ul, &.threecol .menu > ul {
            columns: 1;
          }
        }

        .dropdown-menu .menu {
          ul ul li:before {
            padding-top: 17px;
          }

          li {
            margin: 0;
            border-top: 1px solid var(--il-cloud-1);
          }
        }

        .nav-item > a::before {
          content: '';
          padding-left: 5px;
        }

        .dropdown-menu .menu a {
          display: block;
          padding: 10px 5px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    #childnav ul {
      padding: 1.5rem 15px;
      columns: 1;
    }
  }
}
/* tiles */
@media all {
  .tile-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.2rem;

    .tile {
      position: relative;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      &.w25 {
        flex: 0 0 calc(25% - 1.2rem);
        max-width: calc(25% - 1.2rem);
        min-width: calc(25% - 1.2rem);
      }

      &.w33 {
        flex: 0 0 calc(33.33333333333% - 1.2rem);
        max-width: calc(33.33333333333% - 1.2rem);
        min-width: calc(33.33333333333% - 1.2rem);
      }

      &.w50 {
        flex: 0 0 calc(50% - 1.2rem);
        max-width: calc(50% - 1.2rem);
        min-width: calc(50% - 1.2rem);
      }

      &.w66 {
        flex: 0 0 calc(66.66666666666% - 1.2rem);
        max-width: calc(66.66666666666% - 1.2rem);
        min-width: calc(66.66666666666% - 1.2rem);
      }

      &.w100 {
        flex: 0 0 calc(100% - 1.2rem);
        max-width: calc(100% - 1.2rem);
        min-width: calc(100% - 1.2rem);
      }

      &.w110 {
        margin-left: -15px;
        margin-right: -15px;
        flex: 0 0 calc(100% + 30px);
        max-width: calc(100% + 30px);
        min-width: calc(100% + 30px);

        + .tile.w110 {
          margin-top: 0rem;
        }
      }
    }
  }

  /* tile */

  #content .tile-list .tile.w110 {
    &:first-child {
      margin-top: 0 !important;
      padding-top: 3rem !important;
    }

    &:last-child {
      margin-bottom: -1.2rem;
    }
  }

  .tile-list .tile {
    &.w110 + .tile.w110 {
      margin-top: 0;
    }

    &.sbs {
      flex: 0 0 calc(100% - 1.2rem);
      max-width: calc(100% - 1.2rem);
      min-width: calc(100% - 1.2rem);
      display: flex;
      flex-wrap: nowrap;
      margin-left: 0;
      margin-right: 0;

      > div {
        flex: 0 0 calc(50% - 0.6rem);
        max-width: calc(50% - 0.6rem);
        min-width: calc(50% - 0.6rem);
        margin-left: 0.6rem;
        margin-right: 0.6rem;
        order: 1;

        &.first {
          order: 0;
        }
      }
    }

    &.chevron {
      clip-path: polygon(0% -1px, 100% -1px, 100% 80%, 50% 100%, 0% 80%);
      -webkit-clip-path: polygon(0% -1px, 100% -1px, 100% 80%, 50% 100%, 0% 80%);
    }

    .upper-cover {
      width: 100%;
      height: 400px;
      margin: 0rem;
      background-size: cover;
      background-position: top center;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .upper {
      width: 100%;
      height: 300px;
      margin: 0rem;
      background-size: cover;
      background-position: center center;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &.sbs .upper {
      height: auto;
      min-height: 500px;
    }

    .lower {
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      background-size: cover;
      background-position: center center;
      z-index: 2;

      &:first-child, .row {
        height: 100%;
      }
    }

    &.w110:first-child .lower {
      padding-top: 0rem;
    }

    .lower.maxheight600 {
      max-height: 600px;
      overflow: auto;
    }

    .column1, .column2, .column3 {
      position: relative;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  /* upper */

  /* lower */

  /* columns */

  .inner {
    max-width: 509px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .tile-list .tile.marketing {
    border-right: 1px solid #ff552e;
    padding: 20px 20px;
    margin: 1.2rem 0;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #13294b;

    * {
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      font-size: 1.2rem;
    }

    .button {
      font-size: 1rem;
      transition: background-color ease-in-out 0.25s;
    }
  }
}

/* flex */
@media all {
  .flex {
    display: flex !important;
    flex-wrap: wrap;

    > * {
      flex-basis: 100%;
      order: 1;
    }

    .first {
      order: 0;
      font-size: .9em;
      margin-bottom: 0.8rem;

      span {
        &.span-left {
          float: left;
        }

        &.span-right {
          float: right;
        }
      }
    }
  }
}

body.simple {
  header {
    .navbar {

      .dropdown-menu {

        .menu  {
          li:first-child {
            a {
              font-size: 1rem;
              font-weight: 700;
            }
          }
          li.menu-item--level-2 {
            padding: 0;
          }
        }
      }
    }
  }
}
