.content {
  .field--name-body {
    padding: 0 25px 75px 50px !important;

    .field__item {
      padding: 0 !important;
    }
  }
}
.il-content {
  .field--name-body {
    padding-bottom: 30px;

    .field__item {
      margin: 0.25rem 0;
      padding: 0 !important;
    }
  }
}

