.field--name-field-tags {
  margin: 0 auto;
  max-width: var(--il-framework--fixed-width);
  padding: 25px 0px 75px 0px;
  font-style: oblique;
  font-weight: 600;
  color: var(--il-blue);
  display: flex;
  gap: 1rem;

  .field__label{
    flex: 0 0 13%;
    &:after{
      content: ":";
    }
  }

  .field__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
