.node--type-content-page {
  .field {
    &--name-body {
      margin: 0 auto;
      max-width: var(--il-framework--max-width);
      padding: 0 rem(30px);
    }
  }
}
article.content-page {
  .field--name-body {
    padding: 0 var(--ilw-margin--side, 0);
  }
}
article.content-page.teaser {
  .field--name-body {
    padding: 0 !important;
  }
}
