/* article.news */

article.news {
  padding-bottom: rem(50px);

  .field {
    &--name-body {
      padding: 0 !important;
      h2 {
        color: var(--il-orange) !important;
      }
    }
  }

  .subtitle {
    font-weight: 600;
    font-size: rem(32px);
    line-height: rem(40px);
    margin-bottom: 1.875rem;
    color: var(--il-orange);
  }

  .byline {
    display: flex;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 1rem 0;
    color: var(--il-blue);
    font-weight: 600;
    margin: 0 0 1.875rem 0;
  }

  .byline-vr {
    display: block;
    width: 2px;
    background-color: var(--il-orange);
    margin: 0 1rem;
  }

  .source {
    font-weight: 600;
    font-style: oblique;
    color: var(--il-blue);
    padding: 1.125rem 0;
  }

  .tag-wrapper {
    display: flex;
    font-size: 20px;
    font-style: oblique;
    font-weight: 600;
    color: var(--il-blue);
    border-top: 1px solid #d8d8d8;
    padding: 1.125rem 0;
  }

  .field--name-field-if-meda-featured-image {
    float: right;
    padding: 0 1.5rem;
    max-width: 45%;
  }

  .field--name-field-tags {
    display: flex;
  }

  .tags .field__item {
    padding: 0 0.25rem;
  }

  .tags .field__item:after {
    content: "/";
    padding-left: 0.5rem;
    color: var(--il-orange);
  }

  .tags .field__item:last-child:after {
    content: "";
  }
}

/* news archive page and news archive block */
.news-page {
  form {
    max-width: 900px;
  .form--inline {
    display: flex;
    justify-content: space-between;
    background-color: var(--il-gray-1);
    padding: 1rem 1rem .8rem;
    border-top: 1px solid var(--il-cloud-3);
    border-bottom: 1px solid var(--il-cloud-3);

    .form-item {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;

      label {
        flex: 1 0 auto;
        padding: 0.5rem;
        font-weight: 600;
        color: var(--il-blue);
      }
    }

    #edit-actions {
      margin: -3px 0 0;

      .btn {
        line-height: 1;
      }
      .btn-primary {
        background-color: white;
        &:hover,
        &:focus{
          background-color: var(--il-blue);
        }
      }
    }
   }
  }
  .form-control {
    height: 40px;
  }

  .item-list {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;

    ul {
      list-style: none;

      li {
        padding: 1.875rem 0;
        border-bottom: 2px solid #d8d8d8;
        margin: 0;
        list-style: none !important;
      }
    }
  }

  .news-title {
    font-weight: 600;
  }

  img {
    float: left;
  }

  .views-field-body {
    padding-left: rem(125px);
  }
}

/*news blocks more news*/
.news-block {
  max-width: var(--il-framework--fixed-width);
  margin: 0 auto;
  max-width: 900px;
  .item-list {
    width: auto;
    ul {

      li {
        padding: 1.0rem 0;
        border-bottom: 1px solid var(--il-cloud-3);
        margin: 0;
        list-style: none;
        &:before {
          content: "\25A0";
          color: var(--il-cloud-3);
          padding-right: 1rem;
          float: left;
        }
      }
      li:last-child {
        border-bottom: none;
      }
    }
    .title {
      font-size: rem(20px);
      line-height: rem(28px);
      font-weight: 400;
      a {
        text-decoration: none;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    text-indent: -999em;
  }
}

/*highlighted news block*/
.highlighted-news {
  max-width: var(--il-framework--fixed-width);
  margin: 0 auto;
  max-width: 900px;
  .item-list {
    width: auto;
    ul {
      list-style: none;
      li {
        padding: 1.875rem 0;
        border-bottom: 2px solid var(--il-cloud-3);
        margin: 0;
        list-style: none !important;
        overflow: auto;
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }

  a{
    &.readmore{
      text-decoration: none;
      &:after {
        content: "\f054";
        display: inline-block;
        font-family: FontAwesome;
        vertical-align: bottom;
        padding: 0 0.25rem;
        font-size: 0.75rem;
        text-decoration: none;
      }
      &:hover {
        text-decoration: underline;
      }
      &:hover:after {
        text-decoration: none !important;
      }
    }
  }

  ul {
    li {
      clear: both;
    }
  }
  .highlighted-news-wrapper {
    display: flex;
    @include media-breakpoint-down(sm) {
      display: block;
    }
    .highlighted-news-content {
      max-width: 850px;
      padding-right: 50px;

      @include media-breakpoint-down(sm) {
        min-height: auto;
       padding-right: 0;
      }

      .title h2 {
        color: var(--il-orange);
        font-size: rem(26px);
        line-height: rem(32px);
        margin-top: 0;
        a {
          color: var(--il-orange);
          text-decoration: none;
          &:hover,
          &:focus {
            color: var(--il-altgeld);
            text-decoration: underline;
          }
        }
      }
      .button {
        margin: auto 0 0 0;
        padding-left: 0;
      }
    }
  }

}

/*Styles for the news teaser template.*/
.news-list-item {
  .media--view-mode-news-teaser {
    padding-right: calc(var(--il-content-margin) * 1.5);
    float: left;
  }

  .field--name-field-if-date {
    float: left;
    font-style: italic;
  }

  .field--name-field-if-date::after {
    content: "-";
    display: table;
    float: right;
    padding: 0 0.2em;
  }
}

/* news cards */
.hvrbox-card {
  display: flex;
  flex-wrap: wrap;
  gap: 2.25rem 3%;
  @include media-breakpoint-down(md) {
    gap: 2rem 3%;
    }
    &.hvrbox-col-2 {
      > div {
        flex-basis: 48%;
        @include media-breakpoint-down(sm) {
          flex-basis: 100%;
          }
      }
      .hvrbox {
        .hvrbox-title {
          font-size: rem(29px);
          line-height: rem(35px);
          font-weight: 700;
          @include media-breakpoint-down(lg) {
            font-size: rem(20px);
            line-height: rem(27px);
            }
        }
      }

    }
    &.hvrbox-col-3 {
      > div {
        flex-basis: 31%;
        @include media-breakpoint-down(md) {
          flex-basis: 48%;
          }
          @include media-breakpoint-down(sm) {
            flex-basis: 100%;
            }
      }
      .hvrbox {
        .hvrbox-title {
          font-size: rem(20px);
          line-height: rem(27px);
          font-weight: 700;
        }
        .hvrbox-body {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
                  line-clamp: 3;
          -webkit-box-orient: vertical;
          .field--name-body {
            padding: 0;
          }
        }
        .hvrbox-layer_slideup {
          -moz-transform: translateY(50%);
          -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
          transform: translateY(50%);
        }
      }
    }
    .hvrbox {
      position: relative;
      overflow: hidden;
      height: auto;
      border: 1px solid #707070;
        img {
          max-width: 100%;
          width: 100%;
          height: auto;
        }
        .hvrbox-title {
          color: #13294B;
          margin-bottom: 1.25rem;
          &:after {
            content: '\f101';
            font-family: FontAwesome;
            vertical-align: bottom;
            padding: 0 0.5rem;
            position: absolute;
          }
        }
        .hvrbox-body{
          opacity: 0;
          font-size: rem(20px);
          line-height: rem(27px);
          font-weight: 500;
          -moz-transition: all 0.4s ease-in-out 0s;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -ms-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s;
        }
        .hvrbox-layer_bottom {
          display: block;
        }
        .hvrbox-layer_top {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.8);
          padding: 10px 15px 0px 15px;
          -moz-transition: all 0.4s ease-in-out 0s;
          -webkit-transition: all 0.4s ease-in-out 0s;
          -ms-transition: all 0.4s ease-in-out 0s;
          transition: all 0.4s ease-in-out 0s;
            > a {
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              z-index: 1001;
              text-decoration: none;
            }
        }
        .hvrbox-layer_slideup {
          -moz-transform: translateY(65%);
          -webkit-transform: translateY(65%);
          -ms-transform: translateY(65%);
          transform: translateY(65%);
        }
        &:hover,
        &.active {
          .hvrbox-layer_slideup {
          -moz-transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          background: rgba(255, 255, 255, 1);
        }
        .hvrbox-body {
          opacity: 1;
        }
        .hvrbox-title{
          color: var(--il-orange);
          transition: all 0.4s;
        }
        }
    }
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.related-news.embedded-block .news-sub-title {
  font-size: 1rem;
  line-height: 1.5rem;
}
