article.news {
  padding-bottom: rem(50px);
  .field {
    &--name-body {
      padding: 0 !important;
    }
  }
  .subtitle {
    font-weight: 600;
    font-size: rem(32px);
    line-height: rem(40px);
    margin-bottom: 1.875rem;
    color: var(--il-orange);
  }
  .byline {
    display: flex;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 1rem 0;
    margin: 1rem 0;
    color: var(--il-blue);
    font-weight: 600;
    margin: 1.875rem 0;
  }
  .byline-vr {
    display: block;
    width: 2px;
    background-color: var(--il-orange);
    margin: 0 1rem;
  }
  .source {
    font-weight: 600;
    font-style: oblique;
    color: var(--il-blue);
    padding: 1.125rem 0;
  }

  .tag-wrapper {
    display: flex;
    font-size: 20px;
    font-style: oblique;
    font-weight: 600;
    color: var(--il-blue);
    border-top: 1px solid #d8d8d8;
    padding: 1.125rem 0;
  }

  .field--name-field-tags{
    display: flex;
  }

  .tags .field__item{
    padding: 0 .25rem;
  }
  .tags .field__item:after {
    content: "/";
    padding-left: 0.5rem;
    color: var(--il-orange);
  }
  .tags .field__item:last-child:after{
    content: "";
  }
}

/* news page */
.news-page {
  .form--inline {
    display: flex;
    justify-content: space-between;
    background-color: var(--il-cloud-1);
    padding: 0 1rem;
    .form-item {
      display: flex;
      margin-top: 0.75rem;
      margin-bottom: 0;
      label {
        flex: 1 0 auto;
        padding: 0.75rem;
        font-weight: 600;
        color: var(--il-blue);
      }
    }
    #edit-actions{
      margin: 0.75rem 0;
      .btn {
        line-height: 1;
      }
    }

  }
  .item-list{
    margin: 0 auto;
    ul {
      list-style: none;
      li {
        padding: 1.875rem 0;
        border-bottom: 2px solid #d8d8d8;
        margin: 0;
        list-style: none !important;
      }
    }
  }
  .news-title {
    font-weight: 600;
  }

  img {
    float: left;
  }
  .views-field-body {
    padding-left: rem(125px);
  }
}

/*news block*/
div#block-views-block-news-block-1 {
  background-color: var(--il-gray-1);
}
.news-block {
  max-width: 900px !important;
    .item-list {
      ul{
        list-style: none;
        li {
          padding: 1.875rem 0;
          border-bottom: 2px solid #d8d8d8;
          margin: 0;
          list-style: none !important;
        }
        li:last-child{
          border-bottom: none;
        }
      }
    }
  .views-field-title {
    font-weight: 600;
    font-size: rem(20px);
    line-height: rem(22px);
    color: var(--il-blue);
  }
  .views-field-view-node {
     a {
      color: var(--il-orange);
      font-weight: 600;
    }
     a:hover {
      color: var(--il-blue);
    }
  }
  .readmore:after{
    content: '\f054';
    font-family: FontAwesome;
    vertical-align: bottom;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    text-decoration: none;
    color: var(--il-orange);
  }
  .readmore:hover:after {
    color: var(--il-blue);
  }

  .hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    text-indent: -999em;
  }
}
/*highlighted news block*/
.highlighted-news{
  max-width: var(--il-framework--fixed-width) !important;
  .views-field-field-if-meda-featured-image{
    float: right;
    margin-left: 2rem;
    @include media-breakpoint-down(sm) {
      float: none;
      margin: 1rem auto;
    }
  }
  ul {
    li{
      clear: both;
    }
  }
  .highlighted-news-content {
    min-height: 300px;
    @include media-breakpoint-down(sm) {
      min-height: auto;
    }
    .title h2{
      color: var(--il-orange);
      margin-top: 0;
      a {
        color: var(--il-orange);
        text-decoration: none;
        &:hover,
        &:focus {
          color: var(--il-altgeld);
          text-decoration: underline;
        }
      }
    }
    .button {
      margin: auto 0 0 0;
    }
  }
}
