.slick-arrow::before{
    color: var(--il-altgeld);
}

.block-system.block-system-main-block{
  color: #252525;
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.max-900px-width{
    max-width:900px;
    margin: 0 auto;
}

.media--view-mode-spotlight-list{
  padding-right:1.5rem;
}

.field--name-field-if-meda-featured-image .media--view-mode-spotlight-detail{
  padding-left:1.5rem;
}

.node-feature{
  background-image: url(images/fingerprint-left.png);
  background-size: cover;
  padding: calc(var(--il-content-margin)*2) 0;
  background-color: var(--il-blue); 

.btn{
  background-color: var(--il-altgeld);
}
.feature-title a{
  color:var(--il-cloud);
  text-decoration:none;
}
.field.field--name-body p{
  color:var(--il-cloud-1);
}
.field.field--name-field-more-details{
  background-color: var(--il-altgeld);
}
.field.field--name-field-more-details a{
  color: var(--il-cloud);
  text-decoration: none;
}
.spotlight-feature-image {
  padding-left: calc(var(--il-content-margin)*1.5);
}

}
.clearfix .clearfix:after{
  clear:none;
}