//works around having the need for items after a body
//to float around an external image to that body.
//keeping it local to prevent compromising others use cases.
.node-feature,
.spotlight-list-item {
  .clearfix .clearfix:after {
    clear: none;
  }
}

.field--name-field-if-meda-featured-image .media--view-mode-spotlight-detail {
  padding-left: 1.5rem;
}

//override to handle extra padding from double applying fixed-width
#block-illinois-framework-theme-content article.fixed-width .field--name-body {
  padding: 0;
}

//used for spotlight feature display view
.node-feature {
  background-image: url(images/fingerprint-left.png);
  background-size: cover;
  padding: calc(var(--il-content-margin) * 2) 0;
  background-color: var(--il-blue);
  .feature-title a {
    color: var(--il-cloud);
    text-decoration: none;
  }
  .field.field--name-body p {
    color: var(--il-cloud-1);
  }
  .field.field--name-field-more-details {
    background-color: var(--il-altgeld);
  }
  .field.field--name-field-more-details a {
    color: var(--il-cloud);
    text-decoration: none;
  }
  .spotlight-feature-image {
    padding-left: calc(var(--il-content-margin) * 1.5);
  }
}

//used for spotlight teaser display view
.spotlight-list-item {
  ul.inline li {
    padding: 0;
  }
  .media--view-mode-spotlight-list {
    padding-right: calc(var(--il-content-margin) * 1.5);
  }
  .list-title {
    margin-top: 0;
  }
}

.views-row .spotlight-list-item {
  padding-top: var(--il-content-margin);
  padding-bottom: var(--il-content-margin);
}

.spotlight-list{
.views-row:nth-child(even){
  background-color:var(--il-cloud-1);
}
}
