.giving-test-mode-warning {
  background-color: rgb(139,0,0);
}

#gift_form {
  @extend %fixed-width;
  padding-left: 0px !important;
}

form#gift_form span.giftammt {
	border-top: 0px !important;
	padding-left: 0px;
	border-bottom: solid 1px #252525 !important;

  & .desc {
    font-size: 20px;
  }

  & .choice {
    & .radio {
      margin-right: 5px;
    }
  }
}

.node--fund-listing-page {
	&--fund-title {
		color: var(--il-orange) !important;
		text-decoration: none !important;
	}
}

#giving-total-wrapper {
	max-width: var(--il-framework--fixed-width) !important;

  & span label {
    padding-bottom: 10px;
  }
}

#giving-total-fixed {
	padding-left: 0px;
	padding-right: 0px;
}

#gift-total h3 {
	padding-top: 0.8125rem;
	padding-bottom: 0.8125rem;
}

#giving-total-fixed #submitbtn {
	background-color: var(--il-orange);
  border: 0.125rem solid white;
  font-family: var(--il-source-sans);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  min-height: 3rem;
  padding: 0.8125rem 1.875rem;
  padding-top: 0.8125rem;
  padding-right: 1.875rem;
  padding-bottom: 0.8125rem;
  padding-left: 1.875rem;
  text-decoration: none;

  &:hover {
  	background-color: white;
    border: 0.125rem solid var(--il-orange);
    color: var(--il-orange);
  }
}

#giving-total-fixed #resetbtn {
	background-color: var(--il-alma-mater-1);
  border: 0.125rem solid white;
	color: white;
  font-family: var(--il-source-sans);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  min-height: 3rem;
  padding: 0.8125rem 1.875rem;
  padding-top: 0.8125rem;
  padding-right: 1.875rem;
  padding-bottom: 0.8125rem;
  padding-left: 1.875rem;
  text-decoration: none;

  &:hover {
  	background-color: white;
    border: 0.125rem solid var(--il-blue);
    color: var(--il-blue) !important;
  }
}