.paragraph--type--hero {
  margin-top: -20px !important;

  il-hero {
    width: 100%;

    h1 {
     color: white;
    }
    ul {
      li {
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
