.paragraph {

  @include media-breakpoint-down(sm) {
    padding: rem(15px) rem(20px) !important;
  }
  .field__label {
    visibility: hidden;
  }
  .content__wrapper {
    padding: rem(75px);

    @include media-breakpoint-down(lg) {
      padding: rem(32px);
    }

    @include media-breakpoint-down(md) {
      padding: rem(30px);
    }
    @include media-breakpoint-down(sm) {
      padding: rem(30px) rem(20px);
    }
  }
}
