.paragraph--type--icon-row{
  .field--name-field-icon-row {
    &__wrapper {
      padding-top: rem(60px) ;
    }
    &__title {
      margin-top: 0;
      margin-bottom: rem(60px);
      text-align: center;
    }
    &-icon_wrapper {
      padding-bottom: rem(20px);
    }
  }

  .field--name-field-icon-row-content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: var(--il-blue);
    flex-wrap: wrap;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
      }
      .field__item {
        flex: 1 1 20%;
      }
    &__wrapper{
      padding-bottom: rem(75px);
    }
  }

  .field--name-field-icon-row-callout {
    font-size: rem(32px);
    line-height: rem(38px);
    font-weight: 600;
    color: var(--il-orange);
  }

  .field--name-field-icon-row-text {
    font-size: 20px;
    line-height: 28px;
  }

  .icon-size{
    &--sm-icon {
      .field--name-field-icon-row-icon_wrapper span {
        font-size: rem(75px);
      }
    }
    &--lg-icon {
      .field--name-field-icon-row-icon_wrapper span {
        font-size: rem(150px);
      }
    }
  }

  .background--color--illiniblue {
    .field--name-field-icon-row-icon_wrapper span {
      color: white;
    }
    .field--name-field-icon-row-text {
      color: white;
    }
    a {
      color: white;
    }
    a:hover {
      color: var(--il-orange);
    }
  }
  .background--color--gray{
    .field--name-field-icon-row-callout{
      color: var(--il-altgeld);
    }
  }
}

