.paragraph--type--rt {
  //margin: 45px auto 60px auto;
  padding-top: 45px;

  h3 {
    color: var(--il-blue) !important;
  }

  &.background--color--gray {
    .paragraph--type--rt__title h2 {
      color: var(--il-altgeld) !important;
    }
     h2 {
      color: var(--il-altgeld) !important;
    }
  }
  &.background--color--white {
    .paragraph--type--rt__title h2 {
      color: var(--il-orange) !important;
    }
    h2 {
      color: var(--il-orange);
    }
  }

  &__wrapper {
    //margin: rem(15px) rem(10px);
    padding-left: rem(25px);
  }

  &__title {
    padding-left: 0;

    h2 {
      font-size: rem(35px);
      font-weight: 600;
      line-height: rem(40px);
      padding: 0 rem(15px) rem(10px) 0;
      text-align: left;
      margin-top: 0;
    }
  }

  .field--name-field-rt {

    &__content {

      &__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: rem(36px);
        //padding: 0 0 rem(30px) 0;
      }
    }
    &__title {

      .field__item {
        color: var(--il-blue) !important;
        font-family: var(--il-source-sans);
        font-size: rem(21px);
        font-weight: 700;
        line-height: rem(33px);
        opacity: 1;
        padding: 0 rem(15px) rem(15px) 0;
        margin-top: 0;
        margin-bottom: rem(5px);
        //text-align: center;
      }
    }

    &__body {
      margin-bottom: rem(44px);

      .field__item {
        opacity: 1;
      }
    }
  }
}
.il-content {
  .background--color--gray {
    .paragraph--type--rt__wrapper {
      padding: rem(30px) !important;
    }
  }
  .background--color--white {
    .paragraph--type--rt__wrapper {
      padding: 0 !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .il-content {
    .paragraph--type--rt__wrapper {
      padding-left: 0 !important;
    }
  }
}
