@media (min-width: 992px) {
  .fixed-width {
    max-width: 900px;
    padding: 0;
  }
}

@media (max-width: 878px) {
  .faculty-explorer--category-group {
    &--animal {
      width: 100% !important;
    }

     &--discipline {
      width: 100% !important;
      margin-top: 50px !important;
     }
  }
}

.paragraph--type--faculty-explorer__wrapper {
  max-width: var(--il-content-max-width);
  margin: 0px auto;
  padding: 2rem;
}

.faculty-explorer {
  &--title {
    margin: 24px 41px 101px 35px;
    font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
    font-size: 64px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.81;
    letter-spacing: normal;
    text-align: left;
    color: #13294b;
  }

  &--header {
    margin-top: 70px;
    font-family: var(--il-source-sans);
    font-size: 32px;
    font-weight: 600;
    color: #ff552e;
  }

  &--description {
    font-family: var(--il-source-sans);
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #252525;
    margin-bottom: 20px;
  }

  &--category-container {
    display: flex;
    flex-wrap: wrap;
  }

  &--category-group {

    &--animal {
      width: 37%;
    }

    &--discipline {
      width: 63%;
    }

    &--title {
      font-size: 30px;
      color: var(--il-blue);
      font-weight: 700;
      margin-bottom: 0px;
    }
  }

  &--animal, &--discipline {
    margin-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: #707070 solid .5px;

    &--image {
      margin-left: 8px;
      margin-right: 8px;
    }

    &--title {
      font-size: 22px;
      font-weight: 400;
      color: var(--il-blue);
    }

    &--plus-minus {
      font-size: 36px;
      font-weight: 400;
      float: right;
      text-align: center;
      line-height: 44px;
      color: var(--il-orange);
      min-width: 44px;
    }

    &--body {
      padding-left: 52px;
    }
  }

  &--directory-button--container {
    margin-top: 50px;
    text-align: center;
  }

  &--result {
    &--descriptions {
      margin-top: 24px;
    }

    &--area {
      width: 100%;
      display: inline-block;
      margin-top: 34px;

      &-description {
        &--image {
          float: left;

          & img {
            max-width: 255px;
            max-height: 192px;
          }
        }
        &--text {
          width: 70%;
          float: left;
          padding-left: 33px;
          font-family: var(--il-source-sans);
          font-size: 18px;
          color: #252525;

          &--title {
              font-family: var(--il-source-sans);
              font-size: 24px;
              font-weight: bold;
              color: #13294b;
          }
        }
      }
    }

    &--faculty {
      margin-top: 60px;

      &--title {
        font-family: var(--il-source-sans);
        font-size: 24px;
        font-weight: bold;
        color: #13294b;
      }
    }
  }

  &--hide {
    display: none;
  }

}

.directorySection {
  display: flex;
  flex-wrap: wrap;

  &--person {
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 20px;

    &--photo {
      width: 160px;
      max-height: 200px;
      overflow: hidden;
    }

    &--role {
      max-width: 160px;
      margin-top: 16px;

      & .name {
        font-size: 17px;
        line-height: 1.1;
        font-weight: 1000;
      }

      & .title {
        padding-top: 10px;
        line-height: 1.1;
      }

      & .email {
        padding-top: 10px;
        line-height: 1.1;
      }
    }
  }
}


@media (max-width: 926px) {
  .faculty-explorer--result--area-description--text {
    width: 100%;
    padding-left: 0px;
    margin-top: 10px;
  }
}