.paragraph--type--content-slider {
  &__wrapper {
    padding: 0 var(--il-content-margin);
  }
  &-text__wrapper {
    text-align: center;
    h2 {
      &.title {
        text-align: center;
        padding-bottom: rem(40px);
      }
    }
    .subtitle {
      color: var(--il-alma-mater);
      font-weight: 600;
      font-size: rem(28px);
      padding-bottom: rem(40px);
    }
  }

  ils-contentslider {
    padding-bottom: 1rem;
    .field__items {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 2rem;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
        align-items: center;
      }
    }
    .field__item {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
  }

  //v2 styles for content slider (still using v2 cards) remove after updating to v3
  il-card {
    width: rem(350px);
    height: 100%;
    padding: 0 !important;
    &.il-theme-blue {
      p {
        color: white;
      }
      .il-button {
        background-color: var(--il-blue);
        border-color: white;
        color: white !important;
        &:hover {
          background-color: white;
          color: var(--il-blue) !important;
        }
      }
    }
    img {
      margin: 0 !important;
    }
    .il-card-text {
      &__wrapper {
        padding: rem(30px) rem(30px) rem(45px);
      }
    }
  }
}
