.paragraph--type--feature-grouped {
  @extend %paragraphs-padding;

  .field--name-field-feature-grouped {

    &__title {
      width: 100%;
      margin-bottom: rem(30px);
    }
    &__subtitle {
      color: var(--il-industrial-blue) !important;
      font-size: rem(26px);
      line-height: rem(32px);
      margin: rem(0px) rem(30px) rem(30px) 0;
    }
    &__buttons {
      margin-bottom: rem(20px);
    }
    &__button {
      margin-bottom: rem(10px);
      margin-right: rem(20px);
    }

    &__image {
      margin-bottom: rem(45px);
    }
  }
}
.il-content-with-section-nav {
  .paragraph--type--feature-grouped__wrapper {
    padding-left: 30px;

    @media screen and (max-width: 991px) {
      margin: 0;
      padding: unset;

      .paragraph--type--feature-grouped__wrapper {
        padding: unset;
        margin: 0;
      }
    }
  }
}
.il-content {
  .paragraph--type--feature-grouped__wrapper {
    .col-md-8,
    .col-sm-12 {
      padding-left: 0px;
    }
  }
}
