.paragraph--type--feature-grouped {

  .field--name-field-feature-grouped {

    &__title {
      width: 100%;
      margin-bottom: rem(30px);
    }
    &__content {
      padding-left: 0;
    }
    &__subtitle {
      color: var(--il-industrial-blue) !important;
      font-size: rem(26px);
      line-height: rem(32px);
      margin: rem(0px) rem(30px) rem(30px) 0;
    }
    &__buttons {
      margin-bottom: rem(20px);
    }
    &__button {
      margin-bottom: rem(10px);
      margin-right: rem(20px);
    }

    &__image {
      margin-bottom: rem(45px);

      &__wrapper {
        padding-right: 0;
      }
    }
  }
  &__wrapper {
    &.flex-row-reverse {
      .field--name-field-feature-grouped__content {
        padding-left: rem(15px);

        @media screen and (max-width: 991px) {
          padding: 0px;
        }
      }
      .field--name-field-feature-grouped__image__wrapper {
        padding-right: rem(15px);
        @media screen and (max-width: 991px) {
          padding: 0 15px 0 0;
        }
        @media screen and (max-width: 767px) {
          padding: 10px 0;
        }
      }
    }
    &.flex-row {
      .field--name-field-feature-grouped__content {
        @media screen and (max-width: 991px) {
          padding: 0px;
        }
      }
      .field--name-field-feature-grouped__image__wrapper {

        @media screen and (max-width: 991px) {
          padding: 10px 0;
        }
      }
    }
  }
}
.il-content-with-section-nav {

  .il-content {

    .paragraph--type--feature-grouped {

      &__wrapper {
        padding-left: 30px;

        &.unset-col-lg-12,
        &.unset-col-md-8 {
          padding-left: 0px;
        }
      }

      //.unset-col-lg-8,
      //.unset-col-md-8 {
      //  padding-left: 0px;
      //}
      //
      //@media screen and (max-width: 991px) {
      //  margin: 0;
      //  padding: unset;
      //
      //  .paragraph--type--feature-grouped__wrapper {
      //    padding: unset;
      //    margin: 0;
      //  }
      //}
    }
  }
}
