.paragraph--type--feature-grouped {

  .field--name-field-feature-grouped {

    &__title {
      width: 100%;
    }
    &__subtitle {
      color: var(--il-industrial-blue) !important;
      font-size: rem(26px);
      line-height: rem(32px);
      margin: rem(30px) rem(30px) rem(30px) 0;
    }
    &__buttons {
      margin-bottom: rem(20px);
    }
    &__button {
      margin-right: rem(35px);
    }

    &__image {
      margin-bottom: rem(45px);
    }
  }
}
