.paragraph--type--calendar {
  @extend %paragraphs-padding;
  .field--name-field-calendar-title {
    color: var(--il-orange);
  }
  ul[id*="content-list"]{
    list-style-type: none;
    padding-inline-start:0;
  }
  li[id*="event"]{
    padding: 0 0 rem(30px);
  }

  //hides webtools "more events" button
  .more-button-wrapper,
  .more-pod {
    display: none;
  }

  div[class*="section-box"]{
    div[class*="time"]{
      font-weight: 600;
      font-size: rem(20px);
     line-height: 2.5rem;
    }
    span[class*="label"]{
      font-weight: 600;
    }
  }


  //Full list with descriptions
  //Webtools: Generic 1a(1)
  .calendar--type--1{
    div[class*="-item-title"]{
    font-size: rem(20px) !important;
    font-weight: 700 !important;
    background-color: var(--il-storm-lighter-4) !important;
    padding: 5px 10px;
      a {
      color: var(--il-blue) !important;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        color: var(--il-blue) !important;
        text-decoration: none;
        background-color: var(--il-arches-90);
        border-bottom: 1px solid var(--il-blue);
      }
    }
    }
    div[class*="-time"]{
      font-size: rem(18px) !important;
      color: var(--il-blue) !important;
      font-weight: 600 !important;
      font-style: italic !important;
    }
    div[class*="-extra-info"]{
      font-size: rem(18px) !important;
    }
    li{
      &.title_date_only{
        div[class*="-time-with-title"]{
          background-color: var(--il-storm-lighter-4) !important;
          padding: 5px 10px;
          & div[class*="-time"]{
            font-size: rem(18px) !important;
            color: var(--il-blue) !important;
            font-weight: 700 !important;
            font-style: normal !important;
            margin-bottom:0 !important;
            }
        }
        div[class*="-title-with-date"]{
          font-size: rem(18px) !important;
          font-weight: 600 !important;
          padding: 5px 10px;
          a {
          text-decoration: none;
          &:hover {
           text-decoration: underline;
            }
          &:focus {
            text-decoration: none;
           color: var(--il-blue) !important;
           background-color: var(--il-arches-90);
           border-bottom: 1px solid var(--il-blue);
           }
          }
        }
      }
    }
  }

  //Simple list with title and date
  //Webtools: Generic 1b(5)
  .calendar--type--5{
    li {
      margin-bottom: 45px;
    }
    .event-section {
      border-left: 3px solid var(--il-orange);
      padding-left: 25px;
    }
    div[class*="-item-title"]{
    font-size: rem(20px) !important;
    font-weight: 700 !important;
    line-height: rem(28) !important;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--il-storm-80);
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      &:focus {
        color: var(--il-blue);
        text-decoration: none;
        background-color: var(--il-arches-90);
        border-bottom: 1px solid var(--il-blue);
      }
    }
    }
    div[class*="-time"]{
      font-size: rem(18px) !important;
      color: var(--il-blue) !important;
      font-weight: 600 !important;
      font-style: italic;
      padding-top: 15px;
    }
    div[class*="-extra-info"]{
      font-size: rem(18px) !important;
    }
      li{
      padding-bottom: 0 !important;
      &.title_date_only{
        border-left: 3px solid var(--il-orange);
        padding-left: 25px;
        div[class*="-time-with-title"]{
          padding-bottom: 15px;
          padding-top: 0 !important;
          border-bottom: 1px solid var(--il-storm-80);
          & div[class*="-time"]{
            padding-top: 0 !important;
            }
        }
        div[class*="-title-with-date"]{
          font-size: rem(20px) !important;
          font-weight: 700 !important;
          line-height: rem(28) !important;
          padding-top: 15px;
          a{
            text-decoration: none !important;
            &:hover{
              text-decoration: underline !important;
            }
            &:focus {
               color: var(--il-blue);
               text-decoration: none !important;
               background-color: var(--il-arches-90);
               border-bottom: 1px solid var(--il-blue);
             }
          }
        }
      }
    }
  }


  //Simple list with icons
  //Webtools: Small date icons (21)
  .calendar--type--3{
    .list-event{
      clear: both;
      padding-bottom: 45px;
    }
    .event-type{
      color: var(--il-alma=mater) !important;
      text-transform: none !important;
      a {
        color: var(--il-alma-mater) !important;
        &:focus {
        color: var(--il-blue) !important;
        text-decoration: none !important;
        background-color: var(--il-arches-90);
        border-bottom: 1px solid var(--il-blue);
        }
      }
    }
    .event-date {
    background-color: var(--il-storm-95) !important;
    border: 1px solid var(--il-blue);
    width: 95px !important;
    height: 100px;
    margin-top: 8px;
    padding: 0 !important;
    }
    .event-month {
    background-color: var(--il-blue);
    padding: 10px 0;
    font-size: 18px !important;
    font-weight: 700;
    }
    .event-day {
    font-size: 36px !important;
    padding: 15px 0;
    color: var(--il-blue);
    font-weight: 700;
    }
    .event-title{
      a{
        &:focus {
        color: var(--il-blue) !important;
        text-decoration: none !important;
        background-color: var(--il-arches-90);
        border-bottom: 1px solid var(--il-blue);
        }
      }
    }

  }

  //Calendar Cards
  //Webtools: Horizontal layout (20)
  .calendar--type--13{
    div[id*="calendar-"]{
      padding-bottom: 35px;
    }
    .event-pod {
      border: 1px solid #707372 !important;
      border-bottom: 5px solid var(--il-orange) !important;
      padding: 35px 35px 45px !important;
    }
    .event-date {
      float: none !important;
    }
    .event-content {
      padding: 15px 0 0 !important;
      font-family: inherit !important;
    }
    .event-time {
      font-size: rem(18px) !important;
      color: #252525 !important
    }
    .event-title{
      a{
        &:focus {
        color: var(--il-blue) !important;
        text-decoration: none !important;
        background-color: var(--il-arches-90);
        border-bottom: 1px solid var(--il-blue);
        }
      }
    }
  }

}
.il-content {

  .paragraph--type--calendar {

    &.fixed-width {
      padding: 0;
    }
  }
}
