.paragraph--type--accordion {
  @extend %paragraphs-padding;

  .field--name-field-accordion-title {
    margin-bottom: 1.25rem;
  }

  .media,
  .media--type-remote-video {
    padding-bottom: rem(25px);
  }

  &.fixed-width {
    max-width: 1200px;
    padding: rem(60px) var(--il-content-margin) rem(75px);
  }

  .field--name-field-accordion-body {
    padding-bottom: rem(25px);
  }
}
.il-content {
  .paragraph--type--accordion {
    &.fixed-width {
      padding: rem(45px) 0 rem(60px) 0;
      max-width: 1200px;
    }
  }
}
