.paragraph--type--cards {
  @extend %paragraphs-padding;
  &--row {
    &__wrapper {
      justify-content: space-evenly;
    }
  }

  &__wrapper {
    margin-bottom: 1.875rem;
  }

  .field--name-field-cards {
    &-text {
      &__wrapper {
        text-align: center;
      }
    }

    &__title {
      color: var(--il-orange);
      text-align: center;
      padding-bottom: rem(40px);

      .field__item {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      color: var(--il-alma-mater);
      font-weight: 600;
      font-size: rem(28px);
      padding-bottom: rem(40px);

      .field__item {
        margin-bottom: 0;
      }
    }
  }

  ilw-card {
    width: 100%;
    height: 100%;
    & > h2 {
      font-size: rem(27.84px);
      font-weight: 700;
      line-height: 2.25rem;
      color: var(--ilw-color--heading);
      text-align: center;
    }
    p {
      color: var(--ilw-color--text);
      margin-bottom: 1rem !important;
    }
    a {
      &.ilw-button {
        color: var(--ilw-button--foreground-color);
        text-decoration: none;
        &:visited {
          color: var(--ilw-button--foreground-color);
        }
        &:hover {
          color: var(--ilw-button--focused-foreground-color);
          text-decoration: underline;
        }
        &:focus {
          background-color: var(--ilw-link--focus-background-color);
          border-color: var(--ilw-link--focus-color);
          color: var(--il-blue) !important;
          outline: var(--ilw-link--focus-outline);
        }
      }
    }
  }
}

.il-content-with-section-nav {
  .paragraph--type--cards {
    &.fixed-width {
      padding: 0;
    }
  }
}
