.paragraph--type--accordion {
  @extend %paragraphs-padding;

  .field--name-field-accordion-title {
    margin-bottom: 1.5rem;
  }

  .field--name-field-accordion-body {
    padding-bottom: 1.5rem;
  }
}
ilw-columns {
  ilw-accordion[width="page"] {//this overrides the accordion width to be full width when next to the sidebar
    --ilw-margin--side: 0;
  }
}
