.paragraph {

  @include media-breakpoint-down(sm) {
    padding: rem(15px) rem(20px) !important;
  }
  .field__label {
    visibility: hidden;
  }
  .content__wrapper {
    padding: rem(75px);

    @include media-breakpoint-down(lg) {
      padding: rem(32px);
    }

    @include media-breakpoint-down(md) {
      padding: rem(30px);
    }
    @include media-breakpoint-down(sm) {
      padding: rem(30px) rem(20px);
    }
  }
  .body {

    p {
      color: white;
      font-family: var(--il-source-sans);
      font-size: rem(18px);
      line-height: rem(30px);

      a {
        color: white;
        font-weight: 600;
        text-decoration: underline;
      }
      strong {
        font-width: 600;
      }
    }
  }
}
