.paragraph--type--rt {

  &__wrapper {
    margin: rem(15px) rem(10px);
  }

  &__title {

    h2 {
      color: var(--il-orange);
      font-size: rem(32px);
      font-weight: 600;
      line-height: rem(40px);
      padding: rem(20px) rem(15px) rem(10px);
      text-align: center;
    }
  }

  .field--name-field-rt {

    &__content {

      &__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0 rem(30px) 0;
      }
    }
    &__title {

      .field__item {
        color: var(--il-orange);
        font-family: var(--il-source-sans);
        font-size: rem(21px);
        font-weight: 700;
        line-height: rem(33px);
        opacity: 1;
        padding: rem(15px);
        text-align: center;
      }
    }

    &__body {

      .field__item {
        font-size: rem(20px);
        line-height: rem(27px);
        opacity: 1;
        padding: 0 rem(30px) rem(30px) rem(30px);

        img {
          width: 100%;
          padding-bottom: rem(10px);
        }
      }
    }
  }
}
