.paragraph--type--cta {
  @include media-breakpoint-down(sm) {
    padding: 0 !important;
  }
  .field--name-field-cta {

    &__wrapper {
      display: flex;
      align-items: center;
      padding: 2.813rem 0;
      width: 100%;
      @include media-breakpoint-down(sm) {
        display: block;
      }

      .field--name-field-cta-icon {

        img {
          max-width: inherit;
        }
      }

      .field--name-field-cta-text{

        &__wrapper{
          max-width: 50rem;
          margin: 0 auto;

          &.left {
            text-align: left;
            .field--name-field-cta__button:first-child {
              margin-left: 0;
            }
            h2 {
              text-align: left;
            }
          }
          &.center {
            text-align: center;
            h2 {
              text-align: center;
            }
          }
          &.right {
            text-align: right;
            .field--name-field-cta__button:last-child {
              margin-right: 0;
            }
            h2 {
              text-align: right;
            }
          }
        }
      }

    }

    &__subtitle {
      margin-bottom: 0.938rem;
      font-size: rem(22px);
      font-weight: 600;
    }

    &__title {
      margin-bottom: 1.375rem;
    }

    &__body {
      margin-bottom: 1.813rem;
    }

    &__button {
      margin: 0 1.875rem;
      @include media-breakpoint-down(sm) {
        margin: 0.5rem 0;
        width: 100%;
      }
    }

  }
  .background--color{
    &--orangegradient {
      .field--name-field-cta{
        &__subtitle {
          color: var(--il-blue);
        }
        &__body p{
          font-size: rem(24px);
          line-height: 2rem;
          color: white;
        }
      }
      &.fingerprint--full{
        background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint.svg'), linear-gradient(var(--il-altgeld), var(--il-orange));
      }
      &.fingerprint--left{
        background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint-left.png'), linear-gradient(var(--il-altgeld), var(--il-orange));
      }
      &.fingerprint--right{
        background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint-right.png'), linear-gradient(var(--il-altgeld), var(--il-orange));
      }
    }
    &--bluegradient{
      &.fingerprint--full{
        background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint.svg'), linear-gradient(var(--il-blue), var(--il-industrial-blue));
      }
      &.fingerprint--left{
        background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint-left.png'), linear-gradient(var(--il-blue), var(--il-industrial-blue));
      }
      &.fingerprint--right{
        background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint-right.png'), linear-gradient(var(--il-blue), var(--il-industrial-blue));
      }
    }
    &--illiniorange {
      .field--name-field-cta{
        &__subtitle {
          color: var(--il-blue);
        }
        &__body p{
          font-size: rem(24px);
          line-height: 2rem;
          color: white;
        }
      }
    }
    &--gray {
      .field--name-field-cta{
        &__subtitle{
          color: var(--il-blue);
        }
      }
    }
  }
}
