.paragraph--type--cards {
  &__wrapper {
    &.card--color {
      &--illiniblue {
        color: white;
        .field--name-field-cards-content__wrapper {
          background-color: var(--il-blue);
        }
        .title {
          border-bottom: 1px solid white;
        }
        .il-button {
          background-color: var(--il-blue);
          border-color: var(--white);
          color: var(--white);
        }
        .il-button:hover,
        .il-button:focus {
          background-color: var(--il-orange);
          border-color: var(--il-orange);
          color: white;
          outline: none;
        }
      }
      &--white {
        .field--name-field-cards-content__wrapper {
          background-color: var(--white);
        }
        .il-button {
          background-color: white;
          border-color: var(--il-blue);
          color: var(--il-blue);
        }

        .il-button:hover,
        .il-button:focus {
          background-color: var(--il-blue);
          border-color: var(--il-blue);
          color: white;
          outline: none;
        }
      }
    }
  }

  .field--name-field-cards {
    &-text {
      &__wrapper {
        margin: 1rem 0 2rem;
        padding: 0 1.875rem;
        text-align: center;
      }
    }

    &__title {
      color: var(--il-orange);
      text-align: center;
      .field__item {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      color: var(--il-blue);
      font-weight: 600;
      font-size: rem(28px);
      line-height: rem(32px);
      .field__item {
        margin-bottom: 0;
      }
    }
  }

  .field__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  .field__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

.paragraph--type--cards-content .field--name-field-cards-content {
  &__wrapper {
    border: solid 1px #707070;
    max-width: rem(350px);
    height: 100%;
    .field__item {
      margin-bottom: 0;
    }
  }

  &-text__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 rem(30px) rem(30px);
  }

  &__title {
    color: var(--il-orange);
    text-align: center;
    font-size: rem(22px);
    font-weight: 600;
    line-height: 2.0625rem;
    padding: rem(10px) 0 rem(20px);
    border-bottom: 1px solid #ddd6d6;
  }

  &__body {
    padding: rem(20px) 0 rem(30px);
    font-size: rem(18px);
  }

  &__button {
    text-align: center;
    padding: rem(15px) rem(45px) rem(15px) rem(45px);
  }
}
