.paragraph--type--contact {

  .field--name-field-contact {

    &__content {

      &__wrapper {
        &.right {
          text-align: right;
        }
      }
      &__title {
        color: var(--il-blue);
        font-family: var(--il-source-sans);
        font-size: 36px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        padding-bottom: rem(30px);
      }
      &__subtitle {
        font-family: var(--il-source-sans);
        font-size: rem(20px);
        font-weight: bold;
        line-height: 1.5;
      }
      &__address {
        address {
          margin-bottom: 0;
          p {
            margin-bottom: 0;
          }
        }
      }
      &__phone {
        p {
          margin-bottom: 0;
        }
      }
      &__email {
        p {
          margin-bottom: 0;
        }
      }
      &__button {

        a {
          margin-top: rem(45px);
          margin-bottom: rem(20px);
        }

        a:nth-child(2) {
          margin-right: rem(30px);
        }
      }
      &__image {
        &__wrapper {
          width: 100%;

          img {
            max-width: 350px;
            width:350px;
          }
        }
      }
    }
  }
}
