.paragraph {

  @include media-breakpoint-down(sm) {
    padding: rem(15px) rem(20px) !important;
  }
  .field__label {
    visibility: hidden;
  }
  .body {
    .field__item {
      p {
        font-size: rem(18px);
      }
    }
  }
}
