.paragraph--type--intro-home {
  @extend %paragraphs-padding;

  @include media-breakpoint-down(sm) {
    padding: 0 !important;
  }
  .field--name-field-intro-home{
    &__wrapper{
      padding: rem(60px) rem(60px) rem(75px) rem(60px);
      max-width: rem(800px);

      @include media-breakpoint-down(sm) {
        padding-left: rem(45px);
        padding-right: rem(45px);
      }
      &.left{
        text-align: left;
        @include media-breakpoint-down(sm){
          text-align: center;
        }
        .field--name-field-intro-home__button:first-child {
          margin-left: 0;
          @include media-breakpoint-down(sm) {
            margin-left: inherit;
          }
        }
      }
      &.center {
        text-align: center;
      }
      &.right{
        text-align: right;
        @include media-breakpoint-down(sm){
          text-align: center;
        }
        .field--name-field-intro-home__button:last-child {
          margin-right: 0;
          @include media-breakpoint-down(sm) {
            margin-left: inherit;
          }
        }
      }
    }
    &-text-lg {
      font-size: rem(36px);
      line-height: rem(42px);
      font-style: oblique;
      margin-bottom: rem(15px);
    }
    &-text-sm{
      font-size: rem(22px);
      line-height: rem(28px);
      margin-bottom: rem(15px);
    }
    &__buttons {
      margin-top: rem(45px);
    }
    &__button {
      margin: 0 rem(30px);
      @include media-breakpoint-down(sm) {
        margin: 1rem 0;
        width: 100%;
      }
    }
  }
}
