.paragraph--type--calendar {
  .field--name-field-calendar-title {
    color: var(--il-orange);
  }
  ul[id*="content-list"]{
    list-style-type: none;
    padding-inline-start:0;
  }
  li[id*="event"]{
    padding: rem(30px);
  }
  .calendar--type--1{
    li[id*="event"]{
      &:nth-of-type(odd){
        background: #f4f4f4;
        }
    }
  }
  .calendar--type--5{
    li[id*="event"]{
      border-bottom: 1px solid #707070;
      &:first-of-type{
        padding-top: 0;
        }
    }
    div[class*="time-with-title"]{
      font-weight: 600;
      font-size: rem(20px);
      color: var(--il-blue);
    }
    div[class*="title-with-date"]{
      font-size: rem(25px);
      font-weight: 600;
      a {
        text-decoration: none;
        border-bottom: 2px solid transparent;
        &:after {
          content: '\f101';
          font-family: FontAwesome;
          vertical-align: top;
          padding: 0 0.5rem;
        }
        &:hover {
          border-bottom: 2px solid var(--il-altgeld);
        }
      }

    }

  }

  div[class*="section-box"]{

    div[class*="item-title"]{
    font-size: rem(25px);
    font-weight: 600;
    line-height: rem(29);
    }
    div[class*="time"]{
      font-weight: 600;
      font-size: rem(20px);
     line-height: 2.5rem;
    }
    span[class*="label"]{
      font-weight: 600;
    }
  }

  .calendar--type--3{
    #content-list {
      li {
        padding: 0;
        height: 130px;
        @include media-breakpoint-down(sm) {
          height: 145px;
        }
      }
      .cw3-date-image {
        float: left;
        display: block;
        width: 75px;
        height: 75px;
        margin: rem(7px) 0 0;
        background-color: var(--il-orange);
        border-radius: 10px 0px 10px 0px;
        .date{
          color: #fff;
          .date-month{
            font-size: rem(24px);
            font-weight: 700;
            line-height: rem(22px);
            padding-top: 14px;
            text-transform: uppercase;
            text-align: center;
          }
          .date-day{
            font-size: rem(32px);
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
      .cw3-content {
        margin-left: rem(90px);
      }
      .cw3-time-with-title{
        font-weight: 600;
        font-size: rem(20px);
        color: var(--il-blue);
      }
      .cw3-title-with-date{
        font-size: rem(21px);
        font-weight: 700;
        line-height: rem(30px);
        a {
          text-decoration: none;
          border-bottom: 2px solid transparent;
          &:after {
            content: '\f101';
            font-family: FontAwesome;
            vertical-align: top;
            padding: 0 0.5rem;
          }
          &:hover {
            border-bottom: 2px solid var(--il-altgeld);
          }
        }
      }
    }
  }

  .calendar--type--13{
    ul#content-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: rem(48px);
    }
    li{
      &.title_date_only{
        border: 1px solid #707070;
        max-width: 30%;
        padding: rem(30px) rem(20px) rem(45px);
        flex: 1 1 29%;
        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }
    }
    .cw3-date-image{
      display: block;
      margin: 0 auto;
    .date{
      color: var(--il-orange);
      text-align: center;
      font-weight: 700;
      .date-month{
        font-size: 3.5rem;
        line-height: 3.5rem;
        text-transform: uppercase;
      }
      .date-day{
        font-size: 4rem;
        line-height: 3.5rem;
      }
    }
    }
    .cw3-time {
      text-align: center;
      margin: 0 0 rem(16px);
      padding: rem(10px) 0 0;
      color: var(--il-orange);
      font-weight: 700;
      font-size: rem(19px);
    }
    .cw3-title-with-date {
      font-weight: 600;
      text-align: center;
      font-size: rem(24px);
      padding: 0 rem(10px);

    }
  }
}
.il-content {

  .paragraph--type--calendar {

    &.fixed-width {
      padding: 0;
    }
  }
}
