.paragraph--type--cards {
  @extend %paragraphs-padding;

  .field--name-field-cards {
    &-text {
      &__wrapper {
        text-align: center;
      }
    }

    &__title {
      color: var(--il-orange);
      text-align: center;
      padding-bottom: rem(40px);

      .field__item {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      color: var(--il-alma-mater);
      font-weight: 600;
      font-size: rem(28px);
      padding-bottom: rem(40px);

      .field__item {
        margin-bottom: 0;
      }
    }
  }

  .field__items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  .field__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

.il-formatted {
  il-card {
    width: rem(350px);
    height: 100%;
    padding: 0 !important;
    &.il-theme-blue {
      p {
        color: white;
      }
      .il-button {
        background-color: var(--il-blue);
        border-color: white;
        color: white !important;
        &:hover {
          background-color: white;
          color: var(--il-blue) !important;
        }
      }
    }
    img {
      margin: 0 !important;
    }
        .il-card-text{
        &__wrapper{
          padding: rem(30px) rem(30px) rem(45px);
        }
    }
  }
}
