.paragraph--type--intro-home {
  @include media-breakpoint-down(sm) {
    padding: 0 !important;
  }
  .field--name-field-intro-home{
    &__wrapper{
      padding: rem(75px) 0 rem(90px) 0;
      max-width: 50rem;
      @include media-breakpoint-down(sm) {
        padding-left: rem(45px);
        padding-right: rem(45px);
      }
      &.left{
        text-align: left;
        .field--name-field-intro-home__button:first-child {
          margin-left: 0;
          @include media-breakpoint-down(sm) {
            margin-left: inherit;
          }
        }
      }
      &.center {
        text-align: center;
      }
      &.right{
        text-align: right;
        .field--name-field-intro-home__button:last-child {
          margin-right: 0;
          @include media-breakpoint-down(sm) {
            margin-left: inherit;
          }
        }
      }
    }
    &-text-lg {
      font-size: rem(36px);
      line-height: rem(42px);
      font-style: oblique;
    }
    &-text-sm{
      font-size: rem(22px);
      line-height: rem(28px);
    }
    &__buttons {
      margin-top: rem(45px);
    }
    &__button {
      margin: 0 rem(30px);
      @include media-breakpoint-down(sm) {
        margin: 1rem 0;
        width: 100%;
      }
    }
  }
  .background--color{
    &--gray{
      color: var(--il-blue);
      .btn-primary{
        background-color: var(--il-blue);
        color: white;
      }
      .btn:hover{
        background-color: white;
        color: var(--il-blue);
      }
    }
    &--white{
      color: var(--il-blue);
      .btn-primary{
        background-color: var(--il-blue);
        border-color: var(--il-blue);
        color: white;
      }
      .btn:hover{
        background-color: var(--il-orange);
        border-color: var(--il-orange);
        color: white;
      }
    }
  }
}
