.paragraph--type--rt {

  &__wrapper {
    margin: rem(15px) 10;
  }

  &__title {
    color: var(--il-altgeld);
    font-size: rem(40px); //don't know what size
    font-weight: 700;
    padding: rem(30px);
    text-align: center;
  }

  .field--name-field-rt {

    &__content {

      &__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 0 rem(30px) 0;
      }
    }
    &__title {

      .field__item {
        color: var(--il-altgeld);
        font-family: var(--il-source-sans);
        font-size: rem(21px);
        font-weight: 700;
        line-height: rem(33px);
        opacity: 1;
        padding: rem(15px);
        text-align: center;
      }
    }

    &__body {

      .field__item {
        font-size: rem(20px);
        line-height: rem(27px);
        opacity: 1;
        padding: 0 rem(30px) rem(30px) rem(30px);

        img {
          width: 100%;
        }
      }
    }
  }
}
