.paragraph--type--hero-section-page {

  .field--name-field-hero-section-image {

    img {
      height: 100%;
      width: 100%;
    }
    #block-illinois-framework-theme-page-title {
      position: absolute;
      top: 8%;
      left: 4%;
      @include media-breakpoint-up(sm) {
        bottom: 16%;
        top: 22%;
      }
      @include media-breakpoint-up(xl) {
        top: 32%;
      }

      h1 {
       text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
       font-family: var(--il-source-sans);
       font-size: 45px;
       font-size: 3.6vw;
       font-weight: bold;
       font-stretch: normal;
       font-style: normal;
       line-height: 1.16;
       letter-spacing: normal;
       text-align: left;
       color: #f8fafc;
      }
    }


    &__wrapper {

    }
  }
}
