.paragraph--type--feature-video {

  @include media-breakpoint-down(sm) {
    &.flex-row {
      flex-direction: column !important;
    }
    &.flex-row-reverse {
      flex-direction: column-reverse !important;
    }
  }

  .field--name-field-feature-video {

    &__video {

      height: 100%;
      width: 100%;

      @include media-breakpoint-only(sm) {
        height: 350px;
      }
      @include media-breakpoint-only(xs) {
        height: 250px;
      }

      &__wrapper {
        flex-basis: 50%;
        @include media-breakpoint-down(sm) {
          flex-basis: 100%;
        }
      }
    }
    &__content {

      &__wrapper {

      }
    }
    &__title {

      .field__item {
        font-family: var(--il-source-sans);
        font-size: rem(36px);
        font-weight: 700;
        line-height: rem(36px);
        padding-bottom: rem(32px);
      }
    }
    &__subtitle {

      .field__item {
        font-family: var(--il-source-sans);
        font-size: rem(22px);
        font-weight: normal;
        line-height: 1.2;
        padding-bottom: rem(20px);
      }
    }
    &__body {
      p,
      li {
        line-height: 2.125rem;
        font-size: rem(24px);
      }

      .field__item {
        padding-bottom: rem(16px);
      }
    }
    &__callout {
      font-size: rem(48px);
      line-height: 1;
      padding: 0;

      &.no-tagline {
        margin-bottom: rem(20px);
      }
    }
    &__tagline {
      font-size: rem(18px);
      font-style: italic;
      margin-bottom: rem(20px);
      padding: 0;
    }
    &__buttons {

      a {
        margin-bottom: rem(20px);
      }

      a:first-child {
        margin-right: rem(30px);
      }
    }
  }
  .media--type-video {
    height: 100%;
    width: 100%;
  }
  .field--name-field-feature-video-video {
    height: 100%;
    width: 100%;

    .field__item {
      height: 100%;
      width: 100%;

      .media--type-remote-video {
        height: 100%;
        width: 100%;
      }
      .media--type-image {
        height: 100%;
      }
    }
  }
  .field--name-field-media-image {
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
  .field--name-field-media-oembed-video {
    height: 100%;
    width: 100%;

    iframe.media-oembed-content {
      height: 100%;
      width: 100%;
    }
  }
  .field--name-field-media-video-file {
    height: 100%;
    width: 100%;

    video {
      height: 100%;
      width: 100%;
    }
  }
}
