.paragraph--type--content-slider{
@extend %paragraphs-padding;
  &__wrapper{
    padding: 0 var(--il-content-margin);
  }
  &-text__wrapper {
    text-align: center;
    h2 {
      &.title{
        text-align: center;
        padding-bottom: rem(40px);
      }
    }
    .subtitle {
      color: var(--il-alma-mater);
      font-weight: 600;
      font-size: rem(28px);
      padding-bottom: rem(40px);
    }
  }
  .paragraph--type--cards{
    &__wrapper{
      width: auto;
    }
  }
}

.il-formatted {
  ils-contentslider{
    ilw-card {
        width: 100%;
        max-width: 400px;
        height: 100%;
        & > h2 {
          font-size: rem(27.84px);
          font-weight: 700;
          line-height: 2.25rem;
          color: var(--ilw-card--heading-color);
          text-align: center;
        }
        p {
          color: var(--ilw-card--text-color);
          margin-bottom: 1rem !important;
        }
        a {
          &.ilw-button {
            color: var(--ilw-button--foreground-color);
            text-decoration: none;
            &:visited {
              color: var(--ilw-button--foreground-color);
            }
            &:hover {
              color: var(--ilw-button--focused-foreground-color);
            }
            &:focus {
              background-color: var(--ilw-link--focus-background-color);
              border-color: var(--ilw-link--focus-color);
              color: var(--il-blue) !important;
              outline: var(--ilw-link--focus-outline);
            }
          }
        }
      }
    }
}

.ils-contentslider {
    padding-bottom: 1rem;
  }
