.paragraph--type--list {
  padding-top: rem(30px) !important;
  padding-bottom: rem(75px) !important;

  .field--name-field-list {

    &-text__wrapper {
      padding-top: rem(30px);

      h2 {
        font-weight: 600;
        font-size: rem(32px);
        line-height: rem(40px);
        color: var(--il-orange);
      }
      .subtitle {
        font-weight: 600;
        font-size: rem(28px);
        line-height: rem(32px);
        color: var(--il-blue);
      }
    }
  }
}

.paragraph--type--list-content {

  .field--name-field-list-content {

    &__wrapper {
      display: flex;
      padding: rem(30px) 0;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
      }
      &.left {

        .field--name-field-list-content-img__wrapper {

          margin-right: rem(30px);
          @include media-breakpoint-down(sm) {
            margin-right: 0;
            margin-bottom: rem(30px);
          }
        }
      }
      &.right {
        flex-direction: row-reverse;
        @include media-breakpoint-down(sm) {
          flex-direction: row;
        }
        .field--name-field-list-contet-img__wrapper {
          margin-left: rem(30px);
          @include media-breakpoint-down(sm) {
            margin-left: 0;
            margin-bottom: rem(30px);
          }
        }
      }
    }
    &-text__wrapper {
      h2 {
        margin-top: 0;
      }
      .body p {
        color: #252525;
      }
      p a {
        line-break: anywhere;
      }
    }
  }
}

.field--name-field-list-contet-img__wrapper
  + .field--name-field-list-content-text__wrapper {
  //only apply the squeeze to text when an image is there.
  // note image wrapper is contet and not content
  width: 75%;
  margin-top: -7px;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
.field--name-field-list-content {
  .field__item {
    &:nth-of-type(even) {
      background: #f4f4f4;
    }
  }
  &-body {
    &.field__item {
      background: transparent !important;
    }
  }
}

.il-content-with-section-nav .field--name-field-list-text__wrapper.fixed-width {
  //controls for when the section-nav is active to make sure
  //title/subtitle don't indent weird
  padding-left: 0;
}
