.paragraph--type--bb {
  @extend %paragraphs-padding;

  .field--name-field-bb {
    &__title {
      padding: 0 15px;
      margin: 0 0 rem(35px);
      color: var(--il-orange);
    }

    &__subtitle {
      padding: 0 15px;
      margin: 0 0 rem(35px);
      font-weight: 600;
      font-size: rem(28px);
      line-height: rem(32px);
      color: var(--il-blue);
    }
  }

  &-content__wrapper{
    margin-bottom: 3rem;
  }

  .left {
    .paragraph--type--bb__wrapper {
      justify-content: left;
    }

    .field--name-field-bb {
      &__title {
        padding-left: 0;
        text-align: left;
      }

      &__subtitle {
        padding-left: 15px;
        text-align: left;
      }
    }
  }

  .center {
    .paragraph--type--bb__wrapper {
      justify-content: center;
    }

    .field--name-field-bb {
      &__title {
        text-align: center;
      }

      &__subtitle {
        text-align: center;
      }
    }
  }

  &.full-width {
    padding: 0 var(--il-content-margin);

    .field--name-field-bb__title {
      padding: 0 15px;
    }
    .paragraph--type--bb__wrapper {
      margin: 0 auto;
    }
  }
  &.fixed-width {

    .field--name-field-bb__title {
      padding-left: 10px;
    }
    .field--name-field-bb__subtitle {
      padding-left: 10px;
    }
    .paragraph--type--bb {
      padding: 0 20px;

      &__wrapper {
        margin: 0;
      }
    }
  }
}
.il-content {
  .paragraph--type--bb {
    &.fixed-width,
    &.full-width {
      padding: 0;
    }
  }
}


// fixes to match style in toolkit
ilw-card[clickable]{
  width: 100%;
  &>h2 {
    a {
      font-size: rem(27.84px);
      font-weight: 700;
      line-height: 2.25rem;
      border-bottom: 3px solid transparent;
      &:visited{
          color: var(--ilw-card--heading-color);
      }
      &:focus{
        border-bottom: 3px solid var(--il-blue);
        outline: none !important;
      }
    }
  }
  p {
    color: var(--ilw-card--text-color);
  }
  &:hover {
    p {
      color: var(--ilw-card--hover--text-color);
    }
  }

}
