.paragraph--type--image-gallery {
 @extend %paragraphs-padding;
 &.background--color--gray{
  .field--name-field-image-gallery{
    &__title {
      color: var(--il-altgeld);
      }
    }
  }
  .field--name-field-image-gallery{
    &__title {
      margin: 0 0 rem(35px);
      color: var(--il-orange);
      .field__item {
        margin-bottom: 0;
      }
    }

    &__subtitle {
      margin: 0 0 rem(35px);
      font-weight: 600;
      font-size: rem(28px);
      line-height: rem(32px);
      color: var(--il-blue);
      .field__item {
        margin-bottom: 0;
      }
    }
    &-img{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .field__item{
        height: 200px;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }

}

//color box style overrides
#cboxCurrent {
  bottom: 0;
  font-weight: 600;
  font-family: var(--il-source-sans);
  padding: 0 15px;
  border-left: none;
  color: var(--il-industrial-blue);
}

#cboxPrevious, #cboxPrevious:hover {
  background: url(/images/controls.png) no-repeat 0 -48px;
  height: 15px;
  bottom: 5px;
  &:focus,
  &:focus-visible{
    outline: 1px dotted var(--il-industrial-blue);
  }
}

#cboxNext, #cboxNext:hover {
  background: url(images/controls.png) no-repeat 0 -29px;
  height: 15px;
  bottom: 5px;
  &:focus,
  &:focus-visible{
    outline: 1px dotted var(--il-industrial-blue);
  }
}

.il-content{
  .paragraph--type--image-gallery{
    .fixed-width,
    .full-width {
      padding: 0;
    }
  }
}
