.paragraph--type--cta-narrow {
  @include media-breakpoint-down(sm){
    padding: 0 !important;
  }

  .field--name-field-cta-narrow {

    &__wrapper {
      display: flex;
      align-items: center;
      padding: 2.813rem 0;
      width: 100%;

      @include media-breakpoint-down(sm) {
        display: block;
        text-align: center;
      }
    }

    &__body {
      font-size: rem(18px);
    }

    &__buttons {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .btn {
        min-height: 3rem;
        height: auto;
      }
    }

    &__button {
      margin: 0.5rem 1.875rem;
      flex-grow: 1;
      flex-basis: 0;
      white-space: nowrap;
      max-width: 19.5rem;
      @include media-breakpoint-down(sm) {
        flex-basis: 100%;
      }
    }

  }
}
