.paragraph--type--rt {
  @extend %paragraphs-padding;

  h3 {
    color: var(--il-blue) !important;
  }

  &.background--color--gray {
    .paragraph--type--rt__title h2 {
      color: var(--il-altgeld) !important;
    }
     h2 {
      color: var(--il-altgeld) !important;
       margin-bottom: rem(15px) !important;
    }
  }
  &.background--color--white {
    .paragraph--type--rt__title h2 {
      color: var(--il-orange) !important;
    }
    h2 {
      color: var(--il-orange);
      margin-bottom: rem(15px) !important;
    }
  }

  &__wrapper {
    //margin: rem(15px) rem(10px);
    padding-left: rem(25px);
  }

  &__title {
    padding-left: 0;

    h2 {
      font-size: rem(35px);
      font-weight: 600;
      line-height: rem(40px);
      padding: 0 rem(15px) rem(10px) 0;
      text-align: left;
      margin-top: 0;
    }
  }

  .field--name-field-rt {

    &__content {

      &__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;

        &.col-lg-6,
        &.unset-col-lg-6 {
          padding: 0 15px;

          @media screen and (max-width: 767px) {
            padding: 0 0 15px 0;
          }

          &.column--0 {
            @media screen and (min-width: 768px) {
              padding-left: 0;
            }
          }
          &.column--1 {
            @media screen and (min-width: 768px) {
              padding-right: 0;
            }
          }
        }
      }
    }
    &__title {
    }

    &__body {

      .field__item {
        opacity: 1;
      }
      .field--name-field-rt-content-title{
        .field__item{
          font-size: rem(29px);
          line-height: rem(35px);
          color: var(--il-blue);
          font-weight: 600;
          margin-top: rem(5px);
          margin-bottom: rem(5px);
          padding: 0 rem(15px) rem(15px) 0;
        }
      }
    }
  }
}
.il-content {
  .background--color--white {
    .paragraph--type--rt__wrapper {
      padding: 0 !important;
    }
  }
}
