.paragraph--type--cta {
  @include media-breakpoint-down(sm) {
    padding: 0 !important;
  }
  .field--name-field-cta {

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(45px) 0 rem(50px) 0;
      @include media-breakpoint-down(md) {
        display: block;
      }

      .field--name-field-cta-icon {

        img {
          max-width: inherit;
        }
      }

      .field--name-field-cta-text{

        &__wrapper{
          max-width: rem(900px);

          &.left {
            text-align: left;
            .field--name-field-cta {
              &__buttons {
                @include media-breakpoint-down(sm) {
                  margin-left: rem(-10px);
                }
              }
              &__button:first-child {
                margin-left: 0;
                @include media-breakpoint-down(sm) {
                  margin-left: rem(10px);
                }
              }
            }
            h2 {
              text-align: left;
            }
          }
          &.center {
            text-align: center;
            h2 {
              text-align: center;
            }
          }
          &.right {
            text-align: right;
            .field--name-field-cta {
              &__buttons {
                @include media-breakpoint-down(sm) {
                  margin-right: rem(-10px);
                }
              }
              &__button:last-child {
                margin-right: 0;
                @include media-breakpoint-down(sm) {
                  margin-right: rem(10px);
                }
              }
            }
            h2 {
              text-align: right;
            }
          }
        }
      }

    }
    &_img {
      &__wrapper {
        padding: 0 rem(35px) 0 rem(50px);
      }
    }
    &__subtitle {
      margin-bottom: 0.938rem;
      font-size: rem(22px);
      font-weight: 600;
    }

    &__title {
      margin-bottom: 1.375rem;
    }

    &__body {
      margin-bottom: 1.813rem;
    }

    &__button {
      margin: rem(10px);
    }

  }
  .background--color{
    &--orangegradient {
      .field--name-field-cta{
        &__subtitle {
          color: white;
        }
        &__body p{
          font-size: rem(24px);
          line-height: 2rem;
          color: white;
        }
      }
      &.fingerprint--full{
        background-image: url('images/fingerprint.svg'), linear-gradient(var(--il-altgeld), var(--il-orange));
      }
      &.fingerprint--left{
        background-image: url('images/fingerprint-left.png'), linear-gradient(var(--il-altgeld), var(--il-orange));
      }
      &.fingerprint--right{
        background-image: url('images/fingerprint-right.png'), linear-gradient(var(--il-altgeld), var(--il-orange));
      }
    }
    &--bluegradient{
      &.fingerprint--full{
        background-image: url('images/fingerprint.svg'), linear-gradient(var(--il-blue), var(--il-industrial-blue));
      }
      &.fingerprint--left{
        background-image: url('images/fingerprint-left.png'), linear-gradient(var(--il-blue), var(--il-industrial-blue));
      }
      &.fingerprint--right{
        background-image: url('images/fingerprint-right.png'), linear-gradient(var(--il-blue), var(--il-industrial-blue));
      }
    }
    &--illiniorange {
      .field--name-field-cta{
        &__subtitle {
          color: var(--il-blue);
        }

        &__body p{
          font-size: rem(24px);
          line-height: 2rem;
          color: white;
        }
      }
    }
    &--gray {
      .field--name-field-cta{
        &__subtitle{
          color: var(--il-blue);
        }
      }
    }
  }
}
