.paragraph--type--list-content {
  .field--name-field-list-content {
    &__wrapper {
      display: flex;
      padding: rem(30px) 0;
      &.left{
        .field--name-field-list-contet-img__wrapper {
          margin-right: rem(30px);
        }
      }
      &.right{
        flex-direction: row-reverse;
        .field--name-field-list-contet-img__wrapper {
          margin-left: rem(30px);
        }
      }
    }
    &-text__wrapper{
      width: 75%;
      .body p {
        color: #252525;
      }
    }
  }
}

.field--name-field-list-content {
  .field__item{
    &:nth-of-type(odd) {
      background: var(--il-gray);
    }
  }
  &-body{
    &.field__item {
      background: transparent !important;
    }
  }
}
