.paragraph--type--accordion {
  margin-bottom: 3rem;

  .field--name-field-accordion-title {
    margin-bottom: 1.25rem;
  }

  .media,
  .media--type-remote-video {
    padding-bottom: rem(25px);
  }

  .field--name-field-accordion-body {
    padding-bottom: rem(25px);
  }

  ilw-accordion-panel {
    p:first-of-type {
      margin-top: 1rem;
    }
  }
  table {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid var(il-storm-lighter-3);
    width: 100%;
    overflow: auto;
  }
  th {
    text-align: left;
    font-weight: 700 !important;
    font-size: 1.2rem;
    border-top: 1px solid var(--il-storm-lighter-3);
    border-bottom: 1px solid var(--il-storm-lighter-3);
    border-left: none;
    border-right: none;
    padding: 1.5625rem 1rem 1.875rem 1rem;
    vertical-align: middle;
  }
  thead th {
    background-color: var(--il-industrial);
    color: white;
    font-family: var(--il-source-sans);
  }
  th:first-of-type {
    border-left: 1px solid var(--il-storm-lighter-3);
  }
  th:last-of-type {
    border-right: 1px solid var(--il-storm-lighter-3);
  }
  thead th {
    background-color: var(--il-industrial);
    color: white !important;
    font-family: var(--il-source-sans);
  }
  tbody th {
    color: var(--il-blue);
  }
  td {
    text-align: left;
    vertical-align: top;
    padding: 1.5625rem 1rem;
    border-top: 1px solid var(--il-storm-lighter-3);
    border-bottom: 1px solid var(--il-storm-lighter-3);
    border-left: none;
    border-right: none;
    color: var(--il-blue);
  }
  td:first-of-type {
    border-left: 1px solid var(--il-storm-lighter-3);
  }
  td:last-of-type {
    border-right: 1px solid var(--il-storm-lighter-3);
  }
  tr:nth-child(odd) {
    background-color: var(--il-storm-lighter-4);
  }
}

/*this overrides the accordion width to be full width when next to the sidebar*/
.il-content-with-section-nav {
  .paragraph--type--accordion {
    ilw-accordion[width="page"] {
      --ilw-margin--side: 0;
    }
  }
}
