.has-sidebar {
  .paragraph--type--accordion {
    &.fixed-width {
      padding: rem(45px) 0 rem(60px) 0;
      max-width: 1140px;
    }
  }
}
.paragraph--type--accordion {
  &.fixed-width {
    padding: rem(45px) rem(30px) rem(60px) rem(30px);
  }
}
