.paragraph--type--page-introduction {
  @extend %fixed-width;

  .field--name-field-page-intro-title {

    .field__item {
      color: var(--il-blue);
      font-size: $h1-font-size;
      font-weight: $headings-font-weight;
      line-height: $headings-line-height;
      text-transform: uppercase;
    }
  }
  .field--name-field-page-intro-body {

    .field__item {

      p {
        color: $body-color;
        font-size: rem(22px);
        line-height: rem(34px);
      }
    }
  }
}
