footer {
  margin-top: rem(100px);
  position: relative;
  width: 100%;
  font-size: rem(18px);
  line-height: 1.5em;
  font-family: var(--il-source-sans);
  background-color: var(--il-blue);
  color: white;

  address {
    color: white;
    font-family: var(--il-source-sans);
    font-size: rem(16px);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.75;
    text-align: left;

    a {
      text-decoration: none;
    }
  }
  dl.footer--email {
    font-size: rem(20px);
  }

  a {
    &:hover {
      color: var(--il-orange) !important;
    }
    &:focus {
      color: var(--il-orange) !important;
      outline: rem(2px) dashed  var(--il-orange) !important;
      border-color: var(--il-orange) !important;
    }
  }
}
il-footer {
  color: white;

  a {
    color: white;

    &:hover {
      color: var(--il-orange) !important;
    }
    &:focus {
      color: var(--il-orange) !important;
      outline: rem(2px) dashed  var(--il-orange) !important;
      border-color: var(--il-orange) !important;
    }
  }

  &[slot="parent"] {
    background-color: var(--il-alma-mater) !important;
    display: flex;
    align-items: center;
    height: auto;
    margin: 0;
    padding: rem(10px) 0;

    &.no-title {
      padding: rem(1px) 0;
    }

    a {
      color: white !important;

      &:hover {
        color: var(--il-orange) !important;
      }
      &:focus {
        color: var(--il-orange) !important;
        outline: rem(2px) dashed  var(--il-orange) !important;
        border-color: var(--il-orange) !important;
      }
    }
  }
}
il-footer [slot="links"] {

  &.no-grid {
    grid-template-columns: repeat(1,1fr) !important;
  }
  h3 {
    color: var(--il-cloud-3);
    @media (max-width: rem(600px)) {
      padding-left: 0 !important;
    }
  }
  h3 + ul a {
    padding: rem(4px) rem(10px) !important;
    @media (max-width: rem(600px)) {
      padding-left: 0 !important;
    }
  }
  ul li {
    display: flex !important;
  }
}
il-footer [slot="social"] {
  a {
    height: 34px;
    width: 36px;
  }
  i.fa {
    font-size: 26px;

    &:before {
      display: inline-block;
      height: 34px;
      padding: rem(5px) rem(7px) rem(7px) rem(7px) !important;
      width: 36px;
    }
  }
}

.footer {

  &--site-name {
    font-family: var(--il-source-sans);
    font-size: rem(24px);
    font-weight: 600;
    line-height: 29px;

    a {
      text-decoration: none;
    }
  }
  &--no-secondary-site {
    background: var(--il-alma-mater);
    padding: rem(1px) 0;
    width: 100%;
  }

  &--subfooter {
    font-family: var(--il-source-sans);
    @extend %fixed-width;
    padding: rem(16px) rem(30px);

    ul {
      display: block;
      list-style: none;
      margin-bottom: 0;
      padding-inline-start: 0;

      li {
        display: inline-block;
        padding: .5rem;

        @include media-breakpoint-down(md) {
          padding-left: 0;
        }

        a {
          color: #FFFFFF;
          font-size: 0.875rem;
          line-height: 1.125rem;
          padding: 0.5rem;
          text-decoration: underline;

          &:hover {
            color: var(--il-orange);
          }
          &:focus {
            color: var(--il-orange);
            outline: rem(1px) dashed var(--il-orange);
            border-color: var(--il-orange);
          }
        }
      }
    }
  }
}
