.l-region {

  &--header {
    background-color: #FFFFFF;
  }
  &--highlighted,
  &--tabs,
  &--content {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: var(--il-framework--max-width);
    padding: 0 rem(30px);
    width: 100%;
  }
  &--content {
    padding: 0;
  }
  &--highlighted {
    padding-top: rem(10px);
  }
  &--footer {
    padding: rem(32px) 0;
  }
}
