.layout-container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.l-region {

  &--header {
    background-color: #FFFFFF;
  }
  &--highlighted,
  &--tabs,
  &--content {
    display: flex;
    flex-direction: column;
    @extend %fixed-width;
  }
  &--content {
    @extend %full-width;
    position: relative;
    z-index: 98;
  }
  &--highlighted {
    padding: rem(10px) var(--il-content-margin);
  }
}
