.l-region {

  &--header {
    background-color: #FFFFFF;
  }
  &--highlighted,
  &--tabs,
  &--content {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: var(--il-framework--max-width);
    padding: 0 30px;
    width: 100%;
  }
  &--highlighted {
    padding-top: 10px;
  }
  &--footer {
    padding: 2rem 0;
  }
}
