il-header {
  position: relative;
  z-index: 101 !important;
}
il-header a[slot="site-name"], il-header a[slot="primary-unit"] {
  text-decoration: none;
  color: var(--il-blue);
  &:hover,
  &:focus {
    text-decoration: underline;
    color: var(--il-altgeld);
  }
}
il-header-nav-section-with-link > a[slot="link"] {
  white-space: wrap !important;
}
