.region-content {
  padding-top: 20px !important;
}
.il-content {
  .region-content {
    padding: 0 !important;
  }
}


/* Show message on content that is unpublished */
article.is-unpublished:before,
main.is-unpublished:before {
  content: "This page is unpublished and is only visible to site editors";
  text-align: center;
  padding: 2em;
  margin-bottom: 2em;
  background-color: pink;
  display: block;
  font-weight: bold;
}
