// Define new variables.

// Same as breakpoint-xl but here you can adjust the max width for the custom
// theme
:root {
  --il-framework--max-width: 1200px;
  --il-framework--fixed-width: 1200px;
  --il-framework--full-width: 100%;
}
