// Define new variables.

// Same as breakpoint-xl but here you can adjust the max width for the custom
// theme
:root {
  --il-framework--max-width: 1200px;
  --il-framework--fixed-width: 1200px;
  --il-framework--full-width: 100%;
  --il-button-foreground-color: var(--il-blue);
  --il-button-background-color: #fff;
  --il-button-border-color: var(--il-blue);
  --il-focused-button-foreground-color: #fff;
  --il-focused-button-background-color: var(--il-blue);
  --il-focused-button-border-color: #fff;
}
