/*
@media (min-width: 992px) {
  .fixed-width {
    max-width: 900px;
  }
}
*/

@media (max-width: 991px) {
  .extProfilePhoto {
    float: none !important;
    margin-left: 0px;
    padding-left: 0px;
  }

  .extProfileName h1, .extProfileRoles {
    display: inline-block;
  }
}

#directorySection > .row ~ .row {
  border-bottom: none;
}

#directorySection > .row {
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px dotted #1a5843;
}

.directorySection {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;

  &--person {
    margin-right: 35px;
    margin-top: 0px;
    margin-bottom: 10px;

    &--photo {
      width: 160px;
      max-height: 200px;
      overflow: hidden;
    }

    &--role {
      max-width: 160px;
      margin-top: 16px;

      & .name {
        line-height: 1.1;
        font-weight: 700;
        color: #252525 !important;
      }

      & .title {
        padding-top: 5px;
        line-height: 1.1;
        color: #252525 !important;
      }

      & .email {
        padding-top: 10px;
        line-height: 1.1;
        color: #252525 !important;
      }
    }
  }
}

.sidebar-left {
  padding: 0px 0px 7.3px 0px;
  background-color: #f0f0f0;
  height: 450px;

  & ul {
    margin-left: 30px;
    list-style-type: none;
    padding: 0;
  }

  & li {
    margin: 43px 0 0 1px;
    font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: 0.5px;
    text-align: left;
    color: #13294b;

    & a {
      text-decoration: none;
    }

   & .sidebar-left--header {
    font-weight: bold;
    font-size: 20px;
   }
  }
}

.il-content #directorySection {
  padding-left: 0px;
  padding-right: 0px;
}

.directory-output h2 {
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #13294b;

}

.extProfileHeader {
  margin-bottom: 20px;
}

.extProfileName h1 {
  width: 726px;
  height: 40px;
  margin: 16px 13px 25px 0px;
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #13294b;
}

.extProfilePhoto {
  float: right;
  margin: 10px;
}

.extProfileTitle {
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  font-size: 27px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #dd3403;
}

#extBiodata {
  
  & ul {
    list-style-type: none;
    padding-left: 0px;
  }
}

#exttabs-publications {
  
  & li {
    margin-bottom: 15px;
  }

  li:last-child {
   margin-bottom: 0px;
  }
}

.directoryHead {
  color: var(--il-blue) !important;
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  font-size: 27px;
  font-weight: 500;
  color: white;
  padding-left: 0px;
}

.extDirectoryRole {
  border-bottom: 1px dotted #1a5843;
  padding: 6px 0px 8px;
}

.extDirectoryName {
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.extDirectoryTitle {
  font-weight: 400;
}

.extDirectoryEmail {
  font-family: "Source Sans Pro", "Lucida Grande", sans-serif;
  font-size: 18px;
  padding-left: 0px;
}

