.background--color {

  &--white {
    background-color: white;
    width: 100%;

    .title {
      color: var(--il-orange);
    }
    .body {
      a {
        &:link {
          color: var(--il-link-color);
        }
        &:visited {
          color: var(--il-visited-link-color);
        }
        &:hover,
        &:focus {
          color: var(--il-link-hover-color);
        }
      }
      p {
        color: $body-color;
      }
    }
    .subtitle {
      color: var(--il-alma-mater);
    }
    h1,h2,h3,h4,h5,h6 {
      color: var(--il-blue);
    }
    .btn {
      background-color: var(--il-orange);
      border: rem(2px) solid var(--il-orange);
      color: white;

      &:hover,
      &:focus {
        background-color: white;
        border: rem(2px) solid var(--il-orange);
        color: var(--il-orange);
      }
    }

  }
  &--bluegradient {
    background-image: linear-gradient(var(--il-blue), var(--il-industrial-blue));
    color: white;
    width: 100%;

    &.fingerprint--full {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint.svg"), linear-gradient(var(--il-blue), var(--il-industrial-blue));
    }
    &.fingerprint--left {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint-left.png"), linear-gradient(var(--il-blue), var(--il-industrial-blue));
    }
    &.fingerprint--right {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint-right.svg"), linear-gradient(var(--il-blue), var(--il-industrial-blue));
    }

    .title {
      color: white;
    }

    .subtitle {
      color: white;
    }

    .body {
      a {
        &:link {
          color: white;
        }
        &:visited {
          color: white;
        }
        &:hover,
        &:focus {
          color: var(--il-industrial-blue-2);
        }
      }
      p {
        color: #fff;
      }
    }

    .btn {
      background-color: #184079;
      border: rem(2px) solid white;
      color: white;

      &:hover,
      &:focus {
        background-color: white;
        color: var(--il-blue);
      }
    }
  }
  &--orangegradient {
    background: linear-gradient(var(--il-altgeld), var(--il-orange));
    color: black;
    width: 100%;

    &.fingerprint--full {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint.svg"), linear-gradient(var(--il-altgeld), var(--il-orange));
    }
    &.fingerprint--left {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint-left.svg"), linear-gradient(var(--il-altgeld), var(--il-orange));
    }
    &.fingerprint--right {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint-right.svg"), linear-gradient(var(--il-altgeld), var(--il-orange));
    }

    .title {
      color: white;
    }

    .subtitle {
      color: white;
    }

    .body {
      a {
        &:link {
          color: white;
        }
        &:visited {
          color: white;
        }
        &:hover,
        &:focus {
          color: var(--il-blue);
        }
      }
      p {
        color: white;
      }
    }

    .btn {
      background-color: #ef461a ;
      border: rem(2px) solid white;
      color: white;

      &:hover,
      &:focus {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }
  }
  &--illiniblue {
    background-color: var(--il-blue);
    color: white;
    width: 100%;

    .title {
      color: white;
    }

    .subtitle {
      color: var(--il-orange);
    }

    .body {
      a {
        &:link {
          color: white;
        }
        &:visited {
          color: var(--il-industrial-blue-2);
        }
        &:hover,
        &:focus {
          color: var(--il-orange);
        }
      }
      p {
        color: white;
      }
    }

    .btn {
      background-color: var(--il-blue);
      border: rem(2px) solid white;
      color: white;

      &:hover,
      &:focus {
        background-color: var(--il-orange);
        border: rem(2px) solid var(--il-orange);
        color: white;
      }
    }
  }
  &--illiniorange {
    background-color: var(--il-orange);
    color: white;
    width: 100%;

    .title {
      color: white;
    }

    .subtitle {
      color: var(--il-blue);
    }

    .body {
      a {
        &:link {
          color: white;
        }
        &:visited {
          color: white;
        }
        &:hover,
        &:focus {
          color: var(--il-blue);
        }
      }
      p {
        color: $body-color;
      }
    }
    h1,h2,h3,h4,h5,h6 {
      color: var(--il-blue);
    }
    .btn {
      background-color: var(--il-orange);
      border: rem(2px) solid white;
      color: white;

      &:hover,
      &:focus {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }

  }
  &--gray {
    background-color: #f4f4f4;
    width: 100%;

    .body {
      a {
        &:link {
          color: var(--il-alma-mater);
        }
        &:visited {
          color: var(--il-alma-mater-1);
        }
        &:hover,
        &:focus {
          color: var(--il-industrial-blue);
        }
      }
      p {
        color: $body-color;
      }
    }
    h1,h2,h3,h4,h5,h6 {
      color: var(--il-blue);
    }

    .btn {

      &:hover,
      &:focus {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }
  }
  &--industrialblue {
    background-color: var(--il-industrial-blue);
    width: 100%;

    .body {
      a {
        &:link {
          color: white;
        }
        &:visited {
          color: white;
        }
        &:hover,
        &:focus {
          color: var(--il-industrial-blue-2);
        }
      }
      p {
        color: white;
      }
    }
  }
  &--altgeld {
    background-color: var(--il-altgeld);
    width: 100%;

    .body {
      a {
        &:link {
          color: white;
        }
        &:visited {
          color: white;
        }
        &:hover,
        &:focus {
          color: black;
        }
      }
      p {
        color: white;
      }
    }
  }
}
