.background--color {

  &--white {
    background-color: white;
  }
  &--bluegradient {
    background-image: linear-gradient(var(--il-blue), var(--il-industrial-blue));
    color: white;

    body {
      p {
        color: white;
      }
    }

    .btn {
      border: rem(2px) solid white;
      color: white;

      &:hover {
        background-color: white;
        color: var(--il-blue);
      }
    }
  }
  &--orangegradient {
    background-image: linear-gradient(var(--il-altgeld), var(--il-orange));
    color: white;

    body {
      p {
        color: white;
      }
    }

    .btn {
      border: rem(2px) solid white;
      color: white;

      &:hover {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }
  }
  &--illiniblue {
    background-color: var(--il-blue);
    color: white;

    body {
      p {
        color: white;
      }
    }

    .btn {
      border: rem(2px) solid white;
      color: white;

      &:hover {
        background-color: var(--il-orange);
        border: rem(2px) solid var(--il-orange);
        color: white;
      }
    }
  }
  &--illiniorange {
    background-color: var(--il-orange);
    color: white;

    body {
      p {
        color: white;
      }
    }

    .btn {
      border: rem(2px) solid white;
      color: white;

      &:hover {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }
  }
  &--gray {
    background-color: var(--il-gray);

    .title {
      color: var(--il-orange);
    }

    .btn {
      background-color: white;

      &:hover {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }
  }
}
