.background--color {

  &--white {
    background-color: white;
    width: 100%;

    .title {
      color: var(--il-orange);
    }
    .body {
      p {
        color: $body-color;

        a {
          color: $body-color;

          &:hover,
          &:focus,
          &:visited {
            color: var(--il-orange);
          }
        }
      }
    }
    .subtitle {
      color: var(--il-alma-mater);
    }
    .btn {
      background-color: var(--il-orange);
      border: rem(2px) solid var(--il-orange);
      color: white;

      &:hover {
        background-color: white;
        border: rem(2px) solid var(--il-orange);
        color: var(--il-orange);
      }
    }

  }
  &--bluegradient {
    background-image: linear-gradient(var(--il-blue), var(--il-industrial-blue));
    color: white;
    width: 100%;

    &.fingerprint--full {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint.svg"), linear-gradient(var(--il-blue), var(--il-industrial-blue));
    }
    &.fingerprint--left {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint-left.png"), linear-gradient(var(--il-blue), var(--il-industrial-blue));
    }
    &.fingerprint--right {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint-right.svg"), linear-gradient(var(--il-blue), var(--il-industrial-blue));
    }

    .title {
      color: white;
    }

    .subtitle {
      color: white;
    }

    .body {
      p {
        color: #fff;

        a {
          &:hover,
          &:focus,
          &:visited {
            color: var(--il-orange);
          }
        }
      }
    }

    .btn {
      background-color: var(--il-industrial-blue);
      border: rem(2px) solid white;
      color: white;

      &:hover {
        background-color: white;
        color: var(--il-blue);
      }
    }
  }
  &--orangegradient {
    background: linear-gradient(var(--il-altgeld), var(--il-orange));
    color: white;
    width: 100%;

    &.fingerprint--full {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint.svg"), linear-gradient(var(--il-altgeld), var(--il-orange));
    }
    &.fingerprint--left {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint-left.svg"), linear-gradient(var(--il-altgeld), var(--il-orange));
    }
    &.fingerprint--right {
        background-image: url("/themes/contrib/illinois_framework_theme/images/fingerprint-right.svg"), linear-gradient(var(--il-altgeld), var(--il-orange));
    }

    .title {
      color: white;
    }

    .subtitle {
      color: var(--il-blue);
    }

    .body {
      p {
        a {
          &:hover,
          &:focus,
          &:visited {
            color: var(--il-blue);
          }
        }
      }
    }

    .btn {
      background-color: var(--il-orange);
      border: rem(2px) solid white;
      color: white;

      &:hover {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }
  }
  &--illiniblue {
    background-color: var(--il-blue);
    color: white;
    width: 100%;

    .title {
      color: white;
    }

    .subtitle {
      color: var(--il-orange);
    }

    .body {
      p {
        color: white;

        a {
          &:hover,
          &:focus,
          &:visited {
            color: var(--il-orange);
          }
        }
      }
    }

    .btn {
      background-color: var(--il-blue);
      border: rem(2px) solid white;
      color: white;

      &:hover {
        background-color: var(--il-orange);
        border: rem(2px) solid var(--il-orange);
        color: white;
      }
    }
  }
  &--illiniorange {
    background-color: var(--il-orange);
    color: white;
    width: 100%;

    .title {
      color: white;
    }

    .subtitle {
      color: var(--il-blue);
    }

    .body {
      p {
        color: white;

        a {
          &:hover,
          &:focus,
          &:visited {
            color: var(--il-blue);
          }
        }
      }
    }

    .btn {
      background-color: var(--il-orange);
      border: rem(2px) solid white;
      color: white;

      &:hover {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }

  }
  &--gray {
    background-color: #f4f4f4;
    width: 100%;

    .body {
      p {
        color: $body-color;

        a {
          color: $body-color;

          &:hover,
          &:focus,
          &:visited {
            color: var(--il-orange);
          }
        }
      }
    }

    .btn {

      &:hover {
        background-color: var(--il-blue);
        border: rem(2px) solid var(--il-blue);
        color: white;
      }
    }
  }
}
