  .fingerprint{

    &--full {
      background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint.svg');
      background-size: 115%;
      background-position: center;
      background-repeat: no-repeat;
    }

    &--right {
      background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint-right.png');
      background-size: 115%;
      background-position: center;
      background-repeat: no-repeat;

    }

    &--left {
      background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint-left.png');
      background-size: 115%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

