  .fingerprint{

    &--full {
      background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint.svg');
      background-size: 115%;
      background-position: center;
      background-repeat: no-repeat;
      @include media-breakpoint-down(sm) {
        background-size: cover;
      }
    }

    &--right {
      background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint-right.png');
      background-size: 115%;
      background-position: center;
      background-repeat: no-repeat;
      @include media-breakpoint-down(sm) {
        background-size: cover;
      }
    }

    &--left {
      background-image: url('/themes/contrib/illinois_framework_theme/images/fingerprint-left.png');
      background-size: 115%;
      background-position: center;
      background-repeat: no-repeat;
      @include media-breakpoint-down(sm) {
        background-size: cover;
      }
    }

  }

