%fixed-width {
  margin: 0 auto;
  max-width: var(--il-framework--fixed-width);
  //padding: 0 rem(30px);
  width: 100%;
}
%full-width {
  margin: 0;
  max-width: none;
  padding: 0;
  width: var(--il-framework--full-width);
}
.fixed-width {
 @extend %fixed-width;
}

.full-width {
  @extend %full-width;
}
