.il-footer-navigation-single {
  h2, h3, h4 {
    color: white;
  }
}
.il-footer-navigation {
  padding-top: 0 !important;
  h2, h3, h4 {
    color: var(--il-blue);
    border-bottom: none !important;
  }
  a {
    color: var(--il-blue);
    &:visited {
      color: var(--il-blue);
    }
  }
}
.il-footer-contact {
  p {
    color: white;
  }
}
.site.section {
  gap: 0 !important;
}
