//overrides to the web components
.il-content-with-section-nav {
  padding: 0 !important;
}
@media (min-width: 575px) {
  .il-content-with-section-nav {
    /* margin-left: 40px; */
    /* margin-right: 40px; */
    margin: var(--il-content-margin) !important;
  }
}

@media (min-width: 1191px) {
  .il-content-with-section-nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
    grid-template-columns: auto 360px 720px !important;
    grid-template-areas: ". nav content ." !important;
  }
}

@media (min-width: 1200px) {
  .il-content-with-section-nav {
    margin-left: 0 !important;
    margin-right: 0 !important;
    grid-template-columns: auto 360px 720px !important;
    grid-template-areas: ". nav content ." !important;
  }
}
