//overrides to the web components
.il-content-with-section-nav {
  padding: 0 !important;

  il-section-nav {
    h3 {
      a:visited {
        color: var(--il-blue);
      }
      a:hover {
        color: var(--il-altgeld);
      }
    }
    ul.menu {
      margin-left: 0;

      a.is-active {
        color: var(--il-altgeld);
      }
    }
  }
}
@media (min-width: 575px) {
  .il-content-with-section-nav {
    margin: var(--il-content-margin) !important;
  }
}
@media (min-width: 992px) {
  .il-content-with-section-nav {
    grid-template-columns: 2fr 5fr !important;
  }
}
@media (min-width: 1200px) {
  .il-content-with-section-nav, .il-formatted .il-content-with-section-nav {
    margin-left: 0;
    margin-right: 0;
    grid-gap: 0;
    grid-template-columns: auto 274px 44px 822px auto !important;
    grid-template-areas: ". nav . content .";
  }
}
