.il-footer-navigation-single {
  h2, h3, h4 {
    color: var(--il-cloud-3);
  }
}
.il-footer-navigation {
  h2, h3, h4 {
    color: var(--il-cloud-3);
  }
}
.il-footer-contact {
  p {
    color: var(--il-cloud-3);
  }
}
