* {
  a.il-button {
    //color: var(--color-secondary);

    &:focus,
    &:hover {
      text-decoration: none !important;
    }

    &:visited {
      //color: var(--il-blue) !important;
    }

    &:hover {
      //color: #fff !important;
      text-decoration: none !important;
    }

    &.il-blue {
      //color: var(--il-blue) !important;

      &:visited {
        //color: white !important;
      }

      &:focus,
      &:hover {
        //color: var(--il-blue) !important;
        text-decoration: none !important;
      }
    }

    &.il-orange {
      //color: white !important;

      &:visited {
        //color: white !important;
      }

      &:focus,
      &:hover {
        //color: var(--il-orange) !important;
        text-decoration: none !important;
      }
    }

    &.il-white-blue {
      //color: var(--il-blue) !important;

      &:visited {
        //color: var(--il-blue) !important;
      }

      &:focus,
      &:hover {
        //color: #fff !important;
        text-decoration: none !important;
      }
    }

    &.il-white-orange {
      //color: var(--il-orange) !important;

      &:visited {
        //color: var(--il-orange) !important;
      }

      &:focus,
      &:hover {
        //color: #fff !important;
        text-decoration: none !important;
      }
    }
  }
}
p {
  a.il-button {
    --color-primary: #fff !important;
    --color-secondary: var(--il-blue) !important;
    background-color: var(--il-button-background-color) !important;
    color: var(--il-button-foreground-color) !important;
    display: inline-block !important;
    padding: 12px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    border-radius: .25em !important;
    border: 2px solid var(--il-button-border-color) !important;
    font: 600 1.1875rem/1.25rem var(--il-source-sans) !important;
    transition: background-color .3s !important;
    cursor: pointer !important;

    &:visited {
      color: var(--il-blue) !important;
    }
    &:focus,
    &:hover {
      background-color: var(--il-focused-button-background-color) !important;
      color: var(--il-focused-button-foreground-color) !important;
      border-color: var(--il-focused-button-border-color) !important;
      outline: 0 !important;
      text-decoration: none !important;
    }

    &.il-blue {
      --il-button-background-color: var(--il-blue) !important;
      --il-button-foreground-color: #fff !important;
      --il-button-border-color: #fff !important;
      --il-focused-button-background-color: #fff !important;
      --il-focused-button-foreground-color: var(--il-blue) !important;
      --il-focused-button-border-color: var(--il-blue) !important;

      &:visited {
        color: white !important;
      }
      &:focus,
      &:hover {
        text-decoration: none !important;
      }
    }
    &.il-orange {
      --il-button-background-color: var(--il-orange) !important;
      --il-button-foreground-color: #fff !important;
      --il-button-border-color: #fff !important;
      --il-focused-button-background-color: #fff !important;
      --il-focused-button-foreground-color: var(--il-orange) !important;
      --il-focused-button-border-color: var(--il-orange) !important;

      &:visited {
        color: white !important;
      }
      &:focus,
      &:hover {
        color: var(--il-orange) !important;
        text-decoration: none !important;
      }
    }
    &.il-white-blue {
      --il-button-background-color: #fff !important;
      --il-button-foreground-color: var(--il-blue) !important;
      --il-button-border-color: var(--il-blue) !important;
      --il-focused-button-background-color: var(--il-blue) !important;
      --il-focused-button-foreground-color: #fff !important;
      --il-focused-button-border-color: #fff !important;

      &:visited {
        color: var(--il-blue) !important;
      }
      &:focus,
      &:hover {
        color: #fff !important;
        text-decoration: none !important;
      }
    }
    &.il-white-orange {
      --il-button-background-color: #fff !important;
      --il-button-foreground-color: var(--il-orange) !important;
      --il-button-border-color: var(--il-orange) !important;
      --il-focused-button-background-color: var(--il-orange) !important;
      --il-focused-button-foreground-color: #fff !important;
      --il-focused-button-border-color: #fff !important;

      &:visited {
        color: var(--il-orange) !important;
      }
      &:focus,
      &:hover {
        color: white !important;
        text-decoration: none !important;
      }
    }
  }
}

