il-nav-section {
  a {
    background-color: unset;
    color: unset;
    text-decoration: unset;
  }
}
il-nav-link {
  a {
    color: unset;
    text-decoration: unset;

    &:hover {
      background-color: white;
    }
  }
}
