footer {
  margin-top: 100px;
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 1.5em;
  font-family: var(--il-source-sans);
  background-color: var(--il-blue);
  color: var(--il-cloud-3);

  address {
    font-style: normal;
  }
  dl.footer--email {
    font-size: 20px;
  }

  a {
    &:hover,
    &:focus {
      color: var(--il-orange) !important;
      outline: 2px dashed  var(--il-orange) !important;
      border-color: var(--il-orange) !important;
    }
  }
}
il-footer {
  color: var(--il-cloud-3);

  a {
    color: white;

    &:hover,
    &:focus {
      color: var(--il-orange) !important;
      outline: 2px dashed  var(--il-orange) !important;
      border-color: var(--il-orange) !important;
    }
  }

  &[slot="parent"] {
    background-color: var(--il-alma-mater) !important;
    display: flex;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 10px 0;

    &.no-title {
      padding: 1px 0;
    }

    a {
      color: white !important;

      &:hover,
      &:focus {
        color: var(--il-orange) !important;
        outline: 2px dashed  var(--il-orange) !important;
        border-color: var(--il-orange) !important;
      }
    }
  }
}
il-footer [slot="links"] {
  h3 {
    color: var(--il-cloud-3);
    @media (max-width:600px) {
      padding-left: 0 !important;
    }
  }
  h3 + ul a {
    padding: 4px 10px !important;
    @media (max-width:600px) {
      padding-left: 0 !important;
    }
  }
  ul li {
    display: flex !important;
  }
}
il-footer [slot="social"] {
  a {
    padding: 2px 5px !important;
  }
}

.footer {

  &--site-name {
    font-weight: 700;
  }
  &--no-secondary-site {
    background: var(--il-alma-mater);
    padding: 1px 0px;
    width: 100%;
  }

  &--subfooter {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: var(--il-source-sans);
    justify-content: flex-start;
    max-width: var(--il-framework--max-width);
    margin: auto;
    padding: 1rem 10px;
    position: unset;

    ul {
      display: block;
      list-style: none;
      margin-bottom: 0;
      padding-inline-start: 0px;

      li {
        display: inline-block;
        padding: .5rem;

        @media (max-width:980px) {
          padding-left: 0;
        }

        a {
          color: #FFFFFF;
          font-size: 0.875rem;
          line-height: 1.125rem;
          padding: 0.5rem;
          text-decoration: underline;

          &:hover,
          &:focus {
            color: var(--il-orange);
            outline: 1px dashed var(--il-orange);
            border-color: var(--il-orange);
          }
        }
      }
    }
  }
}
