/* adding toolkit 3 button css to toolkit 2 button classes */
:root {
  --ilw-button--background-color: white;
  --ilw-button--foreground-color: var(--il-blue);
  --ilw-button--border-color: var(--il-blue);
  --ilw-button--focused-background-color: var(--il-blue);
  --ilw-button--focused-foreground-color: white;
  --ilw-button--focused-border-color: var(--il-blue);
  --ilw-button--active-color: white;
  --ilw-button--active-background-color: var(--il-orange);
  --ilw-button--active-border-color: var(--il-blue);
}
.il-button {
  background-color: var(--ilw-button--background-color);
  color: var(--ilw-button--foreground-color);
  border: 2px solid var(--ilw-button--border-color);
  font: 700 1.188rem / 1.25rem var(--il-font-sans);
  display: inline-block;
  margin: 6px 0;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  letter-spacing: .01em;
  transition: background-color 0.3s;
  cursor: pointer;

  &:visited {
    outline: 0;
    background-color: var(--ilw-button--background-color);
    color: var(--ilw-button--foreground-color);
    border: 2px solid var(--ilw-button--border-color);
  }

  &:hover {
    outline: 0;
    background-color: var(--ilw-button--focused-background-color);
    color: var(--ilw-button--focused-foreground-color);
    border-color: var(--ilw-button--focused-border-color);
    text-decoration: underline;
  }

  &:focus {
    background-color: var(--ilw-link--focus-background-color);
    color: var(--ilw-link--focus-color);
    border-color: var(--ilw-link--focus-color);
    text-decoration: underline;
    outline: var(--ilw-link--focus-outline);
  }

  &:active {
    background-color: var(--ilw-button--active-background-color);
    color: var(--ilw-button--active-color);
    border-color: var(--ilw-button--active-border-color);
    outline: solid var(--ilw-button--active-border-color) 2px;
  }

  &.il-white-blue {
    --ilw-button--background-color: white;
    --ilw-button--foreground-color: var(--il-blue);
    --ilw-button--border-color: var(--il-blue);
    --ilw-button--focused-background-color: var(--il-blue);
    --ilw-button--focused-foreground-color: white;
    --ilw-button--focused-border-color: var(--il-blue);
  }

  &.il-white-orange {
    --ilw-button--background-color: white;
    --ilw-button--foreground-color: var(--il-orange);
    --ilw-button--border-color: var(--il-orange);
    --ilw-button--focused-background-color: var(--il-orange);
    --ilw-button--focused-foreground-color: white;
    --ilw-button--focused-border-color: var(--il-orange);
  }

  &.il-blue {
    --ilw-button--background-color: var(--il-blue);
    --ilw-button--foreground-color: white;
    --ilw-button--border-color: var(--il-blue);
    --ilw-button--focused-background-color: white;
    --ilw-button--focused-foreground-color: var(--il-blue);
    --ilw-button--focused-border-color: var(--il-blue);
  }

  &.il-orange {
    --ilw-button--background-color: var(--il-orange);
    --ilw-button--foreground-color: white;
    --ilw-button--border-color: var(--il-orange);
    --ilw-button--focused-background-color: white;
    --ilw-button--focused-foreground-color: var(--il-orange);
    --ilw-button--focused-border-color: var(--il-orange);
  }
}
ilw-content[theme="gray"] {
  .il-button {
    &.il-white-orange,
    &.il-orange {
      --ilw-button--background-color: white;
      --ilw-button--foreground-color: var(--il-blue);
      --ilw-button--border-color: var(--il-blue);
      --ilw-button--focused-background-color: var(--il-blue);
      --ilw-button--focused-foreground-color: white;
      --ilw-button--focused-border-color: var(--il-blue);
    }
  }
}
